---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=5602687&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'5602687','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+pn-+6727+00000000+c5730000+r6350000+001998+5602687'],'location_call_number_id_display'=>['Butler Stacks (Enter at the Butler Circulation Desk) >> PN6727.C573 R635 1998|DELIM|6[...]
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/isbn/1563894491.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:36 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocm52060886.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:37 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/52060886.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:37 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/5602687
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"475e44221af84dc72157d875e31dc5ab"
    body:
      encoding: UTF-8
      string: "{\"5602687\":{\"condensed_holdings_full\":[{\"location_name\":\"Butler
        Stacks (Enter at the Butler Circulation Desk)\",\"location_note\":\"\",\"call_number\":\"PN6727.C573
        R635 1998\",\"status\":\"available\",\"holding_id\":[\"6714432\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}},\"donor_info\":\"Donor:
        Gift; Paul Levitz; 2012.\",\"donor_info_icon\":[{\"message\":\"Paul Levitz;
        2012.\",\"url\":\"\"}],\"summary_holdings\":\"Library has: v.1-2\"}],\"services\":[\"doc_delivery\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 15:23:38 GMT
recorded_with: VCR 2.9.3
