---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=9576776&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'9576776','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+pn-+6727+00000000+k5700000+z4585000+9576776'],'location_call_number_id_display'=>['Butler Stacks (Enter at the Butler Circulation Desk) >> PN6727.K57 Z4585|DELIM|12626104'],'lccn_display'=>['2006214209'],'acq_dt'=>'2012-08-03T00:00:00Z','title_display'=>['The Jack Kirby collector'],'item_display'=>['PN6727.K57 Z4585 | loc+pn-+6727+00000000+k5700000+z4585000+9576776 | ebn~ac~~tsxs~zzzzzzzz~fuszzzzz~0vuruzzz~qustsst~~~'],'id'=>'9576776','reverse_shelfkey'=>['ebn~ac~~tsxs~zzzzzzzz~fuszzzzz~0vuruzzz~qustsst~~~'],'clio_id_display'=>'9576776','subject_geo_facet'=>['United States'],'call_number_display'=>['PN6727.K57 Z4585'],'subject_topic_facet'=>['Kirby, Jack','Criticism and interpretation','Appreciation','Comic books, strips, etc','Cartoonists','Superhero comics','History and criticism'],'pub_place_display'=>['Raleigh, NC'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01867cas a2200529 a 4500</leader><controlfield tag="001">9576776</controlfield><controlfield tag="005">20140121191026.0</controlfield><controlfield tag="008">950208c199u9999ncuqr p       0   a0eng c</controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">  2006214209</subfield></datafield><datafield tag="012" ind1=" " ind2=" "><subfield code="l">1</subfield></datafield><datafield tag="016" ind1="7" ind2=" "><subfield code="a">016008315</subfield><subfield code="2">Uk</subfield></datafield><datafield tag="022" ind1="0" ind2=" "><subfield code="a">1932-6912</subfield><subfield code="l">1932-6912</subfield><subfield code="2">1</subfield></datafield><datafield tag="029" ind1="1" ind2=" "><subfield code="a">AU@</subfield><subfield code="b">0[...]
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/issn/1932-6912.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 18:06:15 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocm31953160.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 18:06:15 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/31953160.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 18:06:15 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/lccn/2006214209.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 18:06:15 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/9576776
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"a7ac2e4dd65e507f3a8041d94aaad8b3"
    body:
      encoding: UTF-8
      string: "{\"9576776\":{\"condensed_holdings_full\":[{\"location_name\":\"Butler
        Stacks (Enter at the Butler Circulation Desk)\",\"location_note\":\"\",\"call_number\":\"PN6727.K57
        Z4585\",\"status\":\"available\",\"holding_id\":[\"12626104\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}},\"donor_info\":\"Donor:
        Gift; John Morrow; 2013\",\"donor_info_icon\":[{\"message\":\"John Morrow;
        2013\",\"url\":\"\"}],\"summary_holdings\":\"Library has: v.6:no.23 (1999:Feb.)-v.6:no.26
        (1999:Nov.), v.8:no.30 (2000:Nov.), v.9:no.31 (2001:Mar.)-v.10:no.38 (2003:Spring),
        v.11:no.40 (2004:Summer)-v.13:no.46 (2006:Summer), v.14:no.49 (2007:Fall),
        v.15:no.51 (2008:Fall)-v.19:no.59 (2012:Summer)\"}],\"services\":[\"doc_delivery\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 18:06:18 GMT
recorded_with: VCR 2.9.3
