---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=books&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.151564</TM><Q>books</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="books" original_value="books"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="128.59.251.229" original_value="128.59.251.229"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <RES SN="1" EN="10">
        <M>3810</M>
        <WXT/><NB><NU>/search?q=books&amp;site=CUL_LibraryWeb&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;output=xml&amp;client=cul_libraryweb&amp;access=p&amp;sort=date:D:L:dl&amp;start=10&amp;sa=N&amp;filter=0</NU>
        </NB>

        <R N="1"><U>http://library.columbia.edu/locations/rbml.html</U><UE>http://library.columbia.edu/locations/rbml.html</UE><T>Rare &lt;b&gt;Book&lt;/b&gt; &amp;amp; Manuscript Library | Columbia University &lt;b&gt;...&lt;/b&gt;</T><RK>10</RK><CRAWLDATE>21 Sep 2015</CRAWLDATE><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; Rare &lt;b&gt;Book&lt;/b&gt; &amp;amp; Manuscript Library. Blue-vested canons of S. Giorgio in Alga&lt;br&gt; kneeling before Sts. &lt;b&gt;...&lt;/b&gt; Rare &lt;b&gt;Book&lt;/b&gt; &amp;amp; Manuscript Library Links. &lt;b&gt;...&lt;/b&gt;  </S><LANG>en</LANG><HAS><L/><C SZ="35k" CID="weyDUlLlxaoJ" ENC="ISO-8859-1"/></HAS></R><R N="2"><U>https://blogs.cul.columbia.edu/journalism/tag/books/</U><UE>https://blogs.cul.columbia.edu/journalism/tag/books/</UE><T>&lt;b&gt;Books&lt;/b&gt; | Journalism Library Blog</T><RK>10</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; &lt;b&gt;Books&lt;/b&gt;, Columbia University Libraries, Government Information, NYC and tagged&lt;br&gt; &lt;b&gt;Books&lt;/b&gt;, NYC.gov on 2011/09/15 by Cris. New &lt;b&[...]
[...]
