---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&form=basic&s.ff=SubjectTerms,and,1,10&s.fq=AuthorCombined:(catmull,%20ed)&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.q=catmull,%20ed&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Wed, 24 Feb 2016 15:31:46 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-18627-5
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;TSE6pyyn0xFDGsqmSnd2iNk7auw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Sprite.local-18627-5","elapsedQueryTime":
        94,"queryTime": 75,"totalRequestTime": 192,"pageCount": 1,"recordCount": 7,"query":
        {"queryString": "s.ho=t&s.fq=AuthorCombined%3A%28catmull%2C+ed%29&s.ps=10&s.ff=Language%2Cand%2C1%2C5&s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=ContentType%2Cand%2C1%2C10&s.q=catmull%2C+ed&s.pn=1&s.fvf=ContentType%2CNewspaper+Article%2Ct","pageNumber":
        1,"pageSize": 10,"isHoldingsOnlyEnabled": true,"textQueries": [{"textQuery":
        "catmull, ed","removeCommand": "removeTextQuery(catmull\\, ed)"}],"searchTerms":
        [],"textFilters": [{"textFilter": "AuthorCombined:(catmull, ed)","removeCommand":
        "removeTextFilter(AuthorCombined\\:\\(catmull\\, ed\\))"}],"rangeFilters":
        [],"facetValueFilters": [{"fieldName": "ContentType","value": "Newspaper Article","isNegated":
        true,"removeCommand": "removeFacetValueFilter(ContentType,Newspaper Article)","negateCommand":
        "negateFacetValueFilter(ContentType,Newspaper Article)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [{"fieldName": "Language","combineMode":
        "and","pageNumber": 1,"pageSize": 5,"removeCommand": "removeFacetField(Language)"},{"fieldName":
        "SubjectTerms","combineMode": "and","pageNumber": 1,"pageSize": 10,"removeCommand":
        "removeFacetField(SubjectTerms)"},{"fieldName": "ContentType","combineMode":
        "and","pageNumber": 1,"pageSize": 10,"removeCommand": "removeFacetField(ContentType)"}],"rangeFacetFields":
        [],"sort": []},"facetFields": [{"fieldName": "Language_s","displayName": "Language","combineMode":
        "and","pageNumber": 1,"pageSize": 5,"hasLimitingValue": true,"hasAppliedValue":
        false,"removeCommand": "removeFacetField(Language)","listValuesCommand": "listFacetValues(Language,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(Language)","counts": [{"value": "English","count":
        6,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(Language,English)","applyNegatedCommand": "addFacetValueFilters(Language,English:t)"},{"value":
        "Spanish","count": 1,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(Language,Spanish)","applyNegatedCommand":
        "addFacetValueFilters(Language,Spanish:t)"}]},{"fieldName": "SubjectTerms_mfacet","displayName":
        "SubjectTerms","combineMode": "and","pageNumber": 1,"pageSize": 10,"hasLimitingValue":
        true,"hasAppliedValue": false,"removeCommand": "removeFacetField(SubjectTerms)","listValuesCommand":
        "listFacetValues(SubjectTerms,and)","removeValueFiltersCommand": "removeFacetValueFilter(SubjectTerms)","counts":
        [{"value": "motion picture industry","count": 2,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,motion
        picture industry)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,motion
        picture industry:t)"},{"value": "2-pass algorithm","count": 1,"isApplied":
        false,"isNegated": false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,2-pass
        algorithm)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,2-pass
        algorithm:t)"},{"value": "aliasing","count": 1,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,aliasing)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,aliasing:t)"},{"value": "animation","count":
        1,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,animation)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,animation:t)"},[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&form=basic&s.cmd=setSort(PublicationDate:asc)&s.ff=SubjectTerms,and,1,10&s.fq=AuthorCombined:(catmull,%20ed)&s.fvf=ContentType,Newspaper%20Article,t&s.ho=t&s.pn=1&s.ps=10&s.q=catmull,%20ed&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Wed, 24 Feb 2016 15:31:47 [...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&form=basic&s.cmd=setSort(PublicationDate:desc)&s.ff=SubjectTerms,and,1,10&s.fq=AuthorCombined:(catmull,%20ed)&s.fvf=ContentType,Newspaper%20Article,t&s.ho=t&s.pn=1&s.ps=10&s.q=catmull,%20ed&s.sort=PublicationDate:asc&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      [...]
