- display_title = document.title ||= File.basename(document.url.first)

.result.document

  .row
    .title.col-sm-12

      .item_anchor
        = render '/item_number', :counter => counter

      .item_number_allowance
        = link_to display_title.html_safe, document.url.html_safe
    
  .lweb_summary.item_select_allowance=document.summary.html_safe

  - if document.mime
    .lweb_dam_document.item_select_allowance
      = dam_document_icon(document)
      = dam_document_link(document)


