.result.document
  - display_title = document.title ||= File.basename(document.url.first)
  .title= link_to display_title.html_safe, document.url.listify.first.html_safe

  .lweb_summary=document.summary.html_safe


