
.title Academic Commons

%p Academic Commons is Columbia University's digital repository where faculty, students, and staff of Columbia and its affiliate institutions can deposit the results of their scholarly work and research. Content in Academic Commons is freely available to the public.

= render :partial => "/_search/landing_pages/footer"
