.landing_main
  .title Archives

  %p Search descriptions and finding aids for more than 3,500 archival collections in six Columbia University Libraries repositories. 
  
  %p Archival collections include personal papers, institutional records, corporate archives, architectural drawings, printed ephemera, realia, and many other types of content.

.landing_side
  .landing_side_inner
  
    %h3 Guide
    
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/archives-guide/", :target => "_blank"
      
    %h3 Archives Links
    .item
      = link_to "Portal Main Page", "http://archivesportal.cul.columbia.edu"
      
    .item
      = link_to "Contact Info", "http://archivesportal.cul.columbia.edu/contact.php"
      .note Get your questions answered, or make an appointment to use the collection.
