.title Article Search

%p Articles search will perform a search for 

%ul
  %li journal articles
  %li eBooks
  %li newspapers
  %li dissertations
  %li other electronic resources
  
%p Following your initial search using the search box above, categories will appear on the left to help you refine your search.  Use those categories to focus your search by language, subject or format.

= render :partial => "/_search/landing_pages/footer"
