.landing_main
  .title Article Search

  %p Articles search will perform a search of Summon for 

  %ul
    %li journal articles
    %li eBooks
    %li newspapers
    %li dissertations
    %li other electronic resources

.landing_side
  .landing_side_inner
    %h3 Other Resources

    %dl
      %dt
      %dd In case you can't find what you're looking for through Summon, try:

    %dl
      %dt= link_to "Google Scholar", "http://scholar.google.com/"
      %dd

    %dl
      %dt= link_to "Subject Guides", "http://wwwapp.cc.columbia.edu/ldpd/rti/results?hl=1&ps=1&sb=1&ss=0&hpp=100000&hk=-1&rt=sg&qt=6&q="
      %dd


