.title Article Search

%p 
  Articles search will perform a search for 
  %strong journal articles
  , 
  %strong ebooks
  , 
  %strong newspapers
  , 
  %strong dissertations
  , and other 
  %strong electronic resources 
  #{'.'}

%p Following your initial search using the search box above, categories will appear on the left to help you refine your search.  Use those categories to focus your search by language, subject or format.

= render :partial => "/_search/landing_pages/footer"
