
.title Catalog

%p Search the Columbia University Libraries' Catalog which contains over 7.5 million items, including:
%ul
  %li books
  %li journals
  %li online resources
  %li dvds
  %li ebooks
%p Following your initial search using the search box above, categories will appear on the left to help you refine your search.  Use those categories to focus your search by format, author, library location, publication date, language, topic, or call number.

= render :partial => "/_search/landing_pages/footer"
