.landing_main

  .title Catalog

  %p Search the Columbia University Libraries' Catalog which contains over 9 million items, including:
  %ul
    %li books
    %li journals
    %li online resources
    %li dvds
    %li ebooks
