.landing_main

  .title Catalog

  %p Search the Columbia University Libraries Catalog, with over 7 million records for:
  %ul
    %li books
    %li online resources
    %li journals & newspapers
    %li conference proceedings
    %li sound recordings & scores
    %li videos
    %li archival collections & oral history transcripts
    %li online databases
    %li maps & images

.landing_side
  .landing_side_inner
    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/catalog-guide/", :target => "_blank"