.landing_main

  .title Catalog

  %p Search the Columbia University Libraries Catalog, with over 7 million records for:
  %ul
    %li books
    %li journals
    %li audio and video recordings
    %li music scores
    %li archival collections
    %li government documents
    %li maps

.landing_side
  .landing_side_inner
    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/catalog-guide/", :target => "_blank"
      
    %h3 Related Links
    .item
      =link_to "CLIO", "http://www.columbia.edu/cgi-bin/cul/resolve?clio"
    .item
      =link_to "WorldCat", "http://www.columbia.edu/cgi-bin/cul/resolve?AMS7418"
