.landing_main
  .title Databases

  %p Databases represent the over 1,000 electronic resources that Columbia University has access to, containing articles, newspapers, and many other valuable resources.

.landing_side
  .landing_side_inner
    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/databases-guide/", :target => "_blank"
