.landing_main
  .title Databases

  %p Databases content includes:
  %ul
    %li Archives and manuscripts
    %li Articles, conference Papers, dissertations, and theses
    %li Data, GIS, government documents, and statistics
    %li eBook collections
    %li Image, sound and video collections
    %li Subject help guides



.landing_side
  .landing_side_inner
    %h3 Help

    .item
      = link_to "How do I connect from off-campus?", "http://library.columbia.edu/content/libraryweb/services/faq/eresources/eresources_offcampus.html"

.landing_side
  .landing_side_inner
    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/databases-guide/", :target => "_blank"
