.landing_main.span6
  .title Dissertations




.landing_side.span3
  .landing_side_inner

    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/dissertations-guide/", :target => "_blank"
