.title eBooks

%p An eBooks search will perform a search for eBooks in multiple databases, providing you with the most complete eBook search results possible.

%p Following your initial search using the search box above, your results will display in two columns: "eBooks from Catalog" and "eBooks from Summon". Click "see all" to continue searching with the categories that appear on the left to help you refine your search. Use those categories to focus your search by language, subject or format.


= render :partial => "/_search/landing_pages/footer"
