= display_search_boxes('ebooks')

.row-fluid
  .landing_main.span8
    .title E-Books

    %p This searches:
    %ul
      %li citations and some full text for our growing collection of recently published e-books
      %li a much larger collection of mostly full-text e-books that are out of copyright, e.g. published before 1925 or a U.S. government document. 
      
    %p To search other full-text collections of recently published e-books in the humanities and social sciences, try #{link_to "Ebrary", "http://www.columbia.edu/cu/lweb/eresources/databases/5325422.html"}, or the #{link_to "Ebsco E-book Collection", "http://www.columbia.edu/cgi-bin/cul/resolve?APX1061"}; for e-books in the sciences, try #{link_to "SpringerLink", "http://www.columbia.edu/cgi-bin/cul/resolve?APU3478"}.
    
    %p See a complete list of our e-book databases.

  .landing_side.span4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide 
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/ebooks-guide/", :target => "_blank"
          %li.divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "Ebrary", "http://www.columbia.edu/cu/lweb/eresources/databases/5325422.html"
          %li=link_to "Ebsco eBook Collection", "http://www.columbia.edu/cgi-bin/cul/resolve?APX1061"
          %li=link_to "Springer Link", "http://www.columbia.edu/cgi-bin/cul/resolve?APU3478"
