.landing_main
  .title eJournals

  %p eJournals content includes:


.landing_side
  .landing_side_inner
    %h3 Help

    .item
      = link_to "How do I connect from off-campus?", "http://library.columbia.edu/content/libraryweb/services/faq/eresources/eresources_offcampus.html"

    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/databases-guide/", :target => "_blank"
