.landing_main

  .title Library Web

  Search the #{link_to("Library Website", "http://libraryweb.columbia.edu")}, which contains information on the resources of the Columbia Libraries, as well as help on research, teaching, and other subjects.


.landing_side
  .landing_side_inner
    %h3 Relevant Links

    .item
      =link_to "Library Website", "http://library.columbia.edu"

    .item
      =link_to "Columbia Spotlight", "http://blogs.cul.columbia.edu/spotlights"
      .note Keep up to the date with what's happening at the Libraries.
