.landing_main.span8

  .title Library Web site

  %p Searches the #{link_to("Library Web site", "http://library.columbia.edu")}, which contains information on the resources of the Columbia Libraries, as well as help on research, teaching, and other subjects.
  %ul
    %li For a subject librarian: consult the #{link_to("Librarian Subject Specialists", "http://library.columbia.edu/services/askalibrarian/subject_specialists.html")}


.landing_side.span4
  .well.sidebar-nav
    .nav
      %ul.nav.nav-list
        %li.nav-header Guide 
        %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/library-web-guide/", :target => "_blank"
        %li.divider

      %ul.nav.nav-list
        %li.nav-header Related Links
        %li=link_to "Library Web site", "http://library.columbia.edu"
        %li=link_to "Columbia Spotlight", "http://blogs.cul.columbia.edu/spotlights"
