.landing_main.span8
  .title Newspapers

  %p Columbia offers two main resources for finding newspapers. The above search searches both of them.

  %p Looking for a specific article? Columbia has access to Summon, which provides a full-text index of almost three hundred million newspaper articles. Queries will search the full text of the newspaper article. 

  %p In addition, we have electronic databases which offer full archives for many newspapers. If you are looking to browse a specific newspaper, or time period of newspapers, this can often be the best choice.

  %p Some of the best databases are:
  %ul
    %li Proquest
    %li ReadRI
    

.landing_side.span4
  .landing_side_inner
    
    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/articles-guide/", :target => "_blank"
    
    %h3 Other Resources

    .item
      .note  Other resources for finding newspapers:

      %ul
        %li=link_to "EBSCOhost Databases", "http://www.columbia.edu/cgi-bin/cul/resolve?clio6329559"
        %li=link_to "ProQuest", "http://www.columbia.edu/cgi-bin/cul/resolve?clio8557099"
        %li=link_to "Scopus", "http://www.columbia.edu/cgi-bin/cul/resolve?clio6273999"
        %li=link_to "Google Scholar", "http://www.columbia.edu/cgi-bin/cul/resolve?clio5119262"
        %li=link_to "Subject Guides", "http://wwwapp.cc.columbia.edu/ldpd/rti/results?hl=1&ps=1&sb=1&ss=0&hpp=100000&hk=-1&rt=sg&qt=6&q="
