.title New Arrivals

%p 
  New Arrivals searches the last six months of acquisitions in the #{datasource_switch_link('Catalog','catalog')} (books, journals, online resources, dvds, etc.).

= render :partial => "/_search/landing_pages/footer"
