= display_search_boxes('new_arrivals')

.row-fluid
  .landing_main.span8
    .title New Arrivals

    %p Searches the catalog for titles ordered or received in the past six months.  Refine your search by library location, format, language, date of publication, date of acquisition, subjects, or call number.  Press "search" without entering any search terms to browse the full database. 
    
  .landing_side.span4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide 
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/new-arrivals-guide/", :target => "_blank"
          %li.divider

