.title New Arrivals

%p Search the last three months of acquisitions in the catalog, including:
%ul
  %li books
  %li journals
  %li online resources
  %li dvds
  %li ebooks

= render :partial => "/_search/landing_pages/footer"
