.landing_main
  .title New Arrivals

  %p Search the catalog for material acquired in the last three months. Results include:
  %ul
    %li books
    %li online resources
    %li journals & newspapers
    %li conference proceedings
    %li sound recordings & scores
    %li videos
    %li archival collections & oral history transcripts
    %li online databases
    %li maps & images

.landing_side
  .landing_side_inner
    %h3 Guide
    .item
      =link_to "Search Tips", "https://blogs.cul.columbia.edu/cliobeta/guides/new-arrivals-guide/", :target => "_blank"