.landing_main
  .title Quicksearch

  %p Quicksearch performs a combined search of:
  %ul 
    %li Catalog (books, journals, online resources, dvds, etc.)
    %li Articles (journal articles, ebooks, dissertations)
    %li eBooks
    %li Library website

  %p Select #{datasource_switch_link('Catalog','catalog')}, #{datasource_switch_link('Articles','articles')}, or #{datasource_switch_link('eBooks','ebooks')} to search each resource individually.


.landing_side
  .landing_side_inner
    %h3 Latest News

    %dl
      %dt
        =link_to "Title of Link", "www.google.com"
        %dd
          Link description
      %dt
        =link_to "Title of Link", "www.google.com"
        %dd
          Link description

    %h3 CLIO Beta Blog

    %dl
      %dt
        =link_to "", "www.google.com"
        %dd
          Link description
      %dt
        =link_to "Title of Link", "www.google.com"
        %dd
          Link description
