- title "Location"

%p
  %strong Name:
  =h @location.name
%p
  %strong Found In:
  =h @location.found_in
%p
  %strong Library:
  =h @location.library_id
%p
  %strong Has Info:
  =h @location.has_info

%p
  = link_to "Edit", edit_location_path(@location)
  |
  = link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", locations_path
