.result{:class => alternating_line("catalog")}
  %abbr.unapi-id{:title => document[:id]}
  .result_title= link_to document_full_title(document), {:controller => 'catalog', :action => 'show', :id => document.id, :counter => (document_counter + 1)}
  = render :partial => "/_formats/clio/catalog_list_details", :locals => {:document => document}

