.result{class: alternating_line("catalog"), source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document)}
  .result_title= link_to document.get('title_display'), {:controller => 'catalog', :action => 'show', :id => document.id, :counter => (counter + 1)}
  = render :partial => "/_formats/clio/catalog_list_details", :locals => {:document => document}

