

-# Used for Catalog panel on QuickSearch page

/ _formats/clio/_aggregate.html.haml

-# If viewstyle is 'compact_list', try to compact the output
- saved_viewstyle_option = get_browser_option('viewstyle') || 'standard_list'

.result{class: alternating_line("catalog"), source: 'catalog', item_id: document.fetch(:id), data: document_data_attributes(document), standard_ids: extract_standard_bibkeys(document)}
  -# .result_title= link_to document.fetch('title_display', nil), {:controller => 'catalog', :action => 'show', :id => document.id, :counter => (counter + 1)}
  .result_title= link_to document.first('title_display'), {:controller => 'catalog', :action => 'show', :id => document.id, :counter => (counter + 1)}

  -# NEXT-1049 Compact view for QuickSearch results
  -# This controls the Quasi-Compact display of Catalog results in aggregates.
  -# Leave disabled for now.
  -# - if saved_viewstyle_option == 'compact_list'
  -#   = render :partial => "/_formats/clio/compact_list_details", :locals => {:document => document}
  -# - else
  -#   = render :partial => "/_formats/clio/catalog_list_details", :locals => {:document => document}
  -# This is the usual view:
  = render :partial => "/_formats/clio/catalog_list_details", :locals => {:document => document}
