- clio_id = h(document["clio_id_display"].first.to_s)

.holdings
  %h5 Available from:

  
  = render :partial => "/_formats/clio/catalog_show_holdings_online" , :locals => {:online_links => online_link_hash(document)}

  = render :partial => "/_formats/clio/catalog_show_holdings_display", :locals => {:clio_id => clio_id}

  = render :partial => "/_formats/clio/catalog_show_holdings_google", :locals => {:document => document}
