- clio_id = h(document["clio_id_display"].first.to_s)

.holdings
  .holdings_title Available from:

  = render :partial => "/_formats/clio/catalog_show_holdings_online" , :locals => {:online_links => online_link_hash(document)}

  = render :partial => "/_formats/clio/catalog_show_holdings_display", :locals => {:clio_id => clio_id}

  #show_cover.gbs_cover
    .holding
      - isbns = document["isbn_t"].listify.collect { |i| "isbn_#{i}"}.join(" ")
      %img.bookjacket{:class => isbns, :src => image_path("spacer.png")}
      .google_title Google Books
      .gbs_info
        =link_to "More info at Google books", "http://books.google.com", :class => "gbs_info_link"
      .gbs_preview
        =link_to image_tag("gb_preview.png"), "#", :alt => "Gb_preview", :class => "gbs_preview_link"

