- content_for :jstemplates do
  :javascript
    $(document).ready(function() {
      load_clio_holdings(#{clio_id});
    });

#clio_holdings
  .holdings_check
    Loading holdings from CLIO.
    %span.holding_spinner=image_tag ("ajax-indicator.gif")
  .holdings_error
    Unable to load.
    = link_to "Retry?", "#", :onclick => "javascript:load_clio_holdings(#{h(clio_id)});"
