- content_for :jstemplates do
  :javascript
    $(document).ready(function() {
      $('#clio_holdings').load('/backend/holdings/#{clio_id}');
    });


#clio_holdings
  Loading holdings from CLIO.
  =image_tag ("ajax-indicator.gif")
