
- if APP_CONFIG['simplye_enabled'] && document.simplye_link
  .holdings_section
    .holdings_title Mobile
    =link_to APP_CONFIG['simplye']['anchor_text'], document.simplye_link, class: 'simplye_link', target: '_blank'

