
- if document.simplye_link && APP_CONFIG['simplye']['enabled']
  .holdings_section
    .holdings_title SimplyE
    =link_to APP_CONFIG['simplye']['anchor_text'], document.simplye_link, class: 'simplye_link', target: '_blank'

