-# No - don't pre-load the hidden div.
-# This adds load to the Solr server and increases client traffic,
-# when we think this panel will be un-hidden only occasionally.
-# 
-# 
-# - content_for :jstemplates do
-#   :javascript
-#     $(document).ready(function() {
-#       load_nearby("#{ first_shelfkey }");
-#     });

- return unless document['shelfkey']

#nearby
  .nearby_spinner
    %br
    Loading browse list.
    %span=image_tag ("ajax-indicator.gif")
  .nearby_error
    %br
    Unable to load.
    = link_to "Retry?", "#", :onclick => "javascript:load_active_shelfkey();"
  .nearby_content




-# $('#nearby').html("<p><br>Loading...<img src='/assets/ajax-indicator.gif'></p>")
-# $("span.nearby_spinner").hide()
-# $('#nearby .nearby_error').show()
