- unless online_links.empty?
  .holding{:class => alternating_line}
    .location_box
      .location Online

    - online_links.each do |link|
      - title, url = link
      .url_link
        = image_tag("icons/online.png")
        = link_to process_online_title(title), url
