- first_shelfkey = Array(document[:shelfkey]).first

- content_for :jstemplates do
  :javascript
    $(document).ready(function() {
      load_nearby("#{ first_shelfkey }");
    });

#nearby
  .nearby_check
    Loading holdings.
    %span.holding_spinner=image_tag ("ajax-indicator.gif")
  .nearby_error
    Unable to load.
    = link_to "Retry?", "#", :onclick => "javascript:load_nearby('#{first_shelfkey}');"
