
-# _catalog_show_holdings_online.html.haml

-# Skip Hathi links found in the 856 field.
-# These will be handled by catalog_show_holdings_hathi
- online_links_except_hathi = Array(online_links.delete('HathiTrust Digital Library'))

- unless online_links_except_hathi.empty?
  #online_holdings
    .holding{:class => alternating_line}
      .location_box
        .location
          = is_database ? database_link_label(online_links) : "Online"


      - online_links.each do |link|
        .url_link
          = image_tag("icons/online.png")
          = link_to process_online_title(link[:title]), link[:url]
          %span.url_link_note= link[:note]
