.document_gallery{:class => ("last" if counter % 3 == 0)}
  %abbr.unapi-id{:title => document[:id]}
  .book_cover.grid_cover
    .cover.fake_cover
      .fake_label= link_to_source_document document, :label=> document["title_display"].listify.join("").to_s.abbreviate(40), :counter => counter

    .gbs_cover
      .gbs_thumbnail= link_to image_tag("spacer.png", :class => ("grid_bookjacket bookjacket " + document["isbn_display"].listify.collect { |x| "isbn_" + x.to_s}.join(" "))), {:controller => :catalog, :action => :show, :id => document["id"]}


  .info
    .title
      
      
      = link_to_source_document document, :label => document["title_display"].listify.join("").to_s.abbreviate(40), :counter => counter
    
    .grid_availability
      = render :partial => "availability", :locals => {:document => document, :view => params[:view] }
           
