-# FORMATS/CLIO

/ container for a SINGLE doc
.result.document{class: render_document_class(document), source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document).join(",")}

  .row
    .title.col-sm-12

      %span.coins_wrapper
        <!-- COinS -->
        %span.Z3988{:title => catalog_to_openurl_ctx_kev(document)}

      .item_anchor
        = render :partial => '/saved_lists/item_select_checkbox', :locals => {:item_id => document[:id], :counter => counter}

      .item_select_allowance
        = link_to_source_document document, :label=> document.get('title_display'), :counter => counter, :source => source
        -# This is how core Blacklight would do it...
        -# = link_to_document document, :label=>document_show_link_field(document), :counter => counter


  / main container for doc partial view

  .row

    .details.col-sm-10
      = render :partial => "/_formats/clio/catalog_list_details", :locals => {:document => document}

    .doc_bookjacket.col-sm-2.hidden-xs
      =image_tag("spacer.png", :class => "list_view bookjacket " + extract_standard_bibkeys(document).listify.collect { |x| "id_" + x.to_s.gsub(':','')}.join(" "))
