
%div= document.fetch('author_display', nil) || document.fetch('author_vern_display', nil)

%div= document.fetch('full_publisher_display', nil)

%div= holdings_compact(document)

%div= formats_with_icons(document)

