-# FORMATS/CLIO
-# for search-results listing
-# overloaded for use with call-number browse

-# no, stop using this partial for browsing, don't overload functionality/parms so much 
-# -# What to use for our document link label?
-# -# Usually the title, but if we're browsing by call-number, use the call_number
-# - document_link_label = document.get('title_display')
-# - document_link_label = call_number if local_assigns.has_key? :call_number
-# - highlight ||= false
-# -# And, if we didn't use "title" for the link label, we need to tell
-# -#  the "details" partial that it needs to show the title, via this:
-# - show_title = local_assigns.has_key? :call_number



/ _formats/clio/_standard_list_item.html.haml
/ container for a SINGLE doc

-# maybe handy to have a per-item anchor?
-# %a{name: document.get(:id)}

.result.document{class: render_document_class(document), source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document).join(",")}

  .row
    .title.col-sm-12

      %span.coins_wrapper
        <!-- COinS -->
        %span.Z3988{:title => catalog_to_openurl_ctx_kev(document)}

      .item_anchor
        = render '/saved_lists/item_select_checkbox', item_id: document[:id], counter: counter

      .item_select_allowance
        -# This is how core Blacklight would do it...
        -# = link_to_document document, :label=>document_show_link_field(document), :counter => counter
        -# Just use the title?
        = link_to_source_document document, :label=> document.get('title_display'), :counter => counter, :source => source


  / main container for doc partial view
  .row

    .details.col-sm-10
      = render "/_formats/clio/catalog_list_details", document: document

    .doc_bookjacket.col-sm-2.hidden-xs
      =image_tag("spacer.png", :class => "list_view bookjacket " + extract_standard_bibkeys(document).listify.collect { |x| "id_" + x.to_s.gsub(':','')}.join(" "))


