config/database.yml
config/solr.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.log
*.pid
tmp/**/*
private/**
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
jetty/logs/*
jetty/solr/data/*
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
