config/database.yml
config/app_config.yml
config/solr.yml
config/blacklight.yml
config/secrets.yml
config/recapftp_rsa
config/initializers/secret_token.rb
config/*.sphinx.conf
config/s3_credentials.yml
config/initializers/computer_specific_config.rb
*~
*.cache
*.log
*.log.*
*.pid
tmp/**/*
tmp/*
*.sqlite3-journal
private/**
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
jetty/
coverage/*
db/*.sqlite3
*.tmproj
*.ruby-version*
*.rvmrc*
*.sw?
.sass-cache/**/*
public/clicktale
public/assets
spec/reports
spec/examples.txt
token.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
TUNNELS
EXAMPLES.txt
