

UNUSED???
UNUSED???
UNUSED???
UNUSED???

.show
  -#= render 'show_constraints', :localized_params=>session[:search]


  = render_document_view(document, :template => "articles_show", :format => "summon")
