%li.dropdown.menu.top_nav_ask_a_librarian
  %a{href: 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031', target: '_blank'} 
    Ask a Librarian &nbsp;
    %span.glyphicon.glyphicon-new-window.icon-white


