%li.dropdown.menu
  %a.dropdown-toggle.menu{data: {toggle: "dropdown"}, :href => "#", :title => "Links @ Columbia"}
    %span.topbarlogo
      %span.visible-xs
        CLIO Links
        %b.caret
      %span.hidden-xs
        =image_tag "ldpd-toolkit/crown-bts-24x24.png", :alt => "CU"
        Columbia University Libraries<span id="topbarslash">/</span>Information Services
        %b.caret
  %ul.dropdown-menu.menu-dropdown
    %li
      %a{:href => "http://columbia.edu"} Columbia University - Home
    %li
      %a{:href => "http://library.columbia.edu"} Libraries - Home
    %li
      %a{:href => root_path} CLIO - Home
    %li.nav-divider
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?cliolegacy", :target => "_blank"} CLIO Legacy
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0182", :target => "_blank"} Course Reserves
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0012", :target => "_blank"} Borrow Direct
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0014", :target => "_blank"} ILL
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?AMS7418", :target => "_blank"} WorldCat
    %li.nav-divider
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?AMS8587", :target => "_blank"} Law Library Catalog
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?AMS8580", :target => "_blank"} Teachers College Catalog
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?APZ9144", :target => "_blank"} Numeric Data Catalog
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?clio6269876", :target => "_blank"} Spatial Data Catalog
    %li.nav-divider
    %li
      %a.dropdown-link{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031", :target => "_blank"} Ask a Librarian
    %li
      %a.dropdown-link{href: '#', class: 'feedback-popup'} Suggestions &amp; Feedback
