
%li.dropdown.menu

  %a.dropdown-toggle.menu{data: {toggle: "dropdown"}, href: "#"}
    Help
    %b.caret
  %ul.dropdown-menu.menu-dropdown
    %li
      %a{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031", :target => "_blank"} Ask a Librarian
    %li
      %a{href: 'https://blogs.cul.columbia.edu/clio/guides/'} CLIO Help
    %li
      %a{href: 'http://library.columbia.edu/content/libraryweb/help/faq.html'} FAQ
    %li
      %a{href: 'http://library.columbia.edu/content/libraryweb/help/using-this-site.html'} Website Help
    %li
      %a{href: 'http://library.columbia.edu/content/libraryweb/research/help.html'} Research Help
    %li
      %a{href: 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0006'} Report E-Resource Problems
    %li
      %a{href: 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0004'} Recommend a title for purchase
    %li
      %a{href: '#', class: 'feedback-popup'} Suggestions &amp; Feedback
