-# container for a single doc - within AGGREGATE views, e.g., QuickSearch

.result{source: 'geo', item_id: document.id}

  -# https://dlc.library.columbia.edu/catalog/ldpd:166321
  .result_title= link_to document.fetch('dc_title_s'), APP_CONFIG['geo_catalog_url'] + document.id


  / main container for doc partial view

  -# What do we want in QuickSearch panel?
  = add_row('Description', document['dc_description_s'].abbreviate(120))
  = add_row('Publisher', document['dc_publisher_s'])
  
  -# = add_row('Library Location', document['lib_repo_short_ssim'])
  -# = add_row('Name', document['lib_name_ssm'])
  -# = add_row('Format', document['lib_format_ssm'])
  -# = add_row('Digital Project', document['lib_project_short_ssim'])
  -# = add_row('Collection', document['lib_collection_ssm'])
