---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.ff=SubjectTerms,and,1,10&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Fri, 01 Jul 2016 19:07:09 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-683-51
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;lTKWxDmjCYYr/azQUArr9jEXw6U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Sprite.local-683-51","elapsedQueryTime":
        2273,"queryTime": 2257,"totalRequestTime": 2407,"pageCount": 149822523,"recordCount":
        1498225222,"query": {"queryString": "s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=ContentType%2Cand%2C1%2C10","pageNumber":
        1,"pageSize": 10,"textQueries": [],"searchTerms": [],"textFilters": [],"rangeFilters":
        [],"facetValueFilters": [],"inclusiveFacetValueFilters": [],"facetValueGroupFilters":
        [],"facetFields": [{"fieldName": "SubjectTerms","combineMode": "and","pageNumber":
        1,"pageSize": 10,"removeCommand": "removeFacetField(SubjectTerms)"},{"fieldName":
        "Language","combineMode": "and","pageNumber": 1,"pageSize": 5,"removeCommand":
        "removeFacetField(Language)"},{"fieldName": "ContentType","combineMode": "and","pageNumber":
        1,"pageSize": 10,"removeCommand": "removeFacetField(ContentType)"}],"rangeFacetFields":
        [],"sort": []},"facetFields": [{"fieldName": "Language_s","displayName": "Language","combineMode":
        "and","pageNumber": 1,"pageSize": 5,"hasLimitingValue": true,"hasAppliedValue":
        false,"removeCommand": "removeFacetField(Language)","listValuesCommand": "listFacetValues(Language,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(Language)","counts": [{"value": "English","count":
        1190169763,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(Language,English)","applyNegatedCommand": "addFacetValueFilters(Language,English:t)"},{"value":
        "German","count": 107771152,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(Language,German)","applyNegatedCommand":
        "addFacetValueFilters(Language,German:t)"},{"value": "Chinese","count": 61758316,"isApplied":
        false,"isNegated": false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(Language,Chinese)","applyNegatedCommand":
        "addFacet[...]
