---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.ff=SubjectTerms,and,1,10&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 22 Sep 2015 19:33:24 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-1824-56
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;CjN3rE6EYpof0KDgdLlq3HEEVws=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: "{\"version\": \"2.0.0\",\"sessionId\": \"SUMMON-SESSION-Sprite.local-1824-56\",\"elapsedQueryTime\":
        2112,\"queryTime\": 2100,\"totalRequestTime\": 2181,\"pageCount\": 134455495,\"recordCount\":
        1344554948,\"query\": {\"queryString\": \"s.ps=10&s.ff=ContentType%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=SubjectTerms%2Cand%2C1%2C10&s.pn=1\",\"pageNumber\":
        1,\"pageSize\": 10,\"textQueries\": [],\"searchTerms\": [],\"textFilters\":
        [],\"rangeFilters\": [],\"facetValueFilters\": [],\"inclusiveFacetValueFilters\":
        [],\"facetValueGroupFilters\": [],\"facetFields\": [{\"fieldName\": \"ContentType\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(ContentType)\"},{\"fieldName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"removeCommand\":
        \"removeFacetField(Language)\"},{\"fieldName\": \"SubjectTerms\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(SubjectTerms)\"}],\"rangeFacetFields\":
        [],\"sort\": []},\"facetFields\": [{\"fieldName\": \"Language_s\",\"displayName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"hasLimitingValue\":
        true,\"hasAppliedValue\": false,\"removeCommand\": \"removeFacetField(Language)\",\"listValuesCommand\":
        \"listFacetValues(Language,and)\",\"removeValueFiltersCommand\": \"removeFacetValueFilter(Language)\",\"counts\":
        [{\"value\": \"English\",\"count\": 1108318533,\"isApplied\": false,\"isNegated\":
        false,\"isFurtherLimiting\": true,\"applyCommand\": \"addFacetValueFilters(Language,English)\",\"applyNegatedCommand\":
        \"addFacetValueFilters(Language,English:t)\"},{\"value\": \"German\",\"count\":
        86682152,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\":
        true,\"applyCommand\": \"addFacetValueFilters(Language,German)\",\"applyNegatedCommand\":
        \"addFacetValueFilters(Language,German:t)\"},{\"value\": \"Chinese\",\"count\":
        55027737,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\":
        true,\"applyCommand\": \"addFacetValueFilters(Languag[...]
