/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 15, ../../../app/stylesheets/application.sass */
.refine_call_number {
  padding-left: 0.5em;
}

/* line 18, ../../../app/stylesheets/application.sass */
.refine_call_title {
  margin-top: 1em;
  font-weight: bold;
}

/* line 25, ../../../app/stylesheets/application.sass */
.cuCrown {
  background: url(../../images/crown.w18h14.white.gif) no-repeat;
  padding-left: 22px;
  margin-left: 5px;
}

/* line 30, ../../../app/stylesheets/application.sass */
body {
  background: white;
  font: 0.75em "Lucida Grande", "Lucida Sans Unicode", Verdana, "Arial Unicode MS", Arial, sans-serif;
  line-height: 1.5;
}

/* line 35, ../../../app/stylesheets/application.sass */
html.blank_layout {
  background: white;
}

/* line 38, ../../../app/stylesheets/application.sass */
body.blank_layout {
  background: white;
}

/* line 41, ../../../app/stylesheets/application.sass */
#doc, #doc2, #doc3, #doc4 {
  background: white;
}

/* line 44, ../../../app/stylesheets/application.sass */
html {
  background: white;
}

/* line 47, ../../../app/stylesheets/application.sass */
body {
  padding: 0em;
}

/* line 49, ../../../app/stylesheets/application.sass */
#hd {
  padding: 0em 0em;
  margin: 0;
}
/* line 53, ../../../app/stylesheets/application.sass */
#hd .yui-g {
  padding: 15px 4px 15px 4px;
}

/* line 56, ../../../app/stylesheets/application.sass */
#bd {
  min-height: 400px;
  padding: 0 4px 2em 4px;
}

/* line 60, ../../../app/stylesheets/application.sass */
#intro-text {
  min-height: 250px;
}

/* line 63, ../../../app/stylesheets/application.sass */
.clio_toolbar {
  padding: 4px;
  height: 22px;
  background-color: #2d2a62;
  color: white;
}
/* line 70, ../../../app/stylesheets/application.sass */
.clio_toolbar a {
  border-bottom: none;
  color: white;
}
/* line 74, ../../../app/stylesheets/application.sass */
.clio_toolbar .right_toolbar {
  float: right;
}

/* line 78, ../../../app/stylesheets/application.sass */
.closed_icon {
  vertical-align: bottom;
}

/* line 82, ../../../app/stylesheets/application.sass */
.location_popup {
  width: 600px;
  text-align: left;
  font-size: 1.2em;
}
/* line 87, ../../../app/stylesheets/application.sass */
.location_popup .comment {
  padding-bottom: 1em;
}
/* line 90, ../../../app/stylesheets/application.sass */
.location_popup .header {
  padding-left: 0.5em;
  background-color: #cccccc;
  font-size: 1.5em;
  color: white;
  margin-bottom: 1em;
}
/* line 97, ../../../app/stylesheets/application.sass */
.location_popup .section_header {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
/* line 101, ../../../app/stylesheets/application.sass */
.location_popup .hours_link {
  display: inline;
  font-size: 0.75em;
}
/* line 107, ../../../app/stylesheets/application.sass */
.location_popup .links .link {
  display: inline;
  padding: 0 0.1em 0 0.1em;
}
/* line 112, ../../../app/stylesheets/application.sass */
.location_popup .location_sidebar {
  float: right;
  margin-left: 2em;
}
/* line 10, ../../../app/stylesheets/application.sass */
.location_popup .location_sidebar .even {
  background-color: "#ffffff";
}
/* line 12, ../../../app/stylesheets/application.sass */
.location_popup .location_sidebar .odd {
  background-color: "#f0f0f0";
}
/* line 118, ../../../app/stylesheets/application.sass */
.location_popup .day_listing {
  padding: 0.3em 0 0.3em;
}
/* line 121, ../../../app/stylesheets/application.sass */
.location_popup .day_listing .weekday {
  float: left;
  padding-left: 5px;
  width: 60px;
}
/* line 126, ../../../app/stylesheets/application.sass */
.location_popup .day_listing .hours {
  text-align: left;
  width: 100px;
  margin-left: 60px;
}
/* line 131, ../../../app/stylesheets/application.sass */
.location_popup .day_listing .hours_note {
  padding-left: 0.5em;
  clear: both;
  font-style: italic;
}
/* line 136, ../../../app/stylesheets/application.sass */
.location_popup .map {
  margin-top: 1em;
}

/* line 144, ../../../app/stylesheets/application.sass */
.change_view {
  float: left;
}

/* line 147, ../../../app/stylesheets/application.sass */
#footnotes_debug {
  background: white;
}

/* line 150, ../../../app/stylesheets/application.sass */
#startOverLink {
  padding-top: 5px;
}

/* line 153, ../../../app/stylesheets/application.sass */
div.folder_toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 156, ../../../app/stylesheets/application.sass */
ul.folderTools {
  display: block;
  float: none;
}
/* line 160, ../../../app/stylesheets/application.sass */
ul.folderTools li {
  float: none;
  list-style: none;
  display: inline;
}
/* line 164, ../../../app/stylesheets/application.sass */
ul.folderTools li form {
  display: inline;
}

/* line 166, ../../../app/stylesheets/application.sass */
.pageEntriesInfo {
  padding-right: 150px;
  padding-bottom: 0px;
}

/* line 169, ../../../app/stylesheets/application.sass */
#show_folder_control {
  margin-top: 1em;
}
/* line 171, ../../../app/stylesheets/application.sass */
#show_folder_control .addFolder, #show_folder_control .deleteFolder {
  float: none;
}

/* line 175, ../../../app/stylesheets/application.sass */
#show_previousNextDocument .previous_next {
  margin-top: 0.5em;
}

/* line 177, ../../../app/stylesheets/application.sass */
.back_to_catalog {
  float: right;
}

/* line 179, ../../../app/stylesheets/application.sass */
.show_start_over {
  float: right;
}

/* line 182, ../../../app/stylesheets/application.sass */
a.folder_link_submit {
  border-bottom: none;
}
/* line 185, ../../../app/stylesheets/application.sass */
a.folder_link_submit span.folder_link_text {
  vertical-align: 20%;
  padding-left: 2px;
  border-bottom: 1px dotted #aaaaaa;
}

/* line 189, ../../../app/stylesheets/application.sass */
#holdings {
  clear: both;
  margin-top: 2em;
}
/* line 193, ../../../app/stylesheets/application.sass */
#holdings .holding {
  padding: 0.5em 0.5em 0.5em 1em;
}
/* line 195, ../../../app/stylesheets/application.sass */
#holdings .holding0 {
  background-color: #f6f6f6;
}
/* line 198, ../../../app/stylesheets/application.sass */
#holdings #holdings_header {
  padding-bottom: 1em;
}
/* line 200, ../../../app/stylesheets/application.sass */
#holdings #holdings_header #holdings_title {
  font-weight: bold;
  font-size: 1.25em;
  display: inline;
  padding-bottom: 1em;
}
/* line 207, ../../../app/stylesheets/application.sass */
#holdings #holdings_header #location_guide {
  padding-left: 0.5em;
  display: inline;
}
/* line 211, ../../../app/stylesheets/application.sass */
#holdings .hours {
  float: right;
  padding-right: 15px;
}
/* line 214, ../../../app/stylesheets/application.sass */
#holdings .call_number {
  float: right;
}
/* line 217, ../../../app/stylesheets/application.sass */
#holdings .status {
  padding-left: 2em;
  font-style: italic;
}

/* line 221, ../../../app/stylesheets/application.sass */
.show_value {
  overflow: hidden;
}
/* line 223, ../../../app/stylesheets/application.sass */
.show_value .left_value {
  float: left;
  color: #888888;
  text-align: right;
  width: 100px;
  margin-bottom: -2000px;
  padding: 0px 10px 2004px 0px;
}
/* line 232, ../../../app/stylesheets/application.sass */
.show_value .right_value {
  float: left;
  width: 300px;
  margin-bottom: -2000px;
  padding-bottom: 2004px;
}

/* line 238, ../../../app/stylesheets/application.sass */
#show_document {
  overflow: hidden;
}

/* line 241, ../../../app/stylesheets/application.sass */
#show_cover {
  display: none;
  float: left;
  margin-left: 2em;
  margin-right: 2em;
}

/* line 248, ../../../app/stylesheets/application.sass */
.gbs_preview {
  display: none;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}
/* line 254, ../../../app/stylesheets/application.sass */
.gbs_preview a {
  border-bottom: none;
}

/* line 257, ../../../app/stylesheets/application.sass */
li.gbs_info {
  display: none;
}

/* line 260, ../../../app/stylesheets/application.sass */
#show_cover.book_cover {
  float: left;
  width: 130px;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}

/* line 266, ../../../app/stylesheets/application.sass */
.grid_cover.book_cover {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

/* line 270, ../../../app/stylesheets/application.sass */
.values {
  float: left;
  width: 410px;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}

/* line 278, ../../../app/stylesheets/application.sass */
.grid_cover {
  height: 125px;
  width: 90px;
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}

/* line 286, ../../../app/stylesheets/application.sass */
.fake_cover {
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: absolute;
  top: 21px;
  left: 7px;
  right: 7px;
  padding: 7px 0;
  color: #333333;
}

/* line 297, ../../../app/stylesheets/application.sass */
.gbs_cover {
  display: none;
}

/* line 300, ../../../app/stylesheets/application.sass */
.grid_view {
  background: white;
}
/* line 303, ../../../app/stylesheets/application.sass */
.grid_view .document_gallery {
  margin-bottom: 3em;
}
/* line 308, ../../../app/stylesheets/application.sass */
.grid_view .document_gallery .grid_bookjacket {
  height: 125px;
  width: 90px;
  padding: 0;
}
/* line 314, ../../../app/stylesheets/application.sass */
.grid_view .document_gallery .info {
  margin: 3px 0.5em 0 0.5em;
  height: 7em;
  position: relative;
  overflow: hidden;
}
/* line 320, ../../../app/stylesheets/application.sass */
.grid_view .document_gallery .info .title {
  font-weight: bold;
  min-height: 3em;
  margin-bottom: 1em;
}

/* line 326, ../../../app/stylesheets/application.sass */
dl.defList_in_grid {
  overflow: auto;
  padding: 0.5em 0;
}
/* line 330, ../../../app/stylesheets/application.sass */
dl.defList_in_grid dt {
  float: left;
  text-align: right;
  width: 20%;
  clear: both;
  color: #888888;
  margin: 0;
  padding: 2px 1em 2px 0px;
}
/* line 339, ../../../app/stylesheets/application.sass */
dl.defList_in_grid dd {
  text-align: left;
  margin: 0;
  padding: 2px 0;
}

/* line 345, ../../../app/stylesheets/application.sass */
img.bookjacket.list_view {
  float: right;
  height: 80px;
  width: 52px;
  padding: 1em;
}

/* line 352, ../../../app/stylesheets/application.sass */
a#feedLink {
  display: inline;
  text-decoration: none;
  border-bottom: none;
}
/* line 358, ../../../app/stylesheets/application.sass */
a#feedLink img {
  position: static;
  padding-left: 3px;
}

/* line 364, ../../../app/stylesheets/application.sass */
h1.site_title {
  background: transparent url("../../images/clio-spectrum.png") no-repeat top left;
  margin: 0 0 0 0em;
  height: 50px;
  width: 218px;
}

/* line 371, ../../../app/stylesheets/application.sass */
#show_folder_control.documentFunctions {
  float: none;
  margin-left: 0em;
  margin-top: 0.5em;
}

/* line 376, ../../../app/stylesheets/application.sass */
#contactable {
  background-image: url(../../images/contact.png);
  color: white;
  background-color: #333333;
  cursor: pointer;
  height: 102px;
  left: 0;
  margin-left: -5px;
  *margin-left: -5px;
  overflow: hidden;
  position: fixed;
  *position: absolute;
  text-indent: -100000px;
  top: 102px;
  *margin-top: 10px;
  width: 44px;
  z-index: 100000;
}

/* line 397, ../../../app/stylesheets/application.sass */
form#contactForm {
  background-color: #333333;
  border: 2px solid white;
  color: white;
  height: 555px;
  left: 0;
  margin-left: -400px;
  *margin-left: -434px;
  margin-top: -160px;
  overflow: hidden;
  padding-left: 30px;
  position: fixed;
  top: 200px;
  width: 360px;
  *width: 394px;
  z-index: 99;
}
/* line 414, ../../../app/stylesheets/application.sass */
form#contactForm p {
  margin-bottom: 2em;
}
/* line 417, ../../../app/stylesheets/application.sass */
form#contactForm input, form#contactForm textarea {
  background: white none repeat scroll 0 0;
  outline-style: none;
  outline-width: medium;
  width: 325px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  font-size: 1em;
}
/* line 426, ../../../app/stylesheets/application.sass */
form#contactForm h2 {
  padding-right: 1em;
}
/* line 428, ../../../app/stylesheets/application.sass */
form#contactForm label {
  color: white;
}
/* line 430, ../../../app/stylesheets/application.sass */
form#contactForm .submit {
  background: #f5410f none repeat scroll 0 0;
  outline-style: none;
  outline-width: medium;
  width: 337px;
  padding: 5px;
  border: 3px solid #f52d0f;
  outline-color: -moz-use-text-color;
  font-size: 1em;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Helvetica;
  margin-top: 10px;
}
/* line 445, ../../../app/stylesheets/application.sass */
form#contactForm p {
  width: 325px;
  font-size: 0.9em;
}

/* line 449, ../../../app/stylesheets/application.sass */
#contactForm .red {
  color: #f5410f;
}

/* line 452, ../../../app/stylesheets/application.sass */
#contact_overlay {
  background-color: #666666;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

/* line 464, ../../../app/stylesheets/application.sass */
.error, #name.error, #email.error, #comment.error {
  background-color: #edbe9c;
}

/* line 468, ../../../app/stylesheets/application.sass */
form#contactForm label {
  *margin-left: 20px;
}
/* line 470, ../../../app/stylesheets/application.sass */
form#contactForm #contact_loading {
  background: url(../../images/ajax-loader.gif) no-repeat;
  width: 55px;
  height: 55px;
  margin: 100px auto;
  display: none;
}

/* line 477, ../../../app/stylesheets/application.sass */
#contact_callback {
  font-size: 1.5em;
  color: white;
  width: 325px;
  margin: 100px auto;
  display: none;
}

/* line 484, ../../../app/stylesheets/application.sass */
.holder {
  margin: 0 auto;
  *margin-left: 20px;
  padding-top: 20px;
}
