/* line 1, ../../../app/stylesheets/print.sass */
#hd {
  display: none;
}

/* line 4, ../../../app/stylesheets/print.sass */
#contact {
  display: none;
}

/* line 7, ../../../app/stylesheets/print.sass */
#ft {
  display: none;
}

/* line 10, ../../../app/stylesheets/print.sass */
#appliedParams {
  display: none;
}

/* line 13, ../../../app/stylesheets/print.sass */
.gbs_preview_link {
  display: none;
}

/* line 16, ../../../app/stylesheets/print.sass */
.bookjacket {
  display: none;
}

/* line 19, ../../../app/stylesheets/print.sass */
#bd .sidebar {
  display: none;
  width: 0;
}

/* line 23, ../../../app/stylesheets/print.sass */
.yui-t2 #yui-main .yui-b {
  margin-left: 0;
  border-left: none;
}

/* line 27, ../../../app/stylesheets/print.sass */
.documentFunctions {
  display: none;
}

/* line 30, ../../../app/stylesheets/print.sass */
.bookjacket {
  height: 80px;
}

/* line 32, ../../../app/stylesheets/print.sass */
.document {
  padding-bottom: 2em;
  border: none;
}

/* line 36, ../../../app/stylesheets/print.sass */
.show {
  display: none;
}

/* line 39, ../../../app/stylesheets/print.sass */
.document .yui-gc .yui-u {
  display: none;
}

/* line 42, ../../../app/stylesheets/print.sass */
.document .yui-gc .yui-u.first {
  display: block;
}

/* line 45, ../../../app/stylesheets/print.sass */
.folderTools {
  display: none;
}

/* line 47, ../../../app/stylesheets/print.sass */
#search {
  display: none;
}

/* line 50, ../../../app/stylesheets/print.sass */
.pageEntriesInfo {
  display: none;
}

/* line 53, ../../../app/stylesheets/print.sass */
#sortAndPerPage {
  display: none;
}

/* line 56, ../../../app/stylesheets/print.sass */
.pagination {
  display: none;
}

/* line 58, ../../../app/stylesheets/print.sass */
.value {
  clear: both;
}

/* line 60, ../../../app/stylesheets/print.sass */
dl.defList_in_grid dt {
  width: 10em;
  display: inline;
}

/* line 63, ../../../app/stylesheets/print.sass */
dl.defList_in_grid dd {
  display: inline;
  padding-left: 1em;
  margin-left: 2em;
}
