/ container for a single doc 
.document.result{:class => render_document_class(document) }
    
  %abbr.unapi-id{:title => document[:id]}
  .title= link_to_source_document document, :label=> document_full_title(document),  :counter => counter

      
  / main container for doc partial view 

  .details.span10
    = render :partial => "/_formats/database/catalog_list_details", :locals => {:document => document}
  
  .doc_bookjacket
    =image_tag("spacer.png", :class => "list_view bookjacket " + document["isbn_txt"].listify.collect { |x| "isbn_" + x.to_s}.join(" "))
