-# FORMATS/DATABASE

/ container for a SINGLE doc
.result.document.database_record{class: render_document_class(document), source: 'catalog', item_id: document.fetch(:id), data: document_data_attributes(document), standard_ids: extract_standard_bibkeys(document).join(",")}

  .row
    .title.col-sm-12
      = render '/coins', document: document

      .item_anchor
        = render :partial => '/saved_lists/item_select_checkbox', :locals => {:item_id => document[:id], :counter => counter}

      .item_select_allowance
        = link_to_source_document document, :label=> document.fetch('title_display', nil), :counter => counter

  / main container for doc partial view

  .row

    -# Databases never have book-jackets, or, if they ever maybe do, they're not important.
    -# So, give all 12 columns over to the bibliographic details.
    .details.col-sm-12
      = render :partial => "/_formats/database/catalog_list_details", :locals => {:document => document}

    -# .doc_bookjacket.col-sm-2
    -#   =image_tag("spacer.png", :class => "list_view bookjacket " + document["isbn_display"].listify.collect { |x| "id_" + x.to_s}.join(" "))
