- if can?(:manage, ItemAlert)
  #show_alert_management
    %h3 Manage Item Alerts

    %table.table#current_alerts

      %tr
        %th Alert Type
        %th Author
        %th Duration
        %th.message_column Message
        %th.action_column 
          - if document.get("_item_alerts")
            - document.get("_item_alerts").keys.sort.collect { |alert_type| document["_item_alerts"][alert_type]}.flatten.each do |alert|
              = render :partial => "/item_alerts/show_table_row", :locals => {:item_alert => alert}
      %tr.add_row
        %td.info{:colspan => 5} 
          %btn.btn.add_row_button
            %i.icon-plus
            Add Alert

    #create_alert.edit_form
      - item_alert = ItemAlert.new('source' => 'catalog', :author_id => current_user.id, 'item_key' => document.get('id') )
      = render :partial => "/item_alerts/form", :locals => {:item_alert => item_alert, :remote => true}


