-# FORMATS/DATABASE

/ container for a single doc
.result.document{class: render_document_class(document), source: 'catalog', item_id: document.get(:id), standard_ids: extract_standard_bibkeys(document).join(",")}

  .row-fluid

    .title.span11
      %span.coins_wrapper
        <!-- COinS -->
        %span.Z3988{title: catalog_to_openurl_ctx_kev(document)}
        -# %span.Z3988{:title => document.export_as_openurl_ctx_kev(document_partial_name(document)).html_safe}
      = link_to_source_document document, :label=> document_full_title(document), :counter => counter

    .item_select.span1
      = render :partial => '/saved_lists/catalog_checkbox', :locals => {:item_id => document[:id]}

  / main container for doc partial view

  .row-fluid

    .details.span10
      = render :partial => "/_formats/database/catalog_list_details", :locals => {:document => document}

    .doc_bookjacket.span2
      =image_tag("spacer.png", :class => "list_view bookjacket " + document["isbn_display"].listify.collect { |x| "id_" + x.to_s}.join(" "))
