= display_search_boxes('archives')

.row
  .landing_main.col-sm-8
    .title Archives

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p This searches catalog records for archival collections from several repositories:
    %ul
      %li=link_to "Avery Library, Department of Drawing & Archives", "https://archivesportal.cul.columbia.edu/repository.php?r=nnc-a"
      %li=link_to "Barnard Archives and Special Collections", "https://archives.barnard.edu/"
      %li=link_to "Burke Library Archives at Union Theological Seminary", "https://archivesportal.cul.columbia.edu/repository.php?r=nnc-ut"
      %li=link_to "Columbia University Archives", "https://archivesportal.cul.columbia.edu/repository.php?r=nnc-ua"
      %li=link_to "Health Sciences Library Archives & Special Collections", "https://archivesportal.cul.columbia.edu/repository.php?r=nnc-m"
      %li=link_to "Rare Book & Manuscript Library", "https://archivesportal.cul.columbia.edu/repository.php?r=nnc-rb"
      %li=link_to "Starr East Asian Library Rare Books & Special Collections", "https://archivesportal.cul.columbia.edu/repository.php?r=nnc-ea"

    %p Archival collections include personal papers, institutional records, corporate archives, architectural drawings, printed ephemera, realia, and many other types of content.

    %p This source searches archival collection-level descriptions. It does not search the full-text of the associated finding aids nor any related digitized content.



  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://library.columbia.edu/collections/using-archives.html", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li= link_to "Archival Finding Aid", "https://findingaids.library.columbia.edu/"
          %li=link_to "Center for Human Rights Documentation & Research", "https://resolver.library.columbia.edu/clio7038717"
          %li=link_to "Columbia Center for Oral History", "https://library.columbia.edu/indiv/ccoh.html"
          %li=link_to "Human Rights Web Archive", "https://hrwa.cul.columbia.edu/"
          %li=link_to "Oral History Research Office Interviews Portal", "https://oralhistoryportal.cul.columbia.edu/"
