= display_search_boxes('archives')

.row
  .landing_main.col-sm-8
    .title Archives

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p{:style => "font-size: 16px;"} Search for catalog records of archival and special collections from several repositories:
    %ul
      %li=link_to "Avery Library, Department of Drawing & Archives", "https://library.columbia.edu/libraries/avery/drawings-archives.html"
      %li=link_to "Barnard Archives & Special Collections", "https://archives.barnard.edu/"
      %li=link_to "Burke Library Archives at Union Theological Seminary", "https://library.columbia.edu/libraries/burke.html"
      %li=link_to "Columbia University Archives", "https://library.columbia.edu/libraries/cuarchives.html"
      %li=link_to "C.V. Starr East Asian Library Rare Books & Special Collections", "https://library.columbia.edu/libraries/eastasian.html"
      %li=link_to "Health Sciences Library Archives & Special Collections", "https://www.library-archives.cumc.columbia.edu/"
      %li=link_to "Oral History Archives at Columbia", "https://library.columbia.edu/libraries/rbml/oral-history.html"
      %li=link_to "Rare Book & Manuscript Library", "https://library.columbia.edu/libraries/rbml.html"

    %p{:style => "font-size: 16px;"} Archival collections include personal papers, institutional records, corporate archives, architectural drawings, oral histories, printed ephemera, objects, and more.
    %p{:style => "font-size: 16px;"} CLIO searches collection-level descriptions only.
    %p{:style => "font-size: 16px;"} To search the full text of the associated finding aids, try #{link_to 'Archival Finding Aids', 'https://findingaids.library.columbia.edu/'}.
    %p{:style => "font-size: 16px;"} To search for digital content, try #{link_to 'Digital Library Collections', 'https://dlc.library.columbia.edu/'}.





  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list{:style => "font-size: 16px;"}
          %li.nav-header{:style => "color: #535353; text-transform: capitalize;"} Need Help?
          %li=link_to "Guide: Searching in CLIO", " https://library.columbia.edu/collections/search/search-clio.html"
          %li=link_to "Ask a Librarian", " https://resolver.library.columbia.edu/lweb0031"
          %li.nav-divider
        %ul.nav.nav-list{:style => "font-size: 16px;"}
          %li.nav-header{:style => "color: #535353; text-transform: capitalize;"} Related Search Tools
          %li=link_to "Archival Finding Aids", "https://findingaids.library.columbia.edu/"
          %li=link_to "AEON Special Collections Researcher Account", "https://aeon.cul.columbia.edu/"
          %li=link_to "Digital Library Collections", "https://dlc.library.columbia.edu/"
