= display_search_boxes('dissertations')

.row

  .landing_main.col-sm-8
    .title Dissertations

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p This search brings together dissertations from the library catalog and Academic Commons, the vast majority of which were produced by graduates of Columbia University and its affiliates, onto a single results page.
    %p It also searches a broader set of electronic resources via Summon, providing access to a large number of dissertations and theses from beyond Columbia.
    %p For current Columbia graduate students looking to learn more about the dissertation submission process, please visit the Web site for the #{link_to "Graduate School of Arts & Sciences' Dissertation Office", "https://gsas.columbia.edu/student-guide/dissertation"}.


  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/dissertations-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "ProQuest Dissertations & Theses Database", "https://clio.columbia.edu/databases/2554991"

