= display_search_boxes('ebooks')

.row
  .landing_main.col-sm-8
    .title E-Books

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p This page searches:
    %ul
      %li citations and some full text for our growing collection of recently published e-books
      %li a much larger collection of mostly full-text e-books that are out of copyright, e.g. published before 1925 or a U.S. government document


    %p To search other full-text collections of recently published e-books in the humanities and social sciences, try the individual resources listed in the sidebar to the right. These collections have different strengths but are interdisciplinary.
    

    %p
      %b Learn more about our efforts to expand mobile access to ebooks with the Palace Project, a free mobile app that brings together ebooks from our collection and makes them accessible all in one place.  
 
      %b=link_to "Learn More about the Palace Project", "https://blogs.cul.columbia.edu/spotlights/2022/10/26/mobile-ebook-access-expansion/"
   

    -# NEXT-1169 - Missing link on E-Books landing page
    -# %p See a complete list of our E-Book databases.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/ebooks-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "Ebook  Central", "https://resolver.library.columbia.edu/clio5325422"
          %li=link_to "Ebsco eBook Collection", "https://resolver.library.columbia.edu/APX1061"
          %li=link_to "Hathi Trust", "https://resolver.library.columbia.edu/clio8498670"
          %li=link_to "JSTOR", "https://resolver.library.columbia.edu/AMG1286"
          %li=link_to "Oxford Scholarship Online", "https://resolver.library.columbia.edu/clio5267739"
          %li=link_to "Project Muse", "https://resolver.library.columbia.edu/AMF5799"
          %li=link_to "Springer Link", "https://resolver.library.columbia.edu/APU3478"
          %li=link_to "Taylor & Francis", "https://resolver.library.columbia.edu/clio14240841"
