= display_search_boxes('ebooks')

.row
  .landing_main.col-sm-8
    .title E-Books

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p This page searches:
    %ul
      %li citations and some full text for our growing collection of recently published e-books
      %li a much larger collection of mostly full-text e-books that are out of copyright, e.g. published before 1925 or a U.S. government document


    %p To search other full-text collections of recently published e-books in the humanities and social sciences, try the individual resources listed in the sidebar to the right. These collections have different strengths but are interdisciplinary.
    
    %p
      %b Please see also, SimplyE for Columbia, a free mobile app that brings together ebooks from our collection and makes them accessible all in one place. Learn more about
      %b=link_to "SimplyE for Columbia", "http://library.columbia.edu/simplye"

   

    -# NEXT-1169 - Missing link on E-Books landing page
    -# %p See a complete list of our E-Book databases.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/ebooks-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Related Links
          %li=link_to "Ebook  Central", "http://www.columbia.edu/cgi-bin/cul/resolve?clio5325422"
          %li=link_to "Ebsco eBook Collection", "http://www.columbia.edu/cgi-bin/cul/resolve?APX1061"
          %li=link_to "Hathi Trust", "http://www.columbia.edu/cgi-bin/cul/resolve?clio8498670"
          %li=link_to "JSTOR", "http://www.columbia.edu/cgi-bin/cul/resolve?AMG1286"
          %li=link_to "Oxford Scholarship Online", "http://www.columbia.edu/cgi-bin/cul/resolve?clio5267739"
          %li=link_to "Project Muse", "http://www.columbia.edu/cgi-bin/cul/resolve?AMF5799"
          %li=link_to "Springer Link", "http://www.columbia.edu/cgi-bin/cul/resolve?APU3478"
          %li=link_to "Taylor & Francis", "http://www.columbia.edu/cgi-bin/cul/resolve?clio14240841"
