= display_search_boxes('new_arrivals')

.row
  .landing_main.col-sm-8
    .title New Arrivals

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Searches the catalog for titles ordered or received in the past six months.  Refine your search by library location, format, language, date of publication, date of acquisition, subjects, or call number.  Press "search" without entering any search terms to browse the full database.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Guide
          %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/new-arrivals-guide/", :target => "_blank"
          %li.nav-divider

        %ul.nav.nav-list
          %li.nav-header Legacy Resource
          %li= link_to "New Arrivals", "http://newarrivals.cul.columbia.edu"

