= display_search_boxes('quicksearch')

.row
  .landing_main.col-sm-8
    .title Quicksearch

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p Quicksearch searches across many collections at once.
    %p Best for: exploring a subject, getting an overview, finding various types of sources.
    %h4 What can you find with Quicksearch?
    %ul
      %li Physical and electronic books and media
      %li Journal articles and scholarly publications
      %li Columbia's digital collections and research
      %li Library website content
      %li Maps and datasets
    %h4 Need something more specific?
    %p For advanced search options or to narrow your search, choose from the Source menu on the left.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header Need Help?
          %li=link_to "Guide: Searching in CLIO", " https://library.columbia.edu/collections/search/search-clio.html"
          %li=link_to "Ask a Librarian", " https://resolver.library.columbia.edu/lweb0031"
