= display_search_boxes('quicksearch')

.row
  .landing_main.col-sm-8
    .title Quicksearch

    = render partial: '/datasource_warning', locals: {warning: warning}

    %p{:style => "font-size: 16px; margin: 0px;"} Quicksearch searches across many collections at once.
    %p{:style => "font-size: 16px; margin: 0px;"} Best for: exploring a subject, getting an overview, finding various types of sources.
    %h4{:style => "font-size: 16px;"} What can you find with Quicksearch?
    %ul{:style => "font-size: 16px;"}
      %li{:style => "font-size: 16px;"} Physical and electronic books and media
      %li{:style => "font-size: 16px;"} Journal articles and scholarly publications
      %li{:style => "font-size: 16px;"} Columbia's digital collections and research
      %li{:style => "font-size: 16px;"} Library website content
      %li{:style => "font-size: 16px;"} Maps and datasets
    %h4{:style => "font-size: 16px;"} Need something more specific?
    %p{:style => "font-size: 16px; margin: 0px;"} For advanced search options or to narrow your search, choose from the Source menu on the left.

  .landing_side.col-sm-4
    .well.sidebar-nav
      .nav
        %ul.nav.nav-list
          %li.nav-header{:style => "color: #535353; text-transform: capitalize; font-size: 16px;"} Need Help?
          %li{:style => "font-size: 16px;"}=link_to "Guide: Searching in CLIO", " https://library.columbia.edu/collections/search/search-clio.html"
          %li{:style => "font-size: 16px;"}=link_to "Ask a Librarian", " https://resolver.library.columbia.edu/lweb0031"
