---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=32468&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'32468','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+kf-+8742+00000000+m5400000+32468'],'location_call_number_id_display'=>['Lehman >> KF8742 .M54|DELIM|48846'],'lccn_display'=>['77091106'],'item_display'=>['KF8742 .M54 | loc+kf-+8742+00000000+m5400000+32468 | ebn~fk~~rsvx~zzzzzzzz~duvzzzzz~wxvtr~~~~~~~~~~~~~~'],'title_display'=>['The Supreme Court : myth and reality'],'clio_id_display'=>'32468','subject_topic_facet'=>['United States. Supreme Court'],'pub_place_display'=>['Westport, Conn'],'format'=>['Book'],'oclc_display'=>['3631303','ocm03631303'],'title_first_facet'=>['S'],'full_publisher_display'=>['Westport, Conn. : Greenwood Press, 1978.'],'pub_date_sort'=>1978,'isbn_display'=>['0313200467'],'pub_year_display'=>['1978'],'title_series_display'=>['Contributions in American studies ; no. 38'],'id'=>'32468','reverse_shelfkey'=>['ebn~fk~~rsvx~zzzzzzzz~duvzzzzz~wxvtr~~~~~~~~~~~~~~'],'call_number_display'=>['KF8742 .M54'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01132cam a2200373 i 4500</leader><controlfield tag="001">32468</controlfield><controlfield tag="005">20100225221650.0</controlfield><controlfield tag="008">801016s1978    ctu      b    001 0 eng  </controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">   77091106 </subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">0313200467</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)3631303</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocm03631303</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCG19103050-B</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="9">AAD3959CU[...]
[...]
