- docs = defined?(count) && result[:docs].respond_to?(documents) ? result[:docs].documents[0,count] : []
.results_header
  .category_title Articles
  .description
    Articles, e-books, electronic resources
  - unless result[:error]
    .search
      - if result[:count].to_i == 0
        No results found.
      - else
        #{number_with_delimiter(result[:count])} results 
        = link_to "(see all)", result[:url]
  - else
    %p Error when searching. #{result[:message]}
    %p Unicode searches do not currently work.

- unless result[:error]
  - docs.each do |doc|
    = render_document_view(doc, :template => "aggregate", :format => "article")

