.results_header
  .results_link= link_to "(more options)", result[:url]
  .category_title Hathitrust 
  .description
    Repository of digitzed books
  .search
    - if result[:count].to_i == 0
      No results found.
    - else
      Showing 1 to #{[10, result[:count]].min} of #{result[:count]}
- result[:docs].documents.each do |document|
  = render_document_view(document, :template => "aggregate", :format => "ebooks")

