.results_header
  .category_title Library Web Results 
  .results_link= link_to "(more options)", result[:url]

- result[:docs].each do |document|
  = render_document_view(document, :template => :aggregate, :format => 'lweb')

