.results_header
  .category_title Hathitrust eBooks 
  .description
    Repository of digitzed books
  .search
    - if result[:count].to_i == 0
      No results found.
    - else
      #{number_with_delimiter(result[:count])} results 
      = link_to "(see all)", result[:url]

- result[:docs].documents.each do |document|
  = render_document_view(document, :template => "aggregate", :format => "ebooks")

