.results_header
  .category_title Article Results 
  .results_link= link_to "(more options)", result[:url]
- result[:docs].documents.each do |doc|
  = render_document_view(doc, :template => "aggregate", :format => "article")

