= render :partial => "/_search/datasources", :locals => {:active => 'Quicksearch'}

- unless @results.empty?
  #quicksearch.two_lopsided
    .main_results
      .result_set
        = render :partial => "result_set_catalog", :locals => {:result => @results['catalog'] , :count => 10}

    .side_results
      .result_set
        = render :partial => "result_set_articles", :locals => {:result => @results['articles'] , :count => 3}

      .result_set
        = render :partial => "result_set_lweb", :locals => {:result => @results['lweb'] , :count => 3}
