---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=382300&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'382300','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['avefax+aa-+0735+00000000+n4000000+zc330000+382300'],'location_call_number_id_display'=>['Offsite <Avery> (Non-Circulating) Place Request for delivery >> AA735 N4 ZC33|DELIM|511019','Online >> EBOOKS|DELIM|10158201'],'pub_year_display'=>['1985'],'title_display'=>['Century Apartments : [report]'],'item_display'=>['AA735 N4 ZC33 | avefax+aa-+0735+00000000+n4000000+zc330000+382300 | p4lkp2~pp~~zswu~zzzzzzzz~cvzzzzzz~0nwwzzzz~wrxwzz~'],'id'=>'382300','reverse_shelfkey'=>['p4lkp2~pp~~zswu~zzzzzzzz~cvzzzzzz~0nwwzzzz~wrxwzz~'],'clio_id_display'=>'382300','subject_geo_facet'=>['New York (State)','New York','New York (N.Y.)'],'call_number_display'=>['AA735 N4 ZC33','EBOOKS'],'subject_topic_facet'=>['Chanin, Irwin S.','Century Apartments (New York, N.Y.)','Apartment houses','Buildings, structures, etc'],'pub_place_display'=>['New York, N.Y.'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01602cam a2200433   4500</leader><controlfield tag="001">382300</controlfield><controlfield tag="005">20100226124951.0</controlfield><controlfield tag="008">850827s1985    nyuaf    b   l000 0 eng  </controlfield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)35088165</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocm35088165</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCG85-B84564</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="9">ABR9929CU</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(NNC)382300</subfield></datafield><datafield tag="040" ind1=" " ind2=" "><subfield code="a">NNC</subfie[...]
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/513297
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"a9775ee0e2fcc118128a8bd4a182c20f"
    body:
      encoding: UTF-8
      string: "{\"513297\":{\"condensed_holdings_full\":[{\"location_name\":\"Offsite
        - Place Request for delivery within 2 business days\",\"location_note\":\"\",\"call_number\":\"812C59
        M36\",\"status\":\"available\",\"holding_id\":[\"673960\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"offsite\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 19:40:59 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/35088165.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 19:40:59 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocm35088165.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 19:41:00 GMT
[...]
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/382300
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"5289980f17c236e4f851c7fa660eacc2"
    body:
      encoding: UTF-8
      string: "{\"382300\":{\"condensed_holdings_full\":[{\"location_name\":\"Offsite
        \\u003cAvery\\u003e (Non-Circulating) Place Request for delivery\",\"location_note\":\"\",\"call_number\":\"AA735
        N4 ZC33\",\"status\":\"available\",\"holding_id\":[\"511019\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"offsite\"]},{\"location_name\":\"Online\",\"location_note\":\"\",\"call_number\":\"EBOOKS\",\"status\":\"online\",\"holding_id\":[\"10158201\"],\"copies\":[{\"items\":{},\"urls\":[{\"ind1\":\"4\",\"ind2\":\"0\",\"url\":\"http://www.neighborhoodpreservationcenter.org/db/bb_files/CA047.pdf\",\"link_text\":\"http://www.neighborhoodpreservationcenter.org/db/bb_files/CA047.pdf\"}]}],\"services\":[]}]}}"
  recorded_at: Thu, 17 Sep 2015 19:41:02 GMT
[...]
