---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=513297&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'513297','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+ps-+1303+00000000+p3000000+001920+513297','glx+812+00000000+c5900000+m3600000+513297'],'location_call_number_id_display'=>['Offsite - Place Request for delivery within 2 business days >> 812C59 M36|DELIM|673960'],'pub_year_display'=>['c1920'],'lccn_display'=>['20006374'],'title_display'=>['Moments with Mark Twain'],'item_display'=>['812C59 M36 | glx+812+00000000+c5900000+m3600000+513297 | je2~ryx~zzzzzzzz~nuqzzzzz~dwtzzzzz~uywxqs~~~~~~~~~','PS1303 .P3 1920 | loc+ps-+1303+00000000+p3000000+001920+513297 | ebn~a7~~ywzw~zzzzzzzz~awzzzzzz~zzyqxz~uywxqs~~~~~~'],'id'=>'513297','reverse_shelfkey'=>['ebn~a7~~ywzw~zzzzzzzz~awzzzzzz~zzyqxz~uywxqs~~~~~~','je2~ryx~zzzzzzzz~nuqzzzzz~dwtzzzzz~uywxqs~~~~~~~~~'],'clio_id_display'=>'513297','call_number_display'=>['812C59 M36'],'pub_place_display'=>['New York, and','London'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01076cam a22003251  4500</leader><controlfield tag="001">513297</controlfield><controlfield tag="005">20130423131323.0</controlfield><controlfield tag="008">860822s1920    nyuac         000 0 eng  </controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">   20006374 </subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)2218446</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocm02218446</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCG86-B93828</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="9">ACF4848CU</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(NNC)513297[...]
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/2218446.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |2-


        {"records":{"000663268":{"recordURL":"http:\/\/catalog.hathitrust.org\/Record\/000663268","titles":["Moments with Mark Twain,"],"isbns":[],"issns":[],"oclcs":["2218446"],"lccns":["20006374"],"publishDates":["1920"]}},"items":[{"orig":"University of Michigan","fromRecord":"000663268","htid":"mdp.39015031222501","itemURL":"http:\/\/hdl.handle.net\/2027\/mdp.39015031222501","rightsCode":"pdus","lastUpdate":"20130807","enumcron":false,"usRightsString":"Full view"},{"orig":"New York Public Library","fromRecord":"000663268","htid":"nyp.33433074813514","itemURL":"http:\/\/hdl.handle.net\/2027\/nyp.33433074813514","rightsCode":"pdus","lastUpdate":"20131009","enumcron":false,"usRightsString":"Full view"},{"orig":"Cornell University","fromRecord":"000663268","htid":"coo1.ark:\/13960\/t3jw8xr2k","itemURL":"http:\/\/hdl.handle.net\/2027\/coo1.ark:\/13960\/t3jw8xr2k","rightsCode":"pdus","lastUpdate":"20150719","enumcron":false,"usRightsString":"Full view"}]}
  recorded_at: Thu, 17 Sep 2015 19:40:58 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/isbn/0465010415.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |2-


        {"records":{"001132545":{"recordURL":"http:\/\/catalog.hathitrust.org\/Record\/001132545","titles":["Children and decent people,"],"isbns":["9780465010417","9780465010417"],"issns":[],"oclcs":["877984"],"lccns":["73082894"],"publishDates":["1974"]}},"items":[{"orig":"University of Michigan","fromRecord":"001132545","htid":"mdp.39015050732331","itemURL":"http:\/\/hdl.handle.net\/2027\/mdp.39015050732331","rightsCode":"ic","lastUpdate":"20130809","enumcron":false,"usRightsString":"Limited (search-only)"}]}
  recorded_at: Thu, 17 Sep 2015 19:40:59 GMT
recorded_with: VCR 2.9.3
