---
http_interactions:
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/6217943
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"7c619d9a342cdd3e688bf952b20bea43"
    body:
      encoding: UTF-8
      string: "{\"6217943\":{\"condensed_holdings_full\":[{\"location_name\":\"Butler
        Stacks (Enter at the Butler Circulation Desk)\",\"location_note\":\"\",\"call_number\":\"PQ145.7.T9
        U43 2007g\",\"status\":\"available\",\"holding_id\":[\"7965331\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 19:41:24 GMT
[...]
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?f.author_facet.facet.limit=6&f.format.facet.limit=6&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=31&f.lc_subclass_facet.facet.limit=501&f.location_facet.facet.limit=6&f.pub_date_sort.facet.limit=4&f.subject_era_facet.facet.limit=11&f.subject_form_facet.facet.limit=11&f.subject_geo_facet.facet.limit=11&f.subject_topic_facet.facet.limit=11&facet=true&facet.field=lc_subclass_fac[...]
