- if result.successful?
  -# - @add_row_options = row_opts.symbolize_keys! if row_opts.kind_of?(Hash)

  - truncated_documents = render_opts['count'] ? result.documents[0,render_opts['count']] : result.documents
  - if truncated_documents.empty?
    .result_empty
      %h5 No results found.
      %h5= datasource_explore_link(source)
  - else
    - truncated_documents.each_with_index do |doc, doc_index|
      = render_document_view(doc, render_opts.merge(counter: doc_index ))


- else
  .result_error
    %h5 There was an error searching this datasource. (#{result.errors})

