//  main container for facets/limits menu 
#facets.facets
  %h2 Limit your search
  - @search.facets.each do |facet|
    .facet_limit
      %h3= facet.display_name
      %ul
        %span.selected
        - facet.counts.reject { |c| c.negated? }.each do |item|
          %li 
            = facet_check_box(facet, item) 
            #{item.value} (#{number_with_delimiter(item.count, :delimiter => ".")})



