/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../../app/assets/stylesheets/a_local_application.sass */
#documents {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 15, ../../app/assets/stylesheets/a_local_application.sass */
.document {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 19, ../../app/assets/stylesheets/a_local_application.sass */
.document .details {
  display: inline;
  float: left;
  width: 77.528%;
  margin-right: 1.124%;
}
/* line 22, ../../app/assets/stylesheets/a_local_application.sass */
.document .doc_bookjacket {
  display: inline;
  float: left;
  width: 21.348%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 26, ../../app/assets/stylesheets/a_local_application.sass */
.pagination_container {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 30, ../../app/assets/stylesheets/a_local_application.sass */
#appliedParams {
  background: white;
  border: none;
  padding: 1em 0 0 0;
}
/* line 35, ../../app/assets/stylesheets/a_local_application.sass */
#appliedParams h3.label {
  display: inline;
  padding-right: 0.5em;
}

/* line 39, ../../app/assets/stylesheets/a_local_application.sass */
#intro-text {
  min-height: 250px;
}

/* line 42, ../../app/assets/stylesheets/a_local_application.sass */
.closed_icon {
  vertical-align: bottom;
}

/* line 47, ../../app/assets/stylesheets/a_local_application.sass */
.row .value .entry {
  padding-bottom: 0.25em;
}

/* line 52, ../../app/assets/stylesheets/a_local_application.sass */
.change_view {
  float: left;
}

/* line 55, ../../app/assets/stylesheets/a_local_application.sass */
#footnotes_debug {
  background: white;
}

/* line 58, ../../app/assets/stylesheets/a_local_application.sass */
#startOverLink {
  padding-top: 5px;
}

/* line 63, ../../app/assets/stylesheets/a_local_application.sass */
#show_previousNextDocument .previous_next {
  margin-top: 0.5em;
}

/* line 65, ../../app/assets/stylesheets/a_local_application.sass */
.back_to_catalog {
  float: right;
}

/* line 67, ../../app/assets/stylesheets/a_local_application.sass */
.show_start_over {
  float: right;
}

/* line 70, ../../app/assets/stylesheets/a_local_application.sass */
a.folder_link_submit {
  border-bottom: none;
}
/* line 73, ../../app/assets/stylesheets/a_local_application.sass */
a.folder_link_submit span.folder_link_text {
  vertical-align: 20%;
  padding-left: 2px;
  border-bottom: 1px dotted #aaaaaa;
}

/* line 78, ../../app/assets/stylesheets/a_local_application.sass */
a#feedLink {
  display: inline;
  text-decoration: none;
  border-bottom: none;
}
/* line 84, ../../app/assets/stylesheets/a_local_application.sass */
a#feedLink img {
  position: static;
  padding-left: 3px;
}

/* line 90, ../../app/assets/stylesheets/a_local_application.sass */
h1.site_title {
  background: transparent url(/assets/clio_beta_logos_small.png) no-repeat top left;
  margin: 1em 0 0 0em;
  height: 26px;
  width: 175px;
}
