/* line 2, ../../app/assets/stylesheets/book_cover.css.sass */
#show_document {
  overflow: hidden;
}

/* line 5, ../../app/assets/stylesheets/book_cover.css.sass */
#show_cover {
  display: none;
}
/* line 8, ../../app/assets/stylesheets/book_cover.css.sass */
#show_cover .bookjacket {
  float: right;
  padding-top: 0.5em;
  padding-right: 1em;
  width: 120px;
}
/* line 13, ../../app/assets/stylesheets/book_cover.css.sass */
#show_cover .google_title {
  padding-left: 0.5em;
}
/* line 16, ../../app/assets/stylesheets/book_cover.css.sass */
#show_cover .gbs_info {
  padding-left: 8.475%;
}
/* line 19, ../../app/assets/stylesheets/book_cover.css.sass */
#show_cover .gbs_preview {
  padding-left: 8.475%;
  text-align: left;
}

/* line 23, ../../app/assets/stylesheets/book_cover.css.sass */
.gbs_preview {
  display: none;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}
/* line 29, ../../app/assets/stylesheets/book_cover.css.sass */
.gbs_preview a {
  border-bottom: none;
}

/* line 32, ../../app/assets/stylesheets/book_cover.css.sass */
.gbs_preview_partial {
  display: none;
  padding-top: 0em;
  padding-bottom: 1em;
  text-align: left;
}

/* line 38, ../../app/assets/stylesheets/book_cover.css.sass */
.gbs_preview_full {
  display: none;
  padding-top: 0em;
  padding-bottom: 1em;
  text-align: left;
}

/* line 44, ../../app/assets/stylesheets/book_cover.css.sass */
li.gbs_info {
  display: none;
}

/* line 47, ../../app/assets/stylesheets/book_cover.css.sass */
.show_cover.book_cover {
  float: left;
  width: 130px;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}

/* line 53, ../../app/assets/stylesheets/book_cover.css.sass */
.grid_cover.book_cover {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

/* line 57, ../../app/assets/stylesheets/book_cover.css.sass */
.values {
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}

/* line 62, ../../app/assets/stylesheets/book_cover.css.sass */
.grid_cover {
  height: 125px;
  width: 90px;
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}

/* line 70, ../../app/assets/stylesheets/book_cover.css.sass */
.fake_cover {
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: absolute;
  top: 21px;
  left: 7px;
  right: 7px;
  padding: 7px 0;
  color: #333333;
}

/* line 81, ../../app/assets/stylesheets/book_cover.css.sass */
.gbs_cover {
  display: none;
}

/* line 86, ../../app/assets/stylesheets/book_cover.css.sass */
img.bookjacket.list_view {
  float: right;
  height: 80px;
  width: 52px;
  padding: 0em 1em 1em 1em;
}
