/* line 6, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.84%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  margin-top: 1em;
  background-color: #f6f6ff;
}
/* line 12, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container .box {
  padding: 6px 15px 10px 15px;
  border: 1px solid #cccccc;
}
/* line 16, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container .box.hover {
  background: #d6d6d6;
}
/* line 19, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container .box a {
  border-bottom: none;
}
/* line 21, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container #navigation {
  float: right;
  padding: 6px 0px 6px 15px;
}
/* line 25, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container #navigation div {
  display: inline;
}
/* line 27, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container #navigation .back_to_results {
  margin-right: 0.5em;
}
/* line 29, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container #navigation .previous {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/* line 32, ../../app/assets/stylesheets/catalog.css.sass */
#toolbar-container #navigation .next {
  margin-right: 0.75em;
}

/* line 35, ../../app/assets/stylesheets/catalog.css.sass */
#facets {
  padding-top: 0em;
  padding-left: 0em;
}

/* line 40, ../../app/assets/stylesheets/catalog.css.sass */
.expander_more {
  display: none;
}

/* line 47, ../../app/assets/stylesheets/catalog.css.sass */
#show-toolbar li.right.help ul li {
  margin-left: -123px;
}
/* line 50, ../../app/assets/stylesheets/catalog.css.sass */
#show-toolbar li.right {
  float: right;
  border-left: 1px solid #cccccc;
}

/* line 54, ../../app/assets/stylesheets/catalog.css.sass */
#email_form input[type=text] {
  width: 30em;
}
/* line 56, ../../app/assets/stylesheets/catalog.css.sass */
#email_form textarea {
  width: 30em;
}

/* line 59, ../../app/assets/stylesheets/catalog.css.sass */
.document {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 62, ../../app/assets/stylesheets/catalog.css.sass */
.document .fedora_title {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 1em;
}
/* line 68, ../../app/assets/stylesheets/catalog.css.sass */
.document .title {
  display: inline;
  float: left;
  width: 83.146%;
  margin-right: 1.124%;
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 1em;
}
/* line 74, ../../app/assets/stylesheets/catalog.css.sass */
.document .actions {
  display: inline;
  float: left;
  width: 15.73%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 78, ../../app/assets/stylesheets/catalog.css.sass */
.document .details {
  display: inline;
  float: left;
  width: 83.146%;
  margin-right: 1.124%;
}
/* line 80, ../../app/assets/stylesheets/catalog.css.sass */
.document .details .row {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.351%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 84, ../../app/assets/stylesheets/catalog.css.sass */
.document .details .row .label {
  display: inline;
  float: left;
  width: 12.162%;
  margin-right: 1.351%;
  text-align: top;
}
/* line 88, ../../app/assets/stylesheets/catalog.css.sass */
.document .details .row .value {
  display: inline;
  float: left;
  width: 86.486%;
  margin-right: 1.351%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 93, ../../app/assets/stylesheets/catalog.css.sass */
.document .doc_bookjacket {
  display: inline;
  float: left;
  width: 15.73%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 97, ../../app/assets/stylesheets/catalog.css.sass */
.document .lweb_summary {
  padding-left: 5.618%;
  padding-right: 28.09%;
  display: inline;
  float: left;
  width: 66.292%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 104, ../../app/assets/stylesheets/catalog.css.sass */
#clio_holdings .holdings_check {
  margin-left: 1em;
  min-height: 5em;
}
/* line 107, ../../app/assets/stylesheets/catalog.css.sass */
#clio_holdings .holdings_error {
  color: red;
  display: none;
}

/* line 110, ../../app/assets/stylesheets/catalog.css.sass */
img.availability {
  padding-right: 0.25em;
}

/* line 113, ../../app/assets/stylesheets/catalog.css.sass */
.show {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.84%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 117, ../../app/assets/stylesheets/catalog.css.sass */
.show .book_cover {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 3.448%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 121, ../../app/assets/stylesheets/catalog.css.sass */
.show .book_cover .gbs_cover {
  margin-bottom: 1em;
  margin-top: 1em;
}
/* line 124, ../../app/assets/stylesheets/catalog.css.sass */
.show .book_cover .gbs_search_form {
  display: none;
}
/* line 126, ../../app/assets/stylesheets/catalog.css.sass */
.show .main {
  display: inline;
  float: left;
  width: 74.79%;
  margin-right: 0.84%;
}
/* line 129, ../../app/assets/stylesheets/catalog.css.sass */
.show .main .values {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 133, ../../app/assets/stylesheets/catalog.css.sass */
.show .main .show_title {
  padding-left: 1em;
}
/* line 135, ../../app/assets/stylesheets/catalog.css.sass */
.show .main .row {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 139, ../../app/assets/stylesheets/catalog.css.sass */
.show .main .row .label {
  display: inline;
  float: left;
  width: 21.348%;
  margin-right: 1.124%;
}
/* line 142, ../../app/assets/stylesheets/catalog.css.sass */
.show .main .row .value {
  display: inline;
  float: left;
  width: 77.528%;
  margin-right: 1.124%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 146, ../../app/assets/stylesheets/catalog.css.sass */
.show .sidebar {
  display: inline;
  float: left;
  width: 24.37%;
  margin-right: 0.84%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 153, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding {
  margin-bottom: 1.5em;
}
/* line 155, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .location_box {
  display: inline;
  float: left;
  width: 83.051%;
  margin-right: 1.695%;
}
/* line 157, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .location_box .location {
  padding-left: 0.5em;
}
/* line 160, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .call_number {
  padding-left: 8.475%;
  padding-right: 8.475%;
  display: inline;
  float: left;
  width: 83.051%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  padding-bottom: 0.5em;
}
/* line 167, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .hours {
  display: inline;
  float: left;
  width: 15.254%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 172, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .url_link {
  padding-left: 8.475%;
  display: inline;
  float: left;
  width: 83.051%;
  margin-right: 1.695%;
  padding-right: 8.475%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 178, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .group {
  padding-left: 8.475%;
  display: inline;
  float: left;
  width: 83.051%;
  margin-right: 1.695%;
  padding-right: 8.475%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  padding-bottom: 0.5em;
}
/* line 186, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .group .message {
  text-indent: -2em;
  padding-left: 2em;
}
/* line 191, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .group .status {
  font-style: italic;
}
/* line 195, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .services {
  padding-left: 8.475%;
  display: inline;
  float: left;
  width: 83.051%;
  margin-right: 1.695%;
  padding-right: 8.475%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  font-size: 0.9em;
}
/* line 203, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .services .label {
  display: inline;
  font-weight: bold;
}
/* line 208, ../../app/assets/stylesheets/catalog.css.sass */
.holdings .holding .services .service {
  display: inline;
  padding-left: 2em;
}
