/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
/* line 6, ../../app/assets/stylesheets/colorbox.css.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 7, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 8, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 9, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxContent {
  position: relative;
  overflow: hidden;
}

/* line 10, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxLoadedContent {
  overflow: auto;
}

/* line 11, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxLoadedContent iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 12, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxTitle {
  margin: 0;
}

/* line 13, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 14, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
/* line 21, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxOverlay {
  background: url(/assets/colorbox/overlay.png) repeat 0 0;
}

/* line 23, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(/assets/colorbox/controls.png) no-repeat -100px 0;
}

/* line 24, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(/assets/colorbox/controls.png) no-repeat -129px 0;
}

/* line 25, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(/assets/colorbox/controls.png) no-repeat -100px -29px;
}

/* line 26, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(/assets/colorbox/controls.png) no-repeat -129px -29px;
}

/* line 27, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(/assets/colorbox/controls.png) left top repeat-y;
}

/* line 28, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(/assets/colorbox/controls.png) right top repeat-y;
}

/* line 29, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxTopCenter {
  height: 21px;
  background: url(/assets/colorbox/border.png) 0 0 repeat-x;
}

/* line 30, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(/assets/colorbox/border.png) 0 -29px repeat-x;
}

/* line 31, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxContent {
  background: #fff;
}

/* line 32, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
}

/* line 33, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

/* line 34, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

/* line 35, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

/* line 36, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0px;
  background: url(/assets/colorbox/controls.png) no-repeat -75px 0px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 37, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxPrevious.hover {
  background-position: -75px -25px;
}

/* line 38, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(/assets/colorbox/controls.png) no-repeat -50px 0px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 39, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxNext.hover {
  background-position: -50px -25px;
}

/* line 40, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxLoadingOverlay {
  background: url(/assets/colorbox/loading_background.png) no-repeat center center;
}

/* line 41, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxLoadingGraphic {
  background: url(/assets/colorbox/loading.gif) no-repeat center center;
}

/* line 42, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(/assets/colorbox/controls.png) no-repeat -25px 0px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 43, ../../app/assets/stylesheets/colorbox.css.scss */
#cboxClose.hover {
  background-position: -25px -25px;
}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
/* line 55, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxTopLeft {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderTopLeft.png, sizingMethod='scale');
}

/* line 56, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxTopCenter {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderTopCenter.png, sizingMethod='scale');
}

/* line 57, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxTopRight {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderTopRight.png, sizingMethod='scale');
}

/* line 58, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxBottomLeft {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');
}

/* line 59, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxBottomCenter {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');
}

/* line 60, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxBottomRight {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomRight.png, sizingMethod='scale');
}

/* line 61, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxMiddleLeft {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');
}

/* line 62, ../../app/assets/stylesheets/colorbox.css.scss */
.cboxIE #cboxMiddleRight {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');
}
