/* line 2, ../../app/assets/stylesheets/grid_view.css.sass */
.grid_view {
  background: white;
}
/* line 5, ../../app/assets/stylesheets/grid_view.css.sass */
.grid_view .document_gallery {
  margin-bottom: 3em;
}
/* line 10, ../../app/assets/stylesheets/grid_view.css.sass */
.grid_view .document_gallery .grid_bookjacket {
  height: 125px;
  width: 90px;
  padding: 0;
}
/* line 16, ../../app/assets/stylesheets/grid_view.css.sass */
.grid_view .document_gallery .info {
  margin: 3px 0.5em 0 0.5em;
  height: 7em;
  position: relative;
  overflow: hidden;
}
/* line 22, ../../app/assets/stylesheets/grid_view.css.sass */
.grid_view .document_gallery .info .title {
  font-weight: bold;
  min-height: 3em;
  margin-bottom: 1em;
}
