/* CLIObeta styles via er2576
 * temporary straight-css overrides (to be loaded last) for redesign until rewritten in SASS */
@font-face {
  font-family: "Trajan Pro";
  src: url(/assets/TrajanPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trajan Pro Bold";
  src: url(/assets/TrajanPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

/* line 19, ../../app/assets/stylesheets/redesign.css.sass */
.site_title a {
  width: auto;
}

/* line 24, ../../app/assets/stylesheets/redesign.css.sass */
#sources {
  background: transparent;
  height: 100%;
  margin-right: 0px !important;
}

/* line 32, ../../app/assets/stylesheets/redesign.css.sass */
.two_lopsided {
  padding: 0 10px;
  float: none;
}

/* line 36, ../../app/assets/stylesheets/redesign.css.sass */
.results_header {
  background: #e3e8f1;
  padding: 10px 4px 6px 4px;
  line-height: 1;
  border: 1px solid #cccccc;
}

/* line 43, ../../app/assets/stylesheets/redesign.css.sass */
.result_title {
  padding-left: 3px !important;
}

/* line 46, ../../app/assets/stylesheets/redesign.css.sass */
.results_header .category_title {
  font-family: "Trajan Pro Bold", "TrajanProBold", "TrajanPro-Bold", serif;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}
