/* line 5, ../../app/assets/stylesheets/show.css.sass */
.ui-widget a:link, .ui-widget a:visited, .ui-widget a:active, .ui-widget a:hover {
  outline: none;
}

/* line 8, ../../app/assets/stylesheets/show.css.sass */
.item_show {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.84%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 12, ../../app/assets/stylesheets/show.css.sass */
.item_show .title {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 18, ../../app/assets/stylesheets/show.css.sass */
.item_show .row {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  padding-bottom: 0.5em;
}
/* line 23, ../../app/assets/stylesheets/show.css.sass */
.item_show .label {
  display: inline;
  float: left;
  width: 23.729%;
  margin-right: 1.695%;
}
/* line 26, ../../app/assets/stylesheets/show.css.sass */
.item_show .value {
  display: inline;
  float: left;
  width: 74.576%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 30, ../../app/assets/stylesheets/show.css.sass */
.item_show .info {
  display: inline;
  float: left;
  width: 49.58%;
  margin-right: 0.84%;
  padding-top: 1em;
}
/* line 35, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings {
  display: inline;
  float: left;
  width: 49.58%;
  margin-right: 0.84%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  margin-top: 2em;
  padding: 1em 0 1em 0;
  background: #f6f6ff;
}
/* line 42, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings .holding {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 46, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings .holdings_title {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
/* line 51, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings .resource {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
}
/* line 54, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings .resource_box {
  padding-left: 0.5em;
}
/* line 57, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings .links {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  text-align: right;
}
/* line 62, ../../app/assets/stylesheets/show.css.sass */
.item_show .holdings .links a {
  margin-right: 0.5em;
}
