---
http_interactions:
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/5951061
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"bd45fe1437688e37a47b4b327b06747c"
    body:
      encoding: UTF-8
      string: "{\"5951061\":{\"condensed_holdings_full\":[{\"location_name\":\"Burke
        [UTS] Archives (Non-Circulating)\",\"location_note\":\"By appointment only.
        See the \\u003ca href=\\\"http://library.columbia.edu/locations/burke/access_circulation/special-collections-access.html\\\"
        target=\\\"_blank\\\"\\u003eBurke Library special collections page\\u003c/a\\u003e\",\"call_number\":\"MRL9
        M.I.A.U./LAB News Service\",\"status\":\"none\",\"holding_id\":[\"7243915\"],\"copies\":[{\"items\":{\"Status
        unknown\":{\"status\":\"none\",\"count\":1}}}],\"services\":[]}]}}"
  recorded_at: Thu, 17 Sep 2015 14:45:14 GMT
[...]
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/9020317
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"b8339e3cde7c8ffa444480c7545b344d"
    body:
      encoding: UTF-8
      string: "{\"9020317\":{\"condensed_holdings_full\":[{\"location_name\":\"Burke
        [UTS] MRL Reports (Non-Circulating)\",\"location_note\":\"By appointment only.
        See the \\u003ca href=\\\"http://library.columbia.edu/locations/burke/access_circulation/special-collections-access.html\\\"
        target=\\\"_blank\\\"\\u003eBurke Library special collections page\\u003c/a\\u003e\",\"call_number\":\"12-16-69\",\"status\":\"none\",\"holding_id\":[\"12089318\"],\"copies\":[{\"items\":{\"Status
        unknown\":{\"status\":\"none\",\"count\":1}},\"summary_holdings\":\"Library
        has: 1925, 1927-1930\"}],\"services\":[]},{\"location_name\":\"Burke [UTS]
        Union Stacks\",\"location_note\":\"\",\"call_number\":\"MT80 CBZ M2 A\",\"status\":\"none\",\"holding_id\":[\"12089150\"],\"copies\":[{\"items\":{\"Status
        unknown\":{\"status\":\"none\",\"count\":1}},\"summary_holdings\":\"Library
        has: 1925, 1928-1930\"}],\"services\":[]}]}}"
  recorded_at: Thu, 17 Sep 2015 14:45:14 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/10654375
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"8bcd9df1df2c3787ed00d6880d767811"
    body:
      encoding: UTF-8
      string: "{\"10654375\":{\"condensed_holdings_full\":[{\"location_name\":\"Burke
        [UTS] Tower (Non-Circulating)\",\"location_note\":\"By appointment only. See
        the \\u003ca href=\\\"http://library.columbia.edu/locations/burke/access_circulation/special-collections-access.html\\\"
        target=\\\"_blank\\\"\\u003eBurke Library special collections page\\u003c/a\\u003e\",\"call_number\":\"BV2010
        .C65 1817g\",\"status\":\"available\",\"holding_id\":[\"13716547\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}},\"notes\":\"Notes:
        Bound with other titles; for a complete listing search by the call number
        using the Call Number search.\",\"summary_holdings\":\"Library has: no.5 (1820)\"}],\"services\":[]}]}}"
  recorded_at: Thu, 17 Sep 2015 14:45:14 GMT
[...]
