---
http_interactions:
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/123456
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"4ef1317523228360052cdf13b43b508f"
    body:
      encoding: UTF-8
      string: "{\"123456\":{\"condensed_holdings_full\":[{\"location_name\":\"Offsite
        - Place Request for delivery within 2 business days\",\"location_note\":\"\",\"call_number\":\"HD1945
        .P74 1982\",\"status\":\"available\",\"holding_id\":[\"177302\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}},\"summary_holdings\":\"Library
        has: v.1 -- 1982\"}],\"services\":[\"offsite\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 14:45:15 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/763577
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"7c51973c58d680618b63836c56de28d9"
    body:
      encoding: UTF-8
      string: "{\"763577\":{\"condensed_holdings_full\":[{\"location_name\":\"Butler
        Reference,  Butler 310 \\u0026 301 (Non-Circulating)\",\"location_note\":\"\",\"call_number\":\"R341.273
        Un3\",\"status\":\"available\",\"holding_id\":[\"980107\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}},\"summary_holdings\":\"Library
        has: Indexes: 1861/99, 1900/18, 1939/1945\"}],\"services\":[]},{\"location_name\":\"Butler
        Stacks (Enter at the Butler Circulation Desk)\",\"location_note\":\"\",\"call_number\":\"JX233
        .A3\",\"status\":\"some_available\",\"holding_id\":[\"980108\"],\"copies\":[{\"items\":{\"1969/1976:v.32
        Unavailable 2014-03-31\":{\"status\":\"some_available\",\"count\":1},\"1940:v.5
        In transit to library\":{\"status\":\"some_available\",\"count\":1},\"1969/1976:v.38:pt.2
        In transit to library\":{\"status\":\"some_available\",\"count\":1}},\"notes\":\"Notes:
        For vols. 17, 18, 20 and 21 microfiche supplement for Near East, Africa microfiche
        supplement, see Microfiche FX3 6159.\",\"summary_holdings\":\"Library has:
        1927:v.2, 1929:v.1-3, 1934:v.2, 4-5, 1938:v.1, 4-5, 1939:v.1, 1940:v.5, 1941:v.1,
        4, 6-7, 1942:v.1-3, 5-6, 1943:v.1-6, 1944:v.1-7, 1945:1, 3-9, 1946:v.1-6,
        8, 10-11, 1947:v.2-4, 6-8, 1948:v.1-3, 5-9, 1949:v.1-4, 7-9, 1950:v.4-7, 1951:v.1-7,
        -- 1952/1954:v.1-5, 11-16, 1955/1957:v.1-11, 13-15, 18-25, 27, 1958/1960:v.1-19;
        1961/1963: v.1-25; 1964/1968:v.1-9, 11, 15, 17-34, 1969/1976:v.1-7, 9-12,
        14-20, 24-38:pt.1-2, 39-41, 1977/1980:v.2-3, 6, 8, 13, 21 -- Special issues:
        1919:Paris Peace Conference v.1-4, 7, 10-11; 1931/1941:Japan v.1; 1933/1939:Soviet
        Union; 1941/1943:Conferences at Washington and Casablanca; 1943:China, Conferences
        at Cairo and Tehran, Conferences at Washington and Quebec, 1944:Conference
        at Quebec, 1945:Conference of Berlin (Potsdam) v.1-2, Conferences at Malta
        and Yalta; 1950/1955:The intelligence community; 1952/1954:Guatemala\"}],\"services\":[\"recall_hold\"]},{\"location_name\":\"Lehman\",\"location_note\":\"\",\"call_number\":\"MICFICHE
        FX3 6159\",\"status\":\"none\",\"holding_id\":[\"6898133\"],\"copies\":[{\"items\":{\"Status
        unknown\":{\"status\":\"none\",\"count\":1}},\"supplements\":\"Supplements:
        1958/1960:v.3,5,11,15/16:pt.2,19, 1961/1963:v.7-15,17-18,20-22,24\",\"summary_holdings\":\"Library
        has: Microfiche.\"}],\"services\":[]},{\"location_name\":\"Offsite - Place
        Request for delivery within 2 business days\",\"location_note\":\"\",\"call_number\":\"JX233
        .A3\",\"status\":\"available\",\"holding_id\":[\"980109\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}},\"current_issues\":\"Current
        Issues: 1969/1976:v.27 added to GLX as first copy -- 1958/1960 :v. 11 Microfiche
        Suppl. At bindery -- 1958/1960 :v. 5 Microfiche Suppl. At bindery -- 1958/1960
        : v. 3 Microfiche Suppl. At bindery -- 1961/1963 : v. 22 \\u0026 24  Microfiche
        Suppl. At bindery -- 1961/1963 : v. 17-18,20-21 Microfiche Suppl. At bindery
        -- 1961/1963 : v. 13-15 Microfiche Suppl. At bindery -- 1961/1963 : v. 10
        -12 Microfiche Suppl. At bindery -- 1961/1963 : v. 7- 9  Microfiche Suppl.
 [...]
