

%h2
  System Details

%table.table.table-bordered
  - ['RUBY_VERSION', 'Rails.version', 'Blacklight.version',
     'Rails.env',
     'request.protocol', 'request.fullpath', 
     'request.url', 'request.remote_addr',
     'Process.pid', 'Process.uid',
     'clio_uptime',
     'Etc.getpwuid(Process.uid).name'].each do |i|
    %tr
      %td=i
      %td=eval(i)

%h4
  Cache Info

%table.table.table-bordered
  - ['Rails.cache.class','Rails.cache.clio_key_count', 'Rails.cache.clio_cache_size'].each do |i|
    %tr
      %td=i
      %td=eval(i)

- if Rails.cache.class.to_s == "ActiveSupport::Cache::RedisStore"
  %h4 Full Redis Cache Stats
  %pre
    = Rails.cache.stats.to_yaml

%h4
  Full SOLR_CONFIG
  %pre
    = SOLR_CONFIG.to_yaml

%h4
  Full APP_CONFIG
  %pre
    = APP_CONFIG.to_yaml

%h4
  Full ENV
  %pre
    = ENV.sort.to_h.to_yaml


