
/ container for a single doc 
.result.document.article_list
    
  .title= link_to_article document 

  .details
    = add_row('Author', document.src['Author'], :html_safe => true)
    = add_row('Citation', get_article_citation(document))
    = add_row('Format', get_article_type(document))

      
  / main container for doc partial view 

  
