    <ul class="folderTools">
      <li class="email">
      <%= link_to "Email", {:controller => :catalog, :action => :email, :id => @documents.collect {|doc| doc.get(:id)}}, :class=>"lightboxLink", :id => "emailLink" %>
      </li>
      <li class="sms">

      <%=link_to "SMS This", {:controller => :catalog, :action => :sms, :id => @documents.collect {|doc| doc.get(:id)}}, {:id => "smsLink", :name => "sms", :class => "lightboxLink"} %>
      <% if current_user %>  
        <li>
          <%= render :partial=>'catalog/bookmark_form', :locals=>{:documents=>@documents} %>
        </li>  
      <% end %>
      <li>
        <%= link_to "Clear Selected Items", clear_folder_path, :method => :delete %>
      </li>
    </ul>

