---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=8430339&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'8430339','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+bl-+0080+30000000+d7400000+002011+8430339'],'location_call_number_id_display'=>['Butler Stacks (Enter at the Butler Circulation Desk) >> BL80.3 .D74 2011|DELIM|11515363','Milstein [Butler] >> BL80.3 .D74 2011|DELIM|11580964'],'lccn_display'=>['2010021750'],'acq_dt'=>'2011-03-17T00:00:00Z','item_display'=>['BL80.3 .D74 2011 | loc+bl-+0080+30000000+d7400000+002011+8430339 | ebn~oe~~zzrz~wzzzzzzz~msvzzzzz~zzxzyy~rvwzwwq~~~~~'],'title_display'=>['All things shining : reading the Western classics to find meaning in a secular age'],'clio_id_display'=>'8430339','subject_topic_facet'=>['Religions','Religion','Meaning (Philosophy)'],'pub_place_display'=>['New York'],'format'=>['Book'],'oclc_display'=>['464593183','ocn464593183'],'title_first_facet'=>['A'],'pub_date_sort'=>2011,'full_publisher_display'=>['New York : Free Press, c2011.'],'isbn_display'=>['9781416596158','1416596151'],'pub_year_display'=>['c2011'],'id'=>'8430339','reverse_shelfkey'=>['ebn~oe~~zzrz~wzzzzzzz~msvzzzzz~zzxzyy~rvwzwwq~~~~~'],'call_number_display'=>['BL80.3 .D74 2011'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01868cam a2200457 a 4500</leader><controlfield tag="001">8430339</controlfield><controlfield tag="005">20110428163253.0</controlfield><controlfield tag="008">100525s2011    nyu      b    001 0 eng  </controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">  2010021750</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">9781416596158 (alk. paper)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">1416596151 (alk. paper)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="z">9781439101704 (ebook)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="z">1439101701 (ebook)</subfield></datafield><datafield tag="024" ind1=" " ind2=" "><subf[...]
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/isbn/9781416596158.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:22:57 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/464593183.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:22:58 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocn464593183.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:22:58 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/lccn/2010021750.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:22:58 GMT
recorded_with: VCR 2.9.3
