---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=room&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.049950</TM><Q>room</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="room" original_value="room"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="128.59.251.182" original_value="128.59.251.182"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <RES SN="1" EN="10">
        <M>3230</M>
        <NB><NU>/search?q=room&amp;site=CUL_LibraryWeb&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;output=xml&amp;client=cul_libraryweb&amp;access=p&amp;sort=date:D:L:dl&amp;start=10&amp;sa=N&amp;filter=0</NU>
        </NB>

        <R N="1"><U>https://blogs.cul.columbia.edu/business/tag/room-reservation/</U><UE>https://blogs.cul.columbia.edu/business/tag/room-reservation/</UE><T>&lt;b&gt;room&lt;/b&gt; reservation | Watson Library Blog</T><RK>10</RK><CRAWLDATE>11 Oct 2016</CRAWLDATE><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; mba mba orientation orientation private equity rating real estate research&lt;br&gt; research help &lt;b&gt;room&lt;/b&gt; reservation Statistics study &lt;b&gt;rooms&lt;/b&gt; training value line &lt;b&gt;...&lt;/b&gt;  </S><LANG>en</LANG><HAS><L/><C SZ="41k" CID="sxyj7AoM84wJ" ENC="UTF-8"/></HAS></R><R N="2"><U>https://blogs.cul.columbia.edu/business/tag/study-rooms/</U><UE>https://blogs.cul.columbia.edu/business/tag/study-rooms/</UE><T>study &lt;b&gt;rooms&lt;/b&gt; | Watson Library Blog</T><RK>10</RK><CRAWLDATE>11 Oct 2016</CRAWLDATE><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; hours – Library floor plans [The second mezzanine is an oasis of quiet study&lt;br&gt; space!] –Reserve a study &lt;b&gt;room&lt;/b&gt[...]
[...]
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=100&oe=UTF-8&output=xml&q=book&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: |
        <?xml ver[...]
[...]
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=25&oe=UTF-8&output=xml&q=library&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: |
        <?xml v[...]
