---
http_interactions:
- request:
    method: get
    uri: "<library_api_path>?locationID=alllocations&qt=location"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |2-




        {"locations":[{"zip":"","note":"Centered at 116th St. between Broadway and Amsterdam, the Morningside campus is home to most of Columbia&apos;s libraries.<br/><br/>Other library locations:<br/><a href=\"#\" onclick=\"showInfoWindow('healthsciences'); return false;\">Health Sciences Library<\/a>, <a href=\"#\" onclick=\"showInfoWindow('geoscience'); return false;\">Lamont-Doherty Geoscience Library<\/a>, <a href=\"http://library.columbia.edu/find/request/off-site.html\">Offsite Shelving Facility<\/a>","address2":"","city":"","displayName":"Columbia's Morningside Campus","address1":"","imagePath":"/content/dam/locations/culis.jpg","latitude":"40.80741","showOnMap":false,"floorRoom":"","officialName":"Columbia University - Morningside Campus","directionsURL":"http://www.columbia.edu/node/58.html","locationIDClean":"cumorningside","building":"","hoursURL":"","locationURL":"http://www.columbia.edu","phone":"","locationID":"cu-morningside","mapURL":"","state":"","fax":"","email":"","longitude":"-73.962443"},{"zip":"10027","note":"","address2":"","city":"New York","displayName":"Columbia University Libraries","address1":"535 West 114th St.","imagePath":"/content/dam/locations/culis.jpg","latitude":"40.80741","showOnMap":false,"floorRoom":"","officialName":"Columbia University Libraries / Information Services","directionsURL":"http://www.columbia.edu/node/58.html","locationIDClean":"culis","building":"","hoursURL":"http://hours.library.columbia.edu","locationURL":"http://library.columbi[...]
