---
http_interactions:
- request:
    method: get
    uri: "<library_api_path>?locationID=alllocations&qt=location"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |2-




        {"locations":[{"showOnMap":false,"zip":"","directionsURL":"http://www.columbia.edu/node/58.html","phone":"","building":"","fax":"","imagePath":"/content/dam/locations/culis.jpg","mapURL":"","state":"","address1":"","locationID":"cu-morningside","locationURL":"http://www.columbia.edu","address2":"","city":"","hoursURL":"","email":"","floorRoom":"","longitude":"-73.962443","latitude":"40.80741","displayName":"Columbia's Morningside Campus","officialName":"Columbia University - Morningside Campus","note":"Centered at 116th St. between Broadway and Amsterdam, the Morningside campus is home to most of Columbia&apos;s libraries.<br/><br/>Other library locations:<br/><a href=\"#\" onclick=\"showInfoWindow('healthsciences'); return false;\">Health Sciences Library<\/a>, <a href=\"#\" onclick=\"showInfoWindow('geoscience'); return false;\">Lamont-Doherty Geoscience Library<\/a>, <a href=\"http://library.columbia.edu/find/request/off-site.html\">Offsite Shelving Facility<\/a>","locationIDClean":"cumorningside"},{"showOnMap":false,"zip":"10027","directionsURL":"http://www.columbia.edu/node/58.html","phone":"(212) 854-7309","building":"","fax":"(212) 854-9099","imagePath":"/content/dam/locations/culis.jpg","mapURL":"","state":"NY","address1":"535 West 114th St.","locationID":"culis","locationURL":"http://library.columbia.edu","address2":"","city":"New York","hoursURL":"http://hours.library.columbia.edu","email":"","floorRoom":"","longitude":"-73.962443","latitude":"40.80741","displayName[...]
