#show_document
  #show_cover.book_cover
    .gbs_cover
      .gbs_thumbnail
        = image_tag("spacer.png", :class => "bookjacket " + document["isbn_t"].listify.collect { |x| "isbn_" + x.to_s}.join(" "))
      .gbs_preview= link_to image_tag("gb_preview.png"), "http://books.google.com", :class => "gbs_preview_link"
  .values
    = render :partial => "catalog/_show_partials/clio_values", :locals => {:document => document, :marc => document.to_marc} 


    
