- id = document[:id]

#clio_main
  = render :partial => "catalog/_show_partials/clio_main", :locals => {:document => document }
  = render :partial => "catalog/_show_partials/clio_holdings", :locals => {:document => document }




#clio_sidebar
  = render :partial => "catalog/_show_partials/clio_sidebar", :locals => {:document => document }


