- id = document[:id]

.yui-gc
  .yui-u.first
    = render :partial => "catalog/_show_partials/clio_main", :locals => {:document => document }
    = render :partial => "catalog/_show_partials/clio_holdings", :locals => {:document => document }




  .yui-u
    = render :partial => "catalog/_show_partials/clio_sidebar", :locals => {:document => document }


