 a#feedLink {display:inline; text-decoration: none; border-bottom:none}
 a#feedLink img {position:static; padding-left: 3px;}
 h1.site_title {background: transparent url('../images/clio_beta.jpg') no-repeat top left; margin: 0em 0px 0px 1em; height: 30px; width: 120px;}
