/i default partial to display solr document fields in catalog index view

.yui-ge
  .yui-u.first

    %dl.defList_in_grid.index_grid
      - if (subtitle = document.get("subtitle_display"))
        %dt Subtitle:
        %dd= h subtitle

      - if (author = document.get "author_display")
        %dt Author:
        %dd= h author

      = render :partial => "/catalog/location_and_availability_and_format", :locals => {:document => document}
  .yui-u
    =image_tag("spacer.png", :class => "list_view bookjacket " + document["isbn_t"].listify.collect { |x| "isbn_" + x.to_s}.join(" "))

      




