/i default partial to display solr document fields in catalog index view

%dl.defList
  - if (author = document.get "author_display")
    %dt Author:
    %dd= h author

  - if (pub_date = document.get "pub_date")
    %dt Published:
    %dd= h pub_date.listify.join(" , ")

  = render :partial => "location_and_availability_and_format", :locals => {:document => document}



