- @page_title = application_name + " Library Web Search"
- if @results
  
  .pagination_container
    = render :partial => '/_search/pagination', :locals => {:results => @results}
  
  #documents
    = render_documents(@results.docs, :action => "library_web", :view_style => (params[:view] || "list"))
- else

  = add_all_datasource_landing_pages
