---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=medline%20ipswich&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.043259</TM><Q>medline ipswich</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="medline ipswich" original_value="medline+ipswich"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="209.6.149.207" original_value="209.6.149.207"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <RES SN="1" EN="1">
        <M>1</M>
        <XT/><WXT/>
        <R N="1"><U>http://library.columbia.edu/subject-guides/africa/subjects/basicbib.html</U><UE>http://library.columbia.edu/subject-guides/africa/subjects/basicbib.html</UE><T>Basic Guide to Research on Africa at Columbia University &lt;b&gt;...&lt;/b&gt;</T><RK>3</RK><CRAWLDATE>22 Sep 2015</CRAWLDATE><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; &lt;b&gt;Ipswich&lt;/b&gt;, Mass.: EBSCO, 1969- &amp;quot;...the American Economic Association&amp;#39;s&lt;br&gt; electronic database &lt;b&gt;...&lt;/b&gt; to over 16 million citations from &lt;b&gt;MEDLINE&lt;/b&gt; and other life &lt;b&gt;...&lt;/b&gt;  </S><LANG>en</LANG><HAS><L/><C SZ="184k" CID="dkJup8PeEvAJ" ENC="UTF-8"/></HAS></R></RES>
        </GSP>
  recorded_at: Tue, 22 Sep 2015 19:29:10 GMT
- request:
    method: get
    uri: "<ac2_solr_url>/select?f.author_facet.facet.limit=6&f.department_facet.facet.limit=6&f.genre_facet.facet.limit=11&f.pub_date_sort.facet.limit=4&f.series_facet.facet.limit=11&f.subject_facet.facet.limit=11&facet=true&facet.field=series_facet&q=medline%20ipswich&qt=search&rows=25&sort=score%20desc,%20pub_date_sort%20desc,%20title_sort%20asc&stats=true&stats.field=pub_date_sort&wt=ruby"
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 22 Sep 2015 17:35:12 GMT
      Etag:
      - "\"YTljNDQ5MDAwMDAwMDAwMFNvbHI=\""
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>6,'params'=>{'facet'=>'true','f.series_facet.facet.limit'=>'11','sort'=>'score desc, pub_date_sort desc, title_sort asc','stats'=>'true','f.pub_date_sort.facet.limit'=>'4','wt'=>'ruby','rows'=>'25','stats.field'=>'pub_date_sort','q'=>'medline ipswich','f.author_facet.facet.limit'=>'6','f.genre_facet.facet.limit'=>'11','facet.field'=>['author_facet','pub_date_sort','department_facet','subject_facet','genre_facet','series_facet'],'f.subject_facet.facet.limit'=>'11','qt'=>'search','f.department_facet.facet.limit'=>'6'}},'response'=>{'numFound'=>0,'start'=>0,'maxScore'=>0.0,'docs'=>[]},'facet_counts'=>{'facet_queries'=>{},'facet_fields'=>{'author_facet'=>[],'pub_date_sort'=>[],'department_facet'=>[],'subject_facet'=>[],'genre_facet'=>[],'series_facet'=>[]},'facet_dates'=>{},'facet_ranges'=>{}},'stats'=>{'stats_fields'=>{'pub_date_sort'=>nil}},'spellcheck'=>{'suggestions'=>['correctlySpelled',false]}}
  recorded_at: Tue, 22 Sep 2015 19:29:10 GMT
- request:
    method: get
    uri: "<solr_config>/select?f.author_facet.facet.limit=6&f.format.facet.limit=6&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=31&f.lc_subclass_facet.facet.limit=501&f.location_facet.facet.limit=6&f.pub_date_sort.facet.limit=4&f.subject_era_facet.facet.limit=11&f.subject_form_facet.facet.limit=11&f.subject_geo_facet.facet.limit=11&f.subject_topic_facet.facet.limit=11&facet=true&facet.field=lc_subclass_facet&facet.query=acq_dt:%5B2014-09-22T00:00:00Z%20TO%20*%5D&q=medline%20ipswich&qt=search&rows=25&s[...]
