---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=dam%20pdf%20guide&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.058003</TM><Q>dam pdf guide</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="dam pdf guide" original_value="dam+pdf+guide"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="209.6.149.207" original_value="209.6.149.207"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <RES SN="1" EN="10">
        <M>205</M>
        <WXT/><NB><NU>/search?q=dam+pdf+guide&amp;site=CUL_LibraryWeb&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;output=xml&amp;client=cul_libraryweb&amp;access=p&amp;sort=date:D:L:dl&amp;start=10&amp;sa=N&amp;filter=0</NU>
        </NB>

        <R N="1" MIME="application/pdf"><U>http://library.columbia.edu/content/dam/libraryweb/marketing/publications/Guide%20to%20the%20Libraries.pdf</U><UE>http://library.columbia.edu/content/dam/libraryweb/marketing/publications/Guide%2520to%2520the%2520Libraries.pdf</UE><T>Libraries</T><RK>9</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; &lt;b&gt;Guide&lt;/b&gt; to the &lt;b&gt;...&lt;/b&gt; course- related instruction and workshops, citation management&lt;br&gt; software, online tutorials, and research &lt;b&gt;guides&lt;/b&gt;: library.columbia.edu &lt;b&gt;...&lt;/b&gt;  </S><LANG>en</LANG><HAS><L/><C SZ="37k" CID="nVOPsLfgeI0J" ENC="ISO-8859-1"/></HAS></R><R N="2" MIME="application/pdf"><U>http://library.columbia.edu/content/dam/libraryweb/locations/butler/Guide%20to%20Butler%20Study%20Spaces_rev%202015.pdf</U><UE>http://library.columbia.edu/content/dam/libraryweb/locations/butler/Guide%2520to%2520Butler%2520Study%2520Spaces_rev%25202015.pdf</UE><T>&lt;b&gt;Guide&lt;/b&gt; to Butler Library Study Spaces</T><RK>9</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>Page 1. &lt;b&gt;Guide&lt[...]
