---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=reproduction%20form%20doc%20dam&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.035880</TM><Q>reproduction form doc dam</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="reproduction form doc dam" original_value="reproduction+form+doc+dam"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="209.6.149.207" original_value="209.6.149.207"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <Spelling><Suggestion q="reproduction fourm doc dam">reproduction &lt;b&gt;&lt;i&gt;fourm&lt;/i&gt;&lt;/b&gt; doc dam</Suggestion></Spelling><RES SN="1" EN="10">
        <M>14</M>
        <NB><NU>/search?q=reproduction+form+doc+dam&amp;site=CUL_LibraryWeb&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;output=xml&amp;client=cul_libraryweb&amp;access=p&amp;sort=date:D:L:dl&amp;start=10&amp;sa=N&amp;filter=0</NU>
        </NB>

        <R N="1" MIME="application/msword"><U>http://library.columbia.edu/content/dam/libraryweb/services/preservation/prd/photodig_prd.doc</U><UE>http://library.columbia.edu/content/dam/libraryweb/services/preservation/prd/photodig_prd.doc</UE><T>Digital &lt;b&gt;Reproduction&lt;/b&gt; Order &lt;b&gt;Form&lt;/b&gt;</T><RK>8</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; http://www.columbia.edu/cu/lweb/services/. preservation/&lt;b&gt;reproductions&lt;/b&gt;.html. &lt;b&gt;...&lt;/b&gt;&lt;br&gt; RECEIVED IN PRD: Digital &lt;b&gt;Reproduction&lt;/b&gt; Order &lt;b&gt;Form&lt;/b&gt;. </S><LANG>en</LANG><HAS><L/><C SZ="11k" CID="a-IPFQThjmEJ" ENC="UTF-8"/></HAS></R><R N="2" MIME="application/msword"><U>http://library.columbia.edu/content/dam/libraryweb/services/preservation/eastasian/photodig_eastasian.doc</U><UE>http://library.columbia.edu/content/dam/libraryweb/services/preservation/eastasian/photodig_eastasian.doc</UE><T>Digital &lt;b&gt;Reproduction&lt;/b&gt; Order &lt;b&gt;Form&lt;/b&gt;</T><RK>8</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; library.columbia.edu/service[...]
