---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=dam%20sheet1%20xlsx&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.043669</TM><Q>dam sheet1 xlsx</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="dam sheet1 xlsx" original_value="dam+sheet1+xlsx"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="128.59.251.22" original_value="128.59.251.22"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <Spelling><Suggestion q="dam sheet 1 xlsx">dam &lt;b&gt;&lt;i&gt;sheet 1&lt;/i&gt;&lt;/b&gt; xlsx</Suggestion></Spelling><RES SN="1" EN="10">
        <M>11</M>
        <NB><NU>/search?q=dam+sheet1+xlsx&amp;site=CUL_LibraryWeb&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;output=xml&amp;client=cul_libraryweb&amp;access=p&amp;sort=date:D:L:dl&amp;start=10&amp;sa=N&amp;filter=0</NU>
        </NB>

        <R N="1" MIME="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"><U>http://library.columbia.edu/content/dam/libraryweb/locations/eastasian/koreanstudies/Conant%20Film%20Reels%20-Final.xlsx</U><UE>http://library.columbia.edu/content/dam/libraryweb/locations/eastasian/koreanstudies/Conant%2520Film%2520Reels%2520-Final.xlsx</UE><T>&lt;b&gt;Sheet1&lt;/b&gt;</T><RK>7</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;Sheet1&lt;/b&gt;. A, B, C, D, E, F, G, H, I, J, K, L, M. 1, LIST OF THEODORE CONANT&lt;br&gt; FILMS, 2, Digitization: Y -Completed, N-incompleted, 3, 4, Box No. &lt;b&gt;...&lt;/b&gt;  </S><LANG>en</LANG><HAS><L/><C SZ="133k" CID="FpEoEYZTNRcJ" ENC="UTF-8"/></HAS></R><R N="2" MIME="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"><U>http://library.columbia.edu/content/dam/libraryweb/archival/fa/eastasian/makino/item_descriptions_2009_Movie_Theater_Handbills.xlsx</U><UE>http://library.columbia.edu/content/dam/libraryweb/archival/fa/eastasian/makino/item_descriptions_2009_Movie_Theater_Handbills.xlsx</UE><T>&lt;b&gt;Sheet1&lt;/b&gt;</T><RK>7</RK><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURC[...]
