/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.change_view
  :float left

#startOverLink
  :padding-top 1px



.pageEntriesInfo
  :padding-right 150px

#show_folder_control
  :margin-top 1em
  .addFolder, .deleteFolder
    :float none

#show_previousNextDocument
  .previous_next
    :margin-top .5em
  .back_to_catalog
    :float right
.show_start_over
  :float right

a.folder_link_submit
  :border-bottom none

  span.folder_link_text
    :padding-left 2px
    :border-bottom 1px dotted #AAA
#holdings
  :clear both
  :margin-top 2em

  .holding
    :padding .5em .5em .5em 1em
  .holding0
    :background-color #f6f6f6

  #holdings_header
    :padding-bottom 1em
    #holdings_title
      :font-weight bold
      :font-size 1.25em
      :display inline
      :padding-bottom 1em


    #location_guide
      :padding-left .5em
      :display inline

  .call_number
    :float right

  .status
    :padding-left 2em
    :font-style italic

#show_cover
  :float left
  :padding-right 1.5em

.cover_with_jacket
  :margin 3px 10% 0 15%
  :height 125px
  :width 100px
  :border 1px solid #CCCCCC
  :position relative
  :background-color #EEEEEE
  :overflow hidden

  .bookjacket
    :width 100px
    :height 125px

  .fake_label
    :text-align  center
    :border-top 1px solid #CCCCCC
    :border-bottom 1px solid #CCCCCC
    :position absolute
    :top 21px
    :left 7px
    :right 7px
    :padding 7px 0
    :color #333333

.grid_view
  :background white

  .document_gallery
    :margin-bottom 3em

    .google_cover
      :display none      

    .grid_bookjacket
      :height 125px
      :width 100px
      :padding 0

    
    .info
      :margin 3px .5em 0 .5em
      :height 7em
      :position relative
      :overflow hidden
      
      .title
        :font-weight bold
        :min-height 3em
        :margin-bottom 1em


dl.defList_in_grid
  :overflow auto
  :padding 0.5em 0

  dt
    :float left
    :text-align right
    :width 20%
    :clear both
    :color #888
    :margin 0
    :padding 2px 1em 2px 0px

  dd
    :float left
    :text-align left
    :margin 0
    :padding 2px 0


img.bookjacket.list_view
  :float right
  :height 80px
  :width 52px
  :padding 1em


a#feedLink
  :display inline
  :text-decoration none
  :border-bottom none


  img
    :position static
    :padding-left 3px



h1.site_title
  :background transparent url('../../images/clio_beta.jpg') no-repeat top left
  :margin 0 0 0 1em
  :height 30px
  :width 120px


