---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=10104738&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'10104738','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+e--+0302+60000000+m7000000+c3700000+002013+10104738','clm+ce-+0000+00000000+mo830000+10104738'],'location_call_number_id_display'=>['Rare Book, Butler 6th Fl. East (Non-Circu[...]
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocn830538751.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 18:06:02 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/830538751.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 18:06:02 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/10104738
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"d9497f4b46a9056f538a656d55bf7444"
    body:
      encoding: UTF-8
      string: "{\"10104738\":{\"condensed_holdings_full\":[{\"location_name\":\"Rare
        Book, Butler 6th Fl. East (Non-Circulating)\",\"location_note\":\"\",\"call_number\":\"In
        Process\",\"status\":\"none\",\"holding_id\":[\"13180928\"],\"copies\":[{\"items\":{\"Status
        unknown\":{\"status\":\"none\",\"count\":1}},\"notes\":\"Notes: Shelved at:
        10104738\"}],\"services\":[\"spec_coll\"]},{\"location_name\":\"University
        Archives, Butler 6th Fl. East (Non-Circulating)\",\"location_note\":\"\",\"call_number\":\"CE
        Mo83\",\"status\":\"available\",\"holding_id\":[\"13945799\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"spec_coll\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 18:06:04 GMT
recorded_with: VCR 2.9.3
