---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=6201975&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>1,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'6201975','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+e--+0902+00000000+g6700000+002007+6201975'],'location_call_number_id_display'=>['Butler Stacks (Enter at the Butler Circulation Desk) >> E902 .G67 2007|DELIM|7900669','Lehman [...]
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/isbn/9781594201226.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:24 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocm81252666.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:25 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/81252666.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:25 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/lccn/2007003261.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:25 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/6201975
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"c8e11e05d0b650e10227a96bc8ba1b78"
    body:
      encoding: UTF-8
      string: "{\"6201975\":{\"condensed_holdings_full\":[{\"location_name\":\"Butler
        Stacks (Enter at the Butler Circulation Desk)\",\"location_note\":\"\",\"call_number\":\"E902
        .G67 2007\",\"status\":\"available\",\"holding_id\":[\"7900669\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]},{\"location_name\":\"Lehman\",\"location_note\":\"\",\"call_number\":\"E902
        .G67 2007\",\"status\":\"available\",\"holding_id\":[\"8043304\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]},{\"location_name\":\"Milstein
        [Butler]\",\"location_note\":\"\",\"call_number\":\"E902 .G67 2007\",\"status\":\"available\",\"holding_id\":[\"8115214\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 15:23:30 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocn228427351.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:32 GMT
[...]
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/6871895
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - W/"a01770f721f4a51a61ea62c5f93029d6"
    body:
      encoding: UTF-8
      string: "{\"6871895\":{\"condensed_holdings_full\":[{\"location_name\":\"Butler
        Stacks (Enter at the Butler Circulation Desk)\",\"location_note\":\"\",\"call_number\":\"DS326
        .P4745 2009\",\"status\":\"available\",\"holding_id\":[\"9902579\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]},{\"location_name\":\"Lehman\",\"location_note\":\"\",\"call_number\":\"DS326
        .P4745 2009\",\"status\":\"available\",\"holding_id\":[\"10336040\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]},{\"location_name\":\"Milstein
        [Butler]\",\"location_note\":\"\",\"call_number\":\"DS326 .P4745 2009\",\"status\":\"available\",\"holding_id\":[\"9336454\"],\"copies\":[{\"items\":{\"Available\":{\"status\":\"available\",\"count\":1}}}],\"services\":[\"doc_delivery\"]}]}}"
  recorded_at: Thu, 17 Sep 2015 15:23:36 GMT
recorded_with: VCR 2.9.3
