---
http_interactions:
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/isbn/0231526776.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:06 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/ocn731192708.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:06 GMT
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/9702637
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '500'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 17 Sep 2015 15:23:06 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/oclc/731192708.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:06 GMT
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=7686002&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'7686002','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['rbx+montgom-----+675+00000000+00000000+7686002'],'location_call_number_id_display'=>['Rare Book, Butler 6th Fl. East (Non-Circulating) >> Ms MONTGOM 675|DELIM|10794534'],'pub_year_display'=>['1871-1875'],'acq_dt'=>'2010-03-04T00:00:00Z','title_display'=>['Account books [manuscript]'],'item_display'=>['MONTGOM 675 | rbx+montgom-----+675+00000000+00000000+7686002 | 8o2~dbc6jbd~~~~~~tsu~zzzzzzzz~zzzzzzzz~strtzzx~~~~'],'id'=>'7686002','reverse_shelfkey'=>['8o2~dbc6jbd~~~~~~tsu~zzzzzzzz~zzzzzzzz~strtzzx~~~~'],'clio_id_display'=>'7686002','call_number_display'=>['Ms MONTGOM 675'],'pub_place_display'=>['Waterbury, Connecticut'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01426ctm a2200409Ia 4500</leader><controlfield tag="001">7686002</controlfield><controlfield tag="005">20100622162458.0</controlfield><controlfield tag="008">100304m18711875ctu           000 0 eng d</controlfield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)611939163</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocn611939163</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(NNC)7686002</subfield></datafield><datafield tag="040" ind1=" " ind2=" "><subfield code="a">NNC</subfield><subfield code="c">NNC</subfield></datafield><datafield tag="043" ind1=" " ind2=" "><subfield code="a">n-us-ct</subfield></datafield><datafield tag="110" ind1="2" ind2=" "><subfield code=[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/lccn/2011025625.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |2-


        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 17 Sep 2015 15:23:06 GMT
[...]
- request:
    method: get
    uri: https://clio-backend-dev.cul.columbia.edu/holdings/retrieve/7686002
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 17 Sep 2015 15:23:13 GMT
recorded_with: VCR 2.9.3
