---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=9702637&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>1,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'9702637','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+pr-+9369+30000000+s6000000+a2800000+002012+9702637'],'location_call_number_id_display'=>['Butler Stacks (Enter at the Butler Circulation Desk) >> PR9369.3.S6 A28 2012g|DELIM|12747868','Offsite - Place Request for delivery within 2 business days >> PR9369.3.S6 A28 2012g|DELIM|13256207'],'pub_year_display'=>['2012'],'acq_dt'=>'2013-02-28T00:00:00Z','title_display'=>['Absent tongues'],'item_display'=>['PR9369.3.S6 A28 2012g | loc+pr-+9369+30000000+s6000000+a2800000+002012+9702637 | ebn~a8~~qwtq~wzzzzzzz~7tzzzzzz~pxrzzzzz~zzxzyx~qszxtws'],'id'=>'9702637','reverse_shelfkey'=>['ebn~a8~~qwtq~wzzzzzzz~7tzzzzzz~pxrzzzzz~zzxzyx~qszxtws'],'clio_id_display'=>'9702637','call_number_display'=>['PR9369.3.S6 A28 2012g'],'pub_place_display'=>['Athlone, South Africa'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01218cam a2200361 a 4500</leader><controlfield tag="001">9702637</controlfield><controlfield tag="005">20130318143748.0</controlfield><controlfield tag="008">120709s2012    sa            000 p eng c</controlfield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">9781920397401 (pbk.)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">192039740X (pbk.)</subfield></datafield><datafield tag="029" ind1="1" ind2=" "><subfield code="a">AU@</subfield><subfield code="b">000050210767</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocn798561180</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)798561180</subfield></datafield><datafield tag="035" ind1="[...]
[...]
