---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.ff=SubjectTerms,and,1,10&s.q=Dog&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 22 Sep 2015 19:33:33 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-1824-63
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;1tcBXFDsZsjjkijyoFv1oI0B4cM=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: "<html><head><title>Apache Tomcat/6.0.20 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 401 - Invalid ID, secret key or client hash</h1><HR size=\"1\" noshade=\"noshade\"><p><b>type</b>
        Status report</p><p><b>message</b> <u>Invalid ID, secret key or client hash</u></p><p><b>description</b>
        <u>This request requires HTTP authentication (Invalid ID, secret key or client
        hash).</u></p><HR size=\"1\" noshade=\"noshade\"><h3>Apache Tomcat/6.0.20</h3></body></html>"
  recorded_at: Tue, 22 Sep 2015 19:33:33 GMT
recorded_with: VCR 2.9.3
