---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.pn=20&s.ps=50&s.q=Aardvark&s.role=authenticated&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 08 Aug 2016 19:55:28 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Magpie.local-43544-22
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;XAXT3O7bwRhpRMZmoxw1tfmNke0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - DFW1
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Magpie.local-43544-22","elapsedQueryTime":
        604,"queryTime": 571,"totalRequestTime": 1242,"pageCount": 206,"recordCount":
        10276,"query": {"queryString": "s.ho=t&s.role=authenticated&s.ps=50&s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=ContentType%2Cand%2C1%2C10&s.q=Aardvark&s.pn=20&s.fvf=ContentType%2CNewspaper+Article%2Ct","pageNumber":
        20,"pageSize": 50,"isHoldingsOnlyEnabled": true,"textQueries": [{"textQuery":
        "Aardvark","removeCommand": "removeTextQuery(Aardvark)"}],"searchTerms": [],"textFilters":
        [],"rangeFilters": [],"facetValueFilters": [{"fieldName": "ContentType","value":
        "Newspaper Article","isNegated": true,"removeCommand": "removeFacetValueFilter(ContentType,Newspaper
        Article)","negateCommand": "negateFacetValueFilter(ContentType,Newspaper Article)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [{"fieldName": "SubjectTerms","combineMode":
        "and","pageNumber": 1,"pageSize": 10,"removeCommand": "removeFacetField(SubjectTerms)"},{"fieldName":
        "Language","combineMode": "and","pageNumber": 1,"pageSize": 5,"removeCommand":
        "removeFacetField(Language)"},{"fieldName": "ContentType","combineMode": "and","pageNumber":
        1,"pageSize": 10,"removeCommand": "removeFacetField(ContentType)"}],"rangeFacetFields":
        [],"sort": []},"facetFields": [{"fieldName": "Language_s","displayName": "Language","combineMode":
        "and","pageNumber": 1,"pageSize": 5,"hasLimitingValue": true,"hasAppliedValue":
        false,"removeCommand": "removeFacetField(Language)","listValuesCommand": "listFacetValues(Language,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(Language)","counts": [{"value": "English","count":
        9724,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(Language,English)","applyNegatedCommand": "addFacetValueFilters(Language,English:t)"},{"value":
        "German","count": 88,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(Language,German)","applyNegatedCommand":
        "addFacetValueFilters(Language,German:t)"},{"value": "Spanish","count": 53,"isApplied":
        false,"isNegated": false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(Language,Spanish)","applyNegatedCommand":
        "addFacetValueFilters([...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.pn=21&s.ps=50&s.q=Aardvark&s.role=authenticated&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 08 Aug 2016 19:55:31 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Magpie.local-43544-23
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;L/DOIzCHf0MlV53efMS3vdrFeJY=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Datacenter:
      - DFW1
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Magpie.local-43544-23","errors":
        [{"message": "Maximum supported returned results set size is 1000 (provided
        size is 1050).","code": "results.size.too.large"}]}'
  recorded_at: Mon, 08 Aug 2016 19:55:31 GMT
[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.pn=20&s.ps=50&s.q=Aardvark&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 11 Oct 2016 20:44:02 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-36775-28
      X[...]
[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.cache=false&s.ff=SubjectTerms,and,1,10&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.pn=20&s.ps=50&s.q=Aardvark&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Wed, 26 Oct 2016 17:41:27 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-44[...]
[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.cache=false&s.ff=SubjectTerms,and,1,10&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.pn=20&s.ps=51&s.q=Aardvark&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Wed, 26 Oct 2016 17:41:30 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-44373-30
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;kigAh0rJ5uCm8VJen5NJARDFbnE=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Sprite.local-44373-30","errors":
        [{"message": "Maximum supported page size is 50 (provided size is 51).","code":
        "page.size.too.large"}]}'
  recorded_at: Wed, 26 Oct 2016 17:41:31 GMT
recorded_with: VCR 3.0.3
