---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&s.q=test&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 11 Jan 2016 21:54:11 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-92560-20
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;YZx5azwU1OZh27NTyYn0ZvTzUm4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: "{\"version\": \"2.0.0\",\"sessionId\": \"SUMMON-SESSION-Sprite.local-92560-20\",\"elapsedQueryTime\":
        1545,\"queryTime\": 1529,\"totalRequestTime\": 1651,\"pageCount\": 2399967,\"recordCount\":
        23999666,\"query\": {\"queryString\": \"s.ho=t&s.ps=10&s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=ContentType%2Cand%2C1%2C10&s.q=test&s.pn=1&s.fvf=ContentType%2CNewspaper+Article%2Ct\",\"pageNumber\":
        1,\"pageSize\": 10,\"isHoldingsOnlyEnabled\": true,\"textQueries\": [{\"textQuery\":
        \"test\",\"removeCommand\": \"removeTextQuery(test)\"}],\"searchTerms\": [],\"textFilters\":
        [],\"rangeFilters\": [],\"facetValueFilters\": [{\"fieldName\": \"ContentType\",\"value\":
        \"Newspaper Article\",\"isNegated\": true,\"removeCommand\": \"removeFacetValueFilter(ContentType,Newspaper
        Article)\",\"negateCommand\": \"negateFacetValueFilter(ContentType,Newspaper
        Article)\"}],\"inclusiveFacetValueFilters\": [],\"facetValueGroupFilters\":
        [],\"facetFields\": [{\"fieldName\": \"SubjectTerms\",\"combineMode\": \"and\",\"pageNumber\":
        1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(SubjectTerms)\"},{\"fieldName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"removeCommand\":
        \"removeFacetField(Language)\"},{\"fieldName\": \"ContentType\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(ContentType)\"}],\"rangeFacetFields\":
        [],\"sort\": []},\"facetFields\": [{\"fieldName\": \"Language_s\",\"displayName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"hasLimitingValue\":
        true,\"hasAppliedValue\": false,\"removeCommand\": \"removeFacetField(Language)\",\"listValuesCommand\":
        \"listFacetValues(Language,and)\",\"removeValueFiltersCommand\": \"removeFacetValueFilter(Language)\",\"counts\":
        [{\"value\": \"English\",\"count\": 21584941,\"isApplied\": false,\"isNegated\":
        false,\"isFurtherLimiting\": true,\"applyCommand\": \"addFacetValueFilters(Language,English)\",\"applyNegatedCommand\":
        \"addFacetValueFilters(Language,English:t)\"},{\"value\": \"German\",\"count\":
        744423,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\": true,\"applyCommand\":
        \"addFacetValueFilters(Language,German)\",\"applyNegatedCommand\": \"addFacetValueFilters(Language,German:t)\"},{\"value\":
        \"Chinese\",\"count\": 438218,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\":
        true,\"applyCommand\": \"addFacetValueFilters(Language,Chinese)\"[...]
