---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=IsFullText,true&s.ho=t&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 22 Sep 2015 19:25:04 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-1824-30
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;TQ1gmOmjyqTd/2B0XgFcQU4aR+Y=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: "{\"version\": \"2.0.0\",\"sessionId\": \"SUMMON-SESSION-Sprite.local-1824-30\",\"elapsedQueryTime\":
        1098,\"queryTime\": 1087,\"totalRequestTime\": 1152,\"pageCount\": 12413475,\"recordCount\":
        124134750,\"query\": {\"queryString\": \"s.ho=t&s.ps=10&s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=ContentType%2Cand%2C1%2C10&s.pn=1&s.fvf=ContentType%2CJournal+Article%2Cf&s.fvf=IsFullText%2Ctrue%2Cf\",\"pageNumber\":
        1,\"pageSize\": 10,\"isHoldingsOnlyEnabled\": true,\"textQueries\": [],\"searchTerms\":
        [],\"textFilters\": [],\"rangeFilters\": [],\"facetValueFilters\": [{\"fieldName\":
        \"ContentType\",\"value\": \"Journal Article\",\"isNegated\": false,\"removeCommand\":
        \"removeFacetValueFilter(ContentType,Journal Article)\",\"negateCommand\":
        \"negateFacetValueFilter(ContentType,Journal Article)\"},{\"fieldName\": \"IsFullText\",\"value\":
        \"true\",\"isNegated\": false,\"removeCommand\": \"removeFacetValueFilter(IsFullText,true)\",\"negateCommand\":
        \"negateFacetValueFilter(IsFullText,true)\"}],\"inclusiveFacetValueFilters\":
        [],\"facetValueGroupFilters\": [],\"facetFields\": [{\"fieldName\": \"SubjectTerms\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(SubjectTerms)\"},{\"fieldName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"removeCommand\":
        \"removeFacetField(Language)\"},{\"fieldName\": \"ContentType\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(ContentType)\"}],\"rangeFacetFields\":
        [],\"sort\": []},\"facetFields\": [{\"fieldName\": \"Language_s\",\"displayName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"hasLimitingValue\":
        true,\"hasAppliedValue\": false,\"removeCommand\": \"removeFacetField(Language)\",\"listValuesCommand\":
        \"listFacetValues(Language,and)\",\"removeValueFiltersCommand\": \"removeFacetValueFilter(Language)\",\"counts\":
        [{\"value\": \"English\",\"count\": 81394958,\"isApplied\": false,\"isNegated\":
        false,\"isFurtherLimiting\": true,\"applyCommand\": \"addFacetValueFilters(Language,English)\",\"applyNegatedCommand\":
        \"addFacetValueFilters(Language,English:t)\"},{\"value\": \"Chinese\",\"count\":
        26452506,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\":
        true,\"applyCommand\": \"addFacetValueFilters(Language,Chinese)\",\"applyNegatedCommand\":
        \"addFacetValueFilters(Language,Chinese:t)\"},{\"value\": \"Korean\",\"count\":
        2463336,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\": true,\"applyCommand\":
        \"addFacetValueFilters(Langua[...]
