---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=IsFullText,true&s.ho=t&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Fri, 01 Jul 2016 18:31:05 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-66765-28
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;ld7It6SRnDX/3r0bl2ayi/NehHY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Sprite.local-66765-28","elapsedQueryTime":
        82,"queryTime": 68,"totalRequestTime": 196,"pageCount": 4202,"recordCount":
        42020,"query": {"queryString": "s.ho=t&s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=ContentType%2Cand%2C1%2C10&s.fvf=ContentType%2CMusic+Recording%2Cf&s.fvf=IsFullText%2Ctrue%2Cf","pageNumber":
        1,"pageSize": 10,"isHoldingsOnlyEnabled": true,"textQueries": [],"searchTerms":
        [],"textFilters": [],"rangeFilters": [],"facetValueFilters": [{"fieldName":
        "ContentType","value": "Music Recording","isNegated": false,"removeCommand":
        "removeFacetValueFilter(ContentType,Music Recording)","negateCommand": "negateFacetValueFilter(ContentType,Music
        Recording)"},{"fieldName": "IsFullText","value": "true","isNegated": false,"removeCommand":
        "removeFacetValueFilter(IsFullText,true)","negateCommand": "negateFacetValueFilter(IsFullText,true)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [{"fieldName": "SubjectTerms","combineMode":
        "and","pageNumber": 1,"pageSize": 10,"removeCommand": "removeFacetField(SubjectTerms)"},{"fieldName":
        "Language","combineMode": "and","pageNumber": 1,"pageSize": 5,"removeCommand":
        "removeFacetField(Language)"},{"fieldName": "ContentType","combineMode": "and","pageNumber":
        1,"pageSize": 10,"removeCommand": "removeFacetField(ContentType)"}],"rangeFacetFields":
        [],"sort": []},"facetFields": [{"fieldName": "Language_s","displayName": "Language","combineMode":
        "and","pageNumber": 1,"pageSize": 5,"hasLimitingValue": true,"hasAppliedValue":
        false,"removeCommand": "removeFacetField(Language)","listValuesCommand": "listFacetValues(Language,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(Language)","counts": [{"value": "English","count":
        1,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(Language,English)","applyNegatedCommand": "addFacetValueFilters(Language,English:t)"}]},{"fieldName":
        "SubjectTerms_mfacet","displayName": "SubjectTerms","combineMode": "and","pageNumber":
        1,"pageSize": 10,"hasLimitingValue": true,"hasAppliedValue": false,"removeCommand":
        "removeFacetField(SubjectTerms)","listValuesCommand": "listFacetValues(SubjectTerms,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(SubjectTerms)","counts": [{"value": "contemporary
        jazz","count": 41746,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(SubjectTerms,contemporary jazz)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,contemporary jazz:t)"},{"value": "classical
        music","count": 496,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(SubjectTerms,classical music)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,classical music:t)"},{"value": "jazz legends","count":
        201,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,jazz legends)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,jazz
        legends:t)"},{"value": "vocal","count": 167,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,vocal)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,vocal:t)"},{"value": "world","count": 160,"isApplied":
        false,"isNegated": false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,world)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,world:t)"},{"value": "pop and rock","count":
        132,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,pop and rock)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,pop
        and rock:t)"},{"value": "chamber music","count": 119,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,chamber
        music)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,chamber
        music:t)"},{"value": "spoken commentary","count": 117,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,spoken
        commentary)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,spoken
        commentary:t)"},{"value": "orchestral","count": 66,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,orchestral)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,orchestral:t)"},{"value": "instrumental","count":
        57,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,instrumental)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,instrumental:t)"}]},{"fieldName":
        "ContentType_mfacet","displayName": "ContentType","combineMode": "and","pageNumber":
        1,"pageSize": 10,"hasLimitingValue": false,"hasAppliedValue": true,"removeCommand":
        "removeFacetField(ContentType)","listValuesCommand": "listFacetValues(ContentType,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(ContentType)","counts": [{"value": "Music Recording","count":
        42020,"isApplied": true,"isNegated": false,"isFurtherLimiting": false,"removeCommand":
        "removeFacetValueFilter(ContentType,Music Recording)","negateCommand": "negateFacetValueFilter(ContentType,Music
        Recording)"}]}],"rangeFacetFields": [],"didYouMeanSuggestions": [],"recommendationLists":
        {},"documents": [{"hasFullText": true,"isFullTextHit": false,"isPrint": false,"inHoldings":
        true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2Fsummon.serialssolutions.com&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&rft.genre=article&rft.atitle=SONNY+TERRY+%2F+BROWNIE+MCGHEE%3A+BROWNIE+MCGHEE+AND+SONNY+TERRY+AT+THE+2ND+FRET&rft.au=McGhee%2C+Brownie&rft.au=Terry%2C+Sonny&rft.pub=Fantasy&rft.externalDBID=n%2Fa&rft.externalDocID=OBCCD-561-2","link":
        "http://columbia.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwY2BQQSsPQCNUJal64LJZF7Sk0lQXfGck0rGLDLDrUp1BWTIpM9HP18dLzy-xIr8YfN0xbA0_qOT2Sqyqgm_sLk0F31gGOTMbGI3-Ts7OLrrANoEuqFi2BPZ-QPO3oY7ApmceyDSkusNNgKEG-VCECqDxpTlAKyAuQFpQjXQyIxXdJ8jAD9arAOlnAisqIQam1DwRBp9gfz-_SAVgazYoUkFfwSnIP9zP01XB19ndw9XVCo2v4OjnooCswTFEIcTDVcEIKOwW5BoiyiDr5hri7KEL9n58FtBx8UiOMJZgUEhJMk9ONDZLNjE1BvbVkiwsTEAH2CRbGiWnGBokJ1lKMohh1yyFS0KGgaWkqDRVFljVQ8MLADcSnZ8","Author":
        ["McGhee, Brownie","Terry, Sonny"],"Score": ["0.01"],"IsPeerReviewed": ["false"],"DBID":
        ["CUA"],"Publisher": ["Fantasy"],"AbstractList": ["Evil Hearted Me - Sick
        Man - Barking Bull Dog - Spread The News Around - Backwater Blues - Custard
        Pie - Wholesale Dealin'' Papa - Motorcycle Blues - Hand In Hand - I Woke Up
        One Morning And I Could Hardly See"],"SourceType": ["Publisher"],"Publisher_xml":
        [{"name": "Fantasy"}],"Snippet": ["Evil Hearted Me - Sick Man - Barking Bull
        Dog - Spread The News Around - Backwater Blues - Custard Pie - Wholesale Dealin''
        Papa - Motorcycle Blues - Hand In..."],"URI": ["http://serialssolutions.naxosmusiclibrary.com/jazz/catalogue/item.asp?cid=OBCCD-561-2"],"IsScholarly":
        ["false"],"ID": ["FETCH-naxos_jazz_OBCCD-561-23"],"DatabaseTitleList": [""],"Abstract":
        ["Evil Hearted Me - Sick Man - Barking Bull Dog - Spread The News Around -
        Backwater Blues - Custard Pie - Wholesale Dealin'' Papa - Motorcycle Blues
        - Hand In Hand - I Woke Up One Morning And I Could Hardly See"],"SubjectTerms":
        ["Contemporary Jazz"],"MergedId": ["FETCHMERGED-naxos_jazz_OBCCD-561-23"],"Author_xml":
        [{"sequence": "1","fullname": "McGhee, Brownie"},{"sequence": "2","fullname":
        "Terry, Sonny"}],"ContentType": ["Music Recording"],"Title": ["SONNY TERRY
        / BROWNIE MCGHEE: BROWNIE MCGHEE AND SONNY TERRY AT THE 2ND FRET"],"ExternalDocumentID":
        ["OBCCD-561-2"],"Database_xml": [{"sequence": "1","name": "Naxos Music Library
        Jazz","dbid": "CUA","url": "http://ezproxy.cul.columbia.edu/login?url=http://ColumbiaNMLJ.NaxosMusicLibrary.com/Jazz/","sourceTypes":
        ["Publisher"]}],"LinkModel": ["DirectLink"],"BookMark": ["ePnHCXMw42TwCfb384tUALbGgiIV9BWcgvzD_TxdFXyd3T1cXa3Q-AqOfi4KyBocQxRCPFwVjIDCbkGuIdwMsm6uIc4eunmJFfnF8VmJVVXx_k7Ozi66wIpfF3TJEH55AJdJJqs"],"DatabaseName":
        ["Naxos Music Library Jazz"]},{"hasFullText": true,"isFullTextHit": false,"isPrint":
        false,"inHoldings": true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2Fsummon.serialssolutions.com&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&rft.genre=article&rft.atitle=Hej+Blej&rft.jtitle=MAGGI+OLIN+BAND%3A+Le+Specialite&rft.au=Olin%2C+Maggi&rft.au=Almqvist%2C+Karl-Martin&rft.au=Broo%2C+Magnus&rft.au=Tollbom%2C+P-A&rft.pub=Prophone&rft.externalDBID=n%2Fa&rft.externalDocID=181389-PCD079_02","link":
        "http://columbia.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwY2BQQSsPQCNUJal64LJZF7Sk0lQXfGck0rGLDLDrrZxBWTIpM9HP18dLzy-xIr8YfN0xbA0_qOT2Sqyqgm_sLk0F31gGOTMbNFzs7GJgDtrOZwns-ICmbkMdga3OPJBBPIhS0E2AoRz5PIQKoMmlOUDTIZYjraVGOpSROk4TZOAHa1OA9C6B1ZMQA1NqnggDh0dqloJTTmqWKIOSm2uIs4cu2NXxWUAz44HVMLBhoQsxIh5YzUowKKQkmScnGpslm5gaA7tYSRYWJqBzZ5ItjZJTDA2SkywlGaTxmCCFV1aGgaWkqDRVFlhXQ30NALULjT4","URI":
        ["http://serialssolutions.naxosmusiclibrary.com/jazz/catalogue/item.asp?cid=PCD079"],"Author":
        ["Almqvist, Karl-Martin","Welin, Mattias","Tollbom, P-A","Broo, Magnus","Olin,
        Maggi"],"Score": ["0.01"],"IsScholarly": ["false"],"DBID": ["CUA"],"IsPeerReviewed":
        ["false"],"ID": ["FETCH-naxos_jazz_181389-PCD079_023"],"PublicationTitle":
        ["MAGGI OLIN BAND: Le Specialite"],"Publisher": ["Prophone"],"SourceType":
        ["Publisher"],"Publisher_xml": [{"name": "Prophone"}],"SubjectTerms": ["Contemporary
        Jazz"],"MergedId": ["FETCHMERGED-naxos_jazz_181389-PCD079_023"],"Author_xml":
        [{"sequence": "1","fullname": "Olin, Maggi"},{"sequence": "2","fullname":
        "Almqvist, Karl-Martin"},{"sequence": "3","fullname": "Broo, Magnus"},{"sequence":
        "4","fullname": "Tollbom, P-A"},{"sequence": "5","fullna[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=IsFullText,true&s.ho=t&s.role=authenticated&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 08 Aug 2016 19:55:33 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Magpie.local-43544-27
      X-Summon-Request-Id:
      - '[...]
