---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=IsFullText,true&s.ho=t&s.role=authenticated&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 08 Aug 2016 19:55:33 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Magpie.local-43544-27
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;rcnD+sWg3WvCBkUIivSGBAEkX20=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - DFW1
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Magpie.local-43544-27","elapsedQueryTime":
        6,"queryTime": 306,"totalRequestTime": 310,"pageCount": 4200,"recordCount":
        42000,"query": {"queryString": "s.ho=t&s.role=authenticated&s.ff=ContentType%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.ff=SubjectTerms%2Cand%2C1%2C10&s.fvf=ContentType%2CMusic+Recording%2Cf&s.fvf=IsFullText%2Ctrue%2Cf","pageNumber":
        1,"pageSize": 10,"isHoldingsOnlyEnabled": true,"textQueries": [],"searchTerms":
        [],"textFilters": [],"rangeFilters": [],"facetValueFilters": [{"fieldName":
        "ContentType","value": "Music Recording","isNegated": false,"removeCommand":
        "removeFacetValueFilter(ContentType,Music Recording)","negateCommand": "negateFacetValueFilter(ContentType,Music
        Recording)"},{"fieldName": "IsFullText","value": "true","isNegated": false,"removeCommand":
        "removeFacetValueFilter(IsFullText,true)","negateCommand": "negateFacetValueFilter(IsFullText,true)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [{"fieldName": "ContentType","combineMode":
        "and","pageNumber": 1,"pageSize": 10,"removeCommand": "removeFacetField(ContentType)"},{"fieldName":
        "Language","combineMode": "and","pageNumber": 1,"pageSize": 5,"removeCommand":
        "removeFacetField(Language)"},{"fieldName": "SubjectTerms","combineMode":
        "and","pageNumber": 1,"pageSize": 10,"removeCommand": "removeFacetField(SubjectTerms)"}],"rangeFacetFields":
        [],"sort": []},"facetFields": [{"fieldName": "Language_s","displayName": "Language","combineMode":
        "and","pageNumber": 1,"pageSize": 5,"hasLimitingValue": true,"hasAppliedValue":
        false,"removeCommand": "removeFacetField(Language)","listValuesCommand": "listFacetValues(Language,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(Language)","counts": [{"value": "English","count":
        1,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(Language,English)","applyNegatedCommand": "addFacetValueFilters(Language,English:t)"}]},{"fieldName":
        "SubjectTerms_mfacet","displayName": "SubjectTerms","combineMode": "and","pageNumber":
        1,"pageSize": 10,"hasLimitingValue": true,"hasAppliedValue": false,"removeCommand":
        "removeFacetField(SubjectTerms)","listValuesCommand": "listFacetValues(SubjectTerms,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(SubjectTerms)","counts": [{"value": "contemporary
        jazz","count": 41726,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(SubjectTerms,contemporary jazz)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,contemporary jazz:t)"},{"value": "classical
        music","count": 496,"isApplied": false,"isNegated": false,"isFurtherLimiting":
        true,"applyCommand": "addFacetValueFilters(SubjectTerms,classical music)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,classical music:t)"},{"value": "jazz legends","count":
        199,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,jazz legends)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,jazz
        legends:t)"},{"value": "vocal","count": 166,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,vocal)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,vocal:t)"},{"value": "world","count": 159,"isApplied":
        false,"isNegated": false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,world)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,world:t)"},{"value": "pop and rock","count":
        132,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,pop and rock)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,pop
        and rock:t)"},{"value": "chamber music","count": 119,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,chamber
        music)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,chamber
        music:t)"},{"value": "spoken commentary","count": 117,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,spoken
        commentary)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,spoken
        commentary:t)"},{"value": "orchestral","count": 66,"isApplied": false,"isNegated":
        false,"isFurtherLimiting": true,"applyCommand": "addFacetValueFilters(SubjectTerms,orchestral)","applyNegatedCommand":
        "addFacetValueFilters(SubjectTerms,orchestral:t)"},{"value": "instrumental","count":
        57,"isApplied": false,"isNegated": false,"isFurtherLimiting": true,"applyCommand":
        "addFacetValueFilters(SubjectTerms,instrumental)","applyNegatedCommand": "addFacetValueFilters(SubjectTerms,instrumental:t)"}]},{"fieldName":
        "ContentType_mfacet","displayName": "ContentType","combineMode": "and","pageNumber":
        1,"pageSize": 10,"hasLimitingValue": false,"hasAppliedValue": true,"removeCommand":
        "removeFacetField(ContentType)","listValuesCommand": "listFacetValues(ContentType,and)","removeValueFiltersCommand":
        "removeFacetValueFilter(ContentType)","counts": [{"value": "Music Recording","count":
        42000,"isApplied": true,"isNegated": false,"isFurtherLimiting": false,"removeCommand":
        "removeFacetValueFilter(ContentType,Music Recording)","negateCommand": "negateFacetValueFilter(ContentType,Music
        Recording)"}]}],"rangeFacetFields": [],"didYouMeanSuggestions": [],"recommendationLists":
        {},"documents": [{"hasFullText": true,"isFullTextHit": false,"isPrint": false,"inHoldings":
        true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2Fsummon.serialssolutions.com&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&rft.genre=article&rft.atitle=Don%27t+Know+What+To+Do&rft.jtitle=J.J.+BARNES+%2F+STEVE+MANCHA+%2F+DARRELL+BANKS%3A+THE+SOUND+OF+DETROIT&rft.au=Banks%2C+Darrell&rft.pub=Fantasy&rft.externalDBID=n%2Fa&rft.externalDocID=322310-Z80273_17","link":
        "http://columbia.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwY2BQQSsPfBPTCzJT9cBlsy6wdjYx0TVCO3aRAXZdqjMoSyZlJvr5-njp-SVW5BeDrzuGreEHldxeiVVV8I3dpangG8sgZ2YDozHY2UUXmCKBZQuoWLYE9n5A87ehjsCmZx7INKS6w02AoQb5UIQKoPGlOUArIC5AWlCNdDIjFd0nyMAP1qsA6WcCKyohBqbUPBEGUZf8PPUSBdC11wqg87sVQvIVXPJFGZTcXEOcPXTB_ojPAtoSD8yMwNaZbpQF6FCaeENzYzEG3kTQwvi8EvAGuhQJBoWktFQLYA1klpwIrKxN0owtzcyNEpMtUswNU02SLI3MJBmk8ZgohVdWhoGlpKg0VRZYpUPDBQB5pphW","URI":
        ["http://serialssolutions.naxosmusiclibrary.com/jazz/catalogue/item.asp?cid=SCD-88010-2"],"Author":
        ["Banks, Darrell"],"Score": ["0.01"],"IsScholarly": ["false"],"IsPeerReviewed":
        ["false"],"DBID": ["CUA"],"ID": ["FETCH-naxos_jazz_322310-Z80273_173"],"PublicationTitle":
        ["J.J. BARNES / STEVE MANCHA / DARRELL BANKS: THE SOUND OF DETROIT"],"Publisher":
        ["Fantasy"],"SourceType": ["Publisher"],"Publisher_xml": [{"name": "Fantasy"}],"SubjectTerms":
        ["Contemporary Jazz"],"MergedId": ["FETCHMERGED-naxos_jazz_322310-Z80273_173"],"Author_xml":
        [{"sequence": "1","fullname": "Banks, Darrell"}],"ContentType": ["Music Recording"],"Title":
        ["Don''t Know What To Do"],"ExternalDocumentID": ["322310-Z80273_17"],"Database_xml":
        [{"sequence": "1","name": "Naxos Music Library Jazz","dbid": "CUA","url":
        "http://ezproxy.cul.columbia.edu/login?url=http://ColumbiaNMLJ.NaxosMusicLibrary.com/Jazz/","sourceTypes":
        ["Publisher"]}],"LinkModel": ["DirectLink"],"BookMark": ["ePnHCXMw42LgTQStzc4rAe_hSuFkEHXJz1MvUQBd46wAOo9aISRfwSWfm0HJzTXE2UM3L7Eivzg-K7GqKh6YuICtDd0oC9AhK_GGoLvMiVAEAJRNILI"],"DatabaseName":
        ["Naxos Music Library Jazz"]},{"hasFullText": true,"isFullTextHit": false,"isPrint":
        false,"inHoldings": true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2Fsummon.serialssolutions.com&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&rft.genre=article&rft.atitle=Prisoner+Of+Love&rft.jtitle=ART+TATUM%3A+THE+TATUM+GROUP+MASTERPIECES%2C+VOL.+4&rft.au=Tatum%2C+Art&rft.pub=Fantasy&rft.externalDBID=n%2Fa&rft.externalDocID=116515-Z076380_04","lin[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&s.ff=SubjectTerms,and,1,10&s.fvf=IsFullText,true&s.ho=t&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 11 Oct 2016 20:44:11 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-36775-33
      X-Summon-Request-Id:
      - ''
      Authorization[...]
