---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.ff=source,and,1,articles&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 11 Oct 2016 17:59:15 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-35808-1
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;Q95DuwUBAJIMwrFwXoOcPOHtPG8=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "SUMMON-SESSION-Sprite.local-35808-1","errors":
        [{"message": "Error with parameter: s.ff=action,and,1,hits: Invalid long integer:
        hits","code": "invalid.number.format"},{"message": "Error with parameter:
        s.ff=adv,and,1,{}: Invalid long integer: {}","code": "invalid.number.format"},{"message":
        "Error with parameter: s.ff=controller,and,1,spectrum: Invalid long integer:
        spectrum","code": "invalid.number.format"},{"message": "Error with parameter:
        s.ff=new_search,and,1,true: Invalid long integer: true","code": "invalid.number.format"},{"message":
        "Error with parameter: s.ff=q,and,1,Smith: Invalid long integer: Smith","code":
        "invalid.number.format"},{"message": "Error with parameter: s.ff=souce,and,1,articles:
        Invalid long integer: articles","code": "invalid.number.format"},{"message":
        "Error with parameter: s.ff=source,and,1,articles: Invalid long integer: articles","code":
        "invalid.number.format"}]}'
  recorded_at: Tue, 11 Oct 2016 17:59:15 GMT
- request:
    method: get
    uri: "<solr_config>/select?f.author_facet.facet.limit=6&f.format.facet.limit=6&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=31&f.lc_subclass_facet.facet.limit=501&f.location_facet.facet.limit=6&f.pub_date_sort.facet.limit=4&f.subject_era_facet.facet.limit=11&f.subject_form_facet.facet.limit=11&f.subject_geo_facet.facet.limit=11&f.subject_topic_facet.facet.limit=11&facet=true&facet.field=lc_subclass_facet&facet.query=acq_dt:%5B2015-10-26T00:00:00Z%20TO%20*%5D&q=%7B!qf=$author_qf%20pf=$author_pf%7DS[...]
