%h1 Maintain database_alerts

#database_alerts_maintain
  #search_box
    %form
      = text_field_tag :search, params[:search], :placeholder => "Enter databases titles here"
      %button.btn Search



  #results
    #result_title
  