%h1 Listing database_alerts

%table
  %tr
    %th
    %th
    %th

  - @database_alerts.each do |database_alert|
    %tr
      %td= link_to 'Show', database_alert
      %td= link_to 'Edit', edit_database_alert_path(database_alert)
      %td= link_to 'Destroy', database_alert, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Database alert', new_database_alert_path
