.cover_with_jacket
  = build_fake_cover(document)
  .google_cover
    = link_to_document document, :label => image_tag("spacer.png", :class => "bookjacket " + document["isbn_t"].listify.collect { |x| "isbn_" + x.to_i.to_s}.join(" "))
