
# UNUSED ???
# UNUSED ???
# UNUSED ???
# UNUSED ???
# UNUSED ???
# UNUSED ???
# UNUSED ???
# UNUSED ???

# .cover_with_jacket
#   = build_fake_cover(document)
#   .google_cover
#     = link_to_source_document document, :label => image_tag("spacer.png", :class => "bookjacket " + document["isbn_display"].listify.collect { |x| "id_" + x.to_s}.join(" "))
# .gbs_preview= link_to "View at Google Book Search"
# 
# 
