
-#    #documents= render_documents(@document_list, :action => "catalog", :viewstyle => (params[:view] || "list"))

#documents= render_documents(@document_list, :action => "catalog", :viewstyle => get_user_option('viewstyle'))
