
-# _download_menu.html.haml

%li.dropdown#display-dropdown

  %a.dropdown-toggle{:href=>"#", :data=>{:toggle => "dropdown"}}
    Download
    %b.caret

  %ul.dropdown-menu
    %li=link_to "XLSX Download", xlsx_form_link()
    %li=link_to "MARC XML Download", download_link('marcxml'), target: '_blank'
    %li
      %hr
      %p.small.text-center
        Downloading search results<br>is restricted to library staff.

      
