
-# FACETS FOR CATALOG

- unless @document_list.nil? || @document_list.empty?
  #facets.facets.sidenav

    .top-panel-heading.panel-heading.clearfix{style: 'border: 0px;'}
      .visible-xs.facets-toggle{type: 'button', data: {toggle: 'collapse', target: '#facet-panel-collapse'}}
        Refine your search

    #facet-panel-collapse.collapse.panel-group

      - if APP_CONFIG['catalog_search_options']
        - if ['catalog','new_arrivals'].include?(@source)
          .panel.panel-default.facet_limit
            .panel-heading
              %h5.panel-title.twiddle.twiddle-open
                Search Options

            .panel-body
              %div.search_option
                = render_govdocs_toggle      

      - facet_field_names.reject { |name| facet = facet_by_field_name(name); facet.nil? || facet.items.empty? }.each do |solr_fname|

        -# %div.panel.panel-default{:class => "facet_limit blacklight-#{solr_fname.parameterize}"}
        - case solr_fname
        - when "lc_1letter_facet"
          = fix_catalog_links(render(:partial => "catalog/facet_callnumber", :locals => {:solr_field => solr_fname}))
        - when "lc_subclass_facet", "title_first_facet"
        
        - else
          = fix_catalog_links(render_facet_partials([solr_fname]))
        

