
- bibkeys_to_check = documents.listify.collect { |d| extract_standard_bibkeys(d) }.compact.flatten.uniq


- content_for :jstemplates do
  :javascript

    var _GBSBookInfo = {};

    books_url = "http://books.google.com/books";

    function google_books_response_handler (data) {
        _GBSBookInfo = data;
    }

    quoted_bibkeys = [#{bibkeys_to_check.collect { |i| "'#{i}'" }.join(",")}];

    api_url= books_url + "?jscmd=viewapi&bibkeys=#{h(bibkeys_to_check.join(","))}" + "&callback=google_books_response_handler";

    document.write(unescape("%3Cscript src=" + api_url + " type='text/javascript'%3E%3C/script%3E"));

    $(document).ready ( function () {

        update_google_holdings(quoted_bibkeys, _GBSBookInfo);

    });

