
- isbns_to_check = documents.listify.collect { |d| extract_google_bibkeys(d) }.compact.flatten.uniq 


- content_for :jstemplates do 
  :javascript

    quoted_isbns = [#{h(isbns_to_check.collect { |i| "'#{i}'" }.join(","))}];
    api_url ="http://books.google.com/books?jscmd=viewapi&bibkeys=#{h(isbns_to_check.join(","))}";

    document.write(unescape("%3Cscript src=" + api_url + " type='text/javascript'%3E%3C/script%3E"));
    
    $(document).ready ( function () {
      
    update_book_jackets(quoted_isbns, _GBSBookInfo);
    
    }); 

