- holdings_to_check = documents.listify.reject { |d| d["location_display"].listify.reject { |l| l == "Online" }.empty? }.collect { |d| d["id"] } 

- content_for :jstemplates do
  :javascript
    $(document).ready ( function () {
      update_holdings_info([#{holdings_to_check.join(",")}]);

    });
