#intro_text
  %h2 Welcome to Spectrum

  %p This is a super-alpha version of a search/discovery platform for displaying Columbia University Libraries' catalog. 

  %p We welcome any feedback: please use the Feedback button on the left hand side of the page.
