%h2 Welcome to CLIO New Arrivals

%p This is a beta version of a search/discovery platform for displaying new acquisitions by Columbia University Libraries. 

%p We welcome any feedback: please use the Feedback button on the left hand side of the page.

