
-# CATALOG-BASED-DATASOURCES

%li.dropdown#display-dropdown

  %a.dropdown-toggle{:href=>"#", :data=>{:toggle => "dropdown"}}
    Display Options
    %b.caret

  %ul.dropdown-menu
    -blacklight_config.per_page.each do |per_page|
      %li= catalog_per_page_link(per_page)


    - datasource_config = DATASOURCES_CONFIG['datasources'][active_source] || {}
    -if viewstyles = datasource_config['viewstyles']
      %li.nav-divider
      -viewstyles.each do |viewstyle, label|
        %li= viewstyle_link(viewstyle, label)
