
-# CATALOG-BASED-DATASOURCES

%li.dropdown#display-dropdown

  %a.dropdown-toggle{:href=>"#", :data=>{:toggle => "dropdown"}}
    Display Options
    %b.caret

  %ul.dropdown-menu
    -blacklight_config.per_page.each do |per_page|
      %li= catalog_per_page_link(per_page)


    - datasource_config = DATASOURCES_CONFIG['datasources'][active_source] || {}
    -if viewstyles = datasource_config['viewstyles']
      %li.nav-divider
      -viewstyles.each do |viewstyle, label|
        %li= viewstyle_link(viewstyle, label)

    -# -# Authenticated CUL Staff can download search results as XLS
    -# -if current_user && current_user.culstaff? && current_user.has_role?('site', 'pilot')
    -#   %li.nav-divider
    -#   -# %li=link_to "XLS Download", xls_form_link(), {id: "xlsLink", name: "xls", class: "XlightboxLink"}
    -#   %li=link_to "XLSX Download", xlsx_form_link()
      
