
%li.dropdown.hidden-sm#display-dropdown

  %a.dropdown-toggle{:href=>"#", :data=>{:toggle => "dropdown"}}
    Display Options
    %b.caret

  %ul.dropdown-menu
    -blacklight_config.per_page.each do |per_page|
      %li= catalog_per_page_link(per_page)

    -if viewstyles = DATASOURCES_CONFIG['datasources'][@active_source]['viewstyles']
      %li.nav-divider
      -viewstyles.each do |viewstyle, label|
        %li= viewstyle_link(viewstyle, label)
