<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title"><%= t('blacklight.email.form.title') %></h4>
</div>

<%= render :partial => 'email_form' %>
