

%h3
  System Details

%table.table.table-bordered
  - ['request.protocol', 'request.fullpath', 'request.url',
     'Rails.cache.key_count', 'Rails.cache.cache_size.to_s(:human_size)',
     'Process.pid', 'Etc.getlogin'].each do |i|
    %tr
      %td=i
      %td=eval(i)

