-# - raise
- @page_title = "#{@document ? document_show_html_title.listify.join('') : ''} - #{application_name}".html_safe

- content_for(:head) { render_link_rel_alternates }

= render :partial => "/datasource_warning", :locals => {:warning => warning}

- @add_row_options = {:spans => [3,9]}
= render :partial => "/_display/catalog/show", :locals => {:document =>  @document}

