

#actions-dropdown.dropdown.btn-group
  %a.btn.dropdown-toggle{'data-toggle' => "dropdown", :href => "#"}
    Copy Selected Items...
    %b.caret
  %ul.dropdown-menu
    %li.nav-header

      To new list:

      %form
        %input{:name => "name", :type => "text", :value => "", :id => 'new_list_name', :style => "width:100px"}
        %input.btn.btn-mini{ :type => "submit", :onclick => "saveSelectedToNamedList( $('#new_list_name').val() ); return false;" }

    %li.divider
    %li.nav-header
      To existing list:
    - @all_current_user_lists.each { |list|
    %li= link_to list.name, "#", :onclick => "saveSelectedToNamedList('#{list.name}'); return false;"
    - }

