#actions-dropdown.dropdown
  %ul.css-dropdown
    %li.btn.btn-link
      Copy Selected Items...
      %span.caret
      %ul
        %li
          To New List:
          %form
            %input{:name => "name", :type => "text", :value => "", :id => 'new_list_name', :size => "10"}
            %input{ :type => "submit", :onclick => "saveSelectedToNamedList( $('#new_list_name').val() ); return false;" }
        %li.divider
          To Existing List:
        - @all_user_lists.each { |list|
        %li= link_to list.name, "#", :onclick => "saveSelectedToNamedList('#{list.name}'); return false;"

        - }
