
%span.browse_title
  =t('blacklight.browse.label')

  .btn.btn-link{data: {toggle: 'popover', placement: 'top', content: "#{t('blacklight.browse.description')}"} }
    = image_tag('information_icon.png', :size => "20x20")
