
-# what is this for?
-# - item_count = @browse_item_list.size
-# = render 'browse_toolbar', first_shelfkey: first_shelfkey, last_shelfkey: last_shelfkey

= render 'browse_toolbar_full'

#documents{:data => {'ga-action' => 'Browse Results Click'} }
  = render_document_list(@browse_item_list, action: "browse", shelfkey: @shelfkey)

%br
%br
%br

= render 'browse_toolbar_full'

