.advanced_search
  = render partial: "/spectrum/summon/advanced_search", locals: {path: @active_source == "articles" ? articles_index_path : newspapers_index_path}

.well.well-constraints
  %span.constraints-label You searched for:

  = link_to "Start Over", result.start_over_link, :class => "summon_startOverLink", :id => "startOverLink"
  - result.constraints_with_links.each do |text, link|

    .search-constraint.btn-group
      %button.btn{:disabled => 'true'}=text
      %button.btn=link_to "x", link, :alt => "remove", :class => "btnRemove imgReplace"

