---
http_interactions:
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?adv=%7B%7D&form=advanced&s.ff=SubjectTerms,and,1,10&s.fq=PublicationTitle:test&s.fvf=ContentType,%20Newspaper%20Article,t&s.ho=t&spellcheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Tue, 22 Sep 2015 19:24:33 GMT
      X-Summon-Session-Id:
      - SUMMON-SESSION-Sprite.local-1824-5
      X-Summon-Request-Id:
      - ''
      Authorization:
      - Summon columbia;A+g7VLJTm3b626h5PBVJk6Vf26E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: "{\"version\": \"2.0.0\",\"sessionId\": \"SUMMON-SESSION-Sprite.local-1824-5\",\"elapsedQueryTime\":
        690,\"queryTime\": 668,\"totalRequestTime\": 797,\"pageCount\": 3249,\"recordCount\":
        32490,\"query\": {\"queryString\": \"s.ho=t&s.fq=PublicationTitle%3Atest&s.ps=10&s.ff=SubjectTerms%2Cand%2C1%2C10&s.ff=ContentType%2Cand%2C1%2C10&s.ff=Language%2Cand%2C1%2C5&s.pn=1&s.fvf=ContentType%2CNewspaper+Article%2Ct\",\"pageNumber\":
        1,\"pageSize\": 10,\"isHoldingsOnlyEnabled\": true,\"textQueries\": [],\"searchTerms\":
        [],\"textFilters\": [{\"textFilter\": \"PublicationTitle:test\",\"removeCommand\":
        \"removeTextFilter(PublicationTitle\\\\:test)\"}],\"rangeFilters\": [],\"facetValueFilters\":
        [{\"fieldName\": \"ContentType\",\"value\": \"Newspaper Article\",\"isNegated\":
        true,\"removeCommand\": \"removeFacetValueFilter(ContentType,Newspaper Article)\",\"negateCommand\":
        \"negateFacetValueFilter(ContentType,Newspaper Article)\"}],\"inclusiveFacetValueFilters\":
        [],\"facetValueGroupFilters\": [],\"facetFields\": [{\"fieldName\": \"SubjectTerms\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\": \"removeFacetField(SubjectTerms)\"},{\"fieldName\":
        \"ContentType\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 10,\"removeCommand\":
        \"removeFacetField(ContentType)\"},{\"fieldName\": \"Language\",\"combineMode\":
        \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"removeCommand\": \"removeFacetField(Language)\"}],\"rangeFacetFields\":
        [],\"sort\": []},\"facetFields\": [{\"fieldName\": \"Language_s\",\"displayName\":
        \"Language\",\"combineMode\": \"and\",\"pageNumber\": 1,\"pageSize\": 5,\"hasLimitingValue\":
        true,\"hasAppliedValue\": false,\"removeCommand\": \"removeFacetField(Language)\",\"listValuesCommand\":
        \"listFacetValues(Language,and)\",\"removeValueFiltersCommand\": \"removeFacetValueFilter(Language)\",\"counts\":
        [{\"value\": \"English\",\"count\": 30301,\"isApplied\": false,\"isNegated\":
        false,\"isFurtherLimiting\": true,\"applyCommand\": \"addFacetValueFilters(Language,English)\",\"applyNegatedCommand\":
        \"addFacetValueFilters(Language,English:t)\"},{\"value\": \"Italian\",\"count\":
        1917,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\": true,\"applyCommand\":
        \"addFacetValueFilters(Language,Italian)\",\"applyNegatedCommand\": \"addFacetValueFilters(Language,Italian:t)\"},{\"value\":
        \"French\",\"count\": 136,\"isApplied\": false,\"isNegated\": false,\"isFurtherLimiting\":
        true,\"applyCommand\": \"addFacetValueFilters(Language,French)\",\"a[...]
