-# container for a single doc - within AGGREGATE views, e.g., QuickSearch

.result{source: 'dcv', item_id: document.get(:id)}

  -# https://dlc.library.columbia.edu/catalog/ldpd:166321
  .result_title= link_to document.get('title_display_ssm'), APP_CONFIG['dcv_catalog_url'] + document['id']


  / main container for doc partial view

  -# What do we want in QuickSearch panel?
  -# = add_row('Library Location', document['lib_repo_short_ssim'])
  = add_row('Name', document['lib_name_ssm'])
  -# = add_row('Format', document['lib_format_ssm'])
  -# = add_row('Digital Project', document['lib_project_short_ssim'])
  -# = add_row('Collection', document['lib_collection_ssm'])
