---
http_interactions:
- request:
    method: get
    uri: http://search.columbia.edu/search?as_dt=i&client=cul_libraryweb&filter=0&ie=UTF-8&num=10&oe=UTF-8&output=xml&q=english&site=CUL_LibraryWeb&sitesearch=&sort=date:D:L:dl&start=0&x=0&y=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Cnection:
      - close
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE GSP SYSTEM "google.dtd">
        <GSP VER="3.2">
        <TM>0.072142</TM><Q>english</Q>
        <PARAM name="as_dt" value="i" original_value="i"/>
        <PARAM name="client" value="cul_libraryweb" original_value="cul_libraryweb"/>
        <PARAM name="filter" value="0" original_value="0"/>
        <PARAM name="ie" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="oe" value="UTF-8" original_value="UTF-8"/>
        <PARAM name="output" value="xml" original_value="xml"/>
        <PARAM name="site" value="CUL_LibraryWeb" original_value="CUL_LibraryWeb"/>
        <PARAM name="sort" value="date:D:L:dl" original_value="date:D:L:dl"/>
        <PARAM name="x" value="0" original_value="0"/>
        <PARAM name="y" value="0" original_value="0"/>
        <PARAM name="sitesearch" value="" original_value=""/>
        <PARAM name="num" value="10" original_value="10"/>
        <PARAM name="start" value="0" original_value="0"/>
        <PARAM name="q" value="english" original_value="english"/>
        <PARAM name="ulang" value="" original_value=""/>
        <PARAM name="ip" value="128.59.251.229" original_value="128.59.251.229"/>
        <PARAM name="access" value="p" original_value="p"/>
        <PARAM name="entqr" value="3" original_value="3"/>
        <PARAM name="entqrm" value="0" original_value="0"/>
        <PARAM name="wc" value="200" original_value="200"/>
        <PARAM name="wc_mc" value="1" original_value="1"/>
        <RES SN="1" EN="10">
        <M>2230</M>
        <WXT/><NB><NU>/search?q=english&amp;site=CUL_LibraryWeb&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;output=xml&amp;client=cul_libraryweb&amp;access=p&amp;sort=date:D:L:dl&amp;start=10&amp;sa=N&amp;filter=0</NU>
        </NB>

        <R N="1"><U>http://library.columbia.edu/about/policies/collection-development/subject/english.html</U><UE>http://library.columbia.edu/about/policies/collection-development/subject/english.html</UE><T>&lt;b&gt;English&lt;/b&gt; Language &amp;amp; Literature | Columbia University Libraries</T><RK>10</RK><CRAWLDATE>22 Sep 2015</CRAWLDATE><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; &lt;b&gt;English&lt;/b&gt; Language &amp;amp; Literature. A. Purpose and Program Description. The&lt;br&gt; Libraries seek to support research in &lt;b&gt;English&lt;/b&gt;, American &lt;b&gt;...&lt;/b&gt;  </S><LANG>en</LANG><HAS><L/><C SZ="30k" CID="_8-htCG6PcsJ" ENC="UTF-8"/></HAS></R><R N="2"><U>https://blogs.cul.columbia.edu/butler/2010/04/02/add-the-oxford-english-dictionary-to-your-browser/</U><UE>https://blogs.cul.columbia.edu/butler/2010/04/02/add-the-oxford-english-dictionary-to-your-browser/</UE><T>Add the Oxford &lt;b&gt;English&lt;/b&gt; Dictionary to Your Browser | Butler &lt;b&gt;...&lt;/b&gt;</T><RK>10</RK><CRAWLDATE>20 Sep 2015</CRAWLDATE><ENT_SOURCE>T4-BWMXW7XQDYSQL</ENT_SOURCE><S>&lt;b&gt;...&lt;/b&gt; [...]
