---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=787284&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'787284','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['avefax+aa-+0735+00000000+n4000000+zse82450+787284'],'location_call_number_id_display'=>['Offsite <Avery> (Non-Circulating) Place Request for delivery >> AA735 N4 ZSe8245|DELIM|1008719','Online >> EBOOKS|DELIM|10099798'],'pub_year_display'=>['1980'],'title_display'=>['180 East 73rd Street Building, Borough of Manhattan : [report] : arc    hitect William Schickel & Co'],'item_display'=>['AA735 N4 ZSe8245 | avefax+aa-+0735+00000000+n4000000+zse82450+787284 | p4lkp2~pp~~zswu~zzzzzzzz~cvzzzzzz~07lrxvuz~srsxrv~'],'id'=>'787284','reverse_shelfkey'=>['p4lkp2~pp~~zswu~zzzzzzzz~cvzzzzzz~07lrxvuz~srsxrv~'],'clio_id_display'=>'787284','subject_geo_facet'=>['New York (State)','New York','New York (N.Y.)'],'call_number_display'=>['AA735 N4 ZSe8245','EBOOKS'],'subject_topic_facet'=>['180 East 73rd Street Building (New York, N.Y.)','Garages','Romanesque revival (Architecture)','Stables','Buildings, structures, etc'],'pub_place_display'=>['New York, N.Y.'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>02118cam a2200469 a 4500</leader><controlfield tag="001">787284</controlfield><controlfield tag="005">20100311224927.0</controlfield><controlfield tag="008">891011s1980    nyuaf    b   l000 0 eng d</controlfield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)29734466</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocm29734466</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCG89-B72789</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="9">AEB0836CU</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(NNC)787284</subfield></datafield><datafield tag="040" ind1=" " ind2=" "><subfield code="a">NNC</subfie[...]
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?f.author_facet.facet.limit=6&f.format.facet.limit=6&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=31&f.lc_subclass_facet.facet.limit=501&f.location_facet.facet.limit=6&f.pub_date_sort.facet.limit=4&f.subject_era_facet.facet.limit=11&f.subject_form_facet.facet.limit=11&f.subject_geo_facet.facet.limit=11&f.subject_topic_facet.facet.limit=11&facet=true&facet.field=lc_subclass_fac[...]
