

= link_to "Patron View", url_for(action: 'author'), class: 'lightboxLink'

- @page_title = "#{@document ? document_show_html_title.listify.join('') : ''} - #{application_name}".html_safe


.row

  -# #marc_download_links.col-sm-6
  -#   %strong= "Download as:"
  -#   %span= link_to "MARCXML", catalog_path(@document.id, :format => "marcxml")
  -#   %span= link_to "MARC21", catalog_path(@document.id, :format => "marc")
  -# #patron_view_link.col-sm-6
  -#   %strong.btn.btn-default= link_to "Return to Patron View", fix_catalog_links(catalog_path(@document.id))
    


= render '/marc_view', document: @document




