ul.help-items
  li
    :font-size 1.25em
    :padding 0.5em 0 0.5em 1em

.return-to-index
  :margin-top 2em

  btn
    :float right

.return-to-index
  :margin-right 10px
  btn
    :margin-left 5px
    :margin-right 5px

#success_message
  :margin auto

@media only screen and (min-width: 481px)
  #helpModal
    .controls
      input[type=text]
        :width 320px
      textarea
        :width 320px
    .control-text
      :width 320px
