@import "susy"
@import "local_mixes"

body
  :background white 
  :font 0.75em "Lucida Grande", "Lucida Sans Unicode", Verdana, "Arial Unicode MS", Arial, sans-serif
  :line-height 1.5

html 
  :background transparent
  :overflow-y scroll

body
  :background #fff

#page
  :background white
  :border-bottom none

html
  :background white
  
body
  :padding 0em

#cu_top
  background: #174785
  height: 30px
  color: #ddd
  font-size: 10px
  line-height: 30px

#cu_inner
  margin: 0 auto
  background: asset_url("crown-24x24.png", image) no-repeat left 1px 
  padding-right: 0px
  padding-left: 28px
  min-height: 24px

#cu_inner_right
  float: right
  padding-right: 1px

#cu_top a
  color: #fff
  text-decoration: none
  border: 0
  &:hover
    text-decoration: underline
    border: 0

#hd   
  :padding-top .5em
  :padding-bottom 1em

#bd
  :min-height 400px

#sidebar
  +columns(6,24)

#main
  +columns(18,24)

.help_button
  :padding-top 5px

#cul_footer
  clear: both
  margin: 0 auto
  border-top: 0px solid #ddd
  padding: 4px 0px
  color: #888
  text-align: right
  p
    padding: 1em 0



h1.site_title a
  :height 50px
  :width 218px

#user_util_links
  :text-align right

.refine_call_number
  :padding-left .5em

.refine_call_title
  :margin-top 1em
  :font-weight bold

.grid_view
  +columns(18,18)
  +omega(18)

  .document_gallery
    +columns(6,18)

  .document_gallery.last
    +omega(18)
