@import "local_mixes"

.css-dropdown 
  li:hover > ul
    border-top: 1px solid #CCC !important

#facets
  .search_option
    padding-bottom: 0.3em

    input[type="checkbox"]
      :margin-top 0px
      :margin-bottom 2px

  .search_options
    :margin-bottom 1em

  .range_limit_form
    :margin-top 1em
.landing_text
  :padding-top .5em


.holdings.article
  .holding
    :margin-bottom .75em




.holdings_title.additional
  :padding-top 1em
