

/* Styles related to Best Bets */


.best-bets-snippet .best-bets-title
  font-weight: bold

.best-bets-snippet.tt-suggestion
  padding-left: 2em
  text-indent: -1em
  font-size: 100%
  /*  font-size: 95%  */

  
.tt-hint
  display: none

@media (min-width: 400px)
  .twitter-typeahead
    width: 100% !important

@media (min-width: 800px)
  .twitter-typeahead
    width: auto !important
