

/* Styles related to Best Bets */

#best_bets

#best_bets_query
  display: none

#best_bets_hits
  display: none
  background: #eee
  border: 2px solid #ccc
  margin-left: 5px
  margin-bottom: 5px
  padding: 5px
  width: 50%
  /*  color: lightgrey */
  /*  font-weight: bold */

#best_bets_hits a
  text-decoration: underline
		

.best-bets-link
  font-style: bold

.best-bets-snippet.tt-suggestion
  padding-left: 2em
  text-indent: -1em
  font-size: 100%
  /*  font-size: 95%  */

  
.tt-hint
  display: none

@media (min-width: 400px)
  .twitter-typeahead
    width: 100% !important

@media (min-width: 800px)
  .twitter-typeahead
    width: auto !important
