

/* Styles related to Best Bets */

#best_bets

#best_bets_query
  display: none

#best_bets_hits
  display: none
  color: #ff3300
  font-weight: bold
  border: 2px solid #ff4500
  margin-left: 5px
  margin-bottom: 5px
  padding: 5px
  width: 50%

#best_bets_hits a
  text-decoration: underline
		

.best-bets-link
  font-style: bold

.tt-hint
  display: none



