@import "blacklight/susy_framework"
@import "local_mixes"

#show-toolbar
  :margin-top 1em
  +columns(24,24)
  +omega(24)
  :background #f1f1f1

  li.right
    :float right
    :border-left 1px solid #ccc
    ul li
      :margin-left -100px
#email_form
  input[type=text]
    :width 30em
  textarea
    :width 30em

.document
  +columns(18,18)
  +omega(18)

  .title
    +columns(15,18)
    font-size: 1.25em
    font-weight: bold
    padding-bottom: 1em
  
  .actions
    +columns(3,18)
    +omega(18)
  
  .details
    +columns(15,18)
    .row
      +columns(15,15)
      +omega(15)
      :padding-bottom .25em

      .label
        +columns(2,15)
        :text-align top

      .value
        +columns(13,15)
        +omega(15)

  .doc_bookjacket
    +columns(3,18)
    +omega(18)


img.availability
  :padding-right .25em

.show
  +columns(24,24)
  +omega(24)

  .book_cover
    +columns(6,6)
    +omega(6)

    .gbs_cover
      :margin-bottom 1em
      :margin-top 1em
  .main
    +columns(18,24)
    
    .values
      +columns(18,18)
      +omega(18)

    .show_title
      :padding-left 1em
    .row
      +columns(18,18)
      +omega(18)

      .label
        +columns(4,18)

      .value 
        +columns(14,18)
        +omega(18)

  .sidebar
    +columns(6,24)
    +omega(24)

.holdings


  .holding
    :margin-bottom 1.5em 
    .location_box
      +columns(10,12)
      .location
        :padding-left .5em

    .call_number
      +pad(1,1,12)
      +columns(10,12)
      +omega(12)
      :padding-bottom .5em


    .hours
      +columns(2,12)
      +omega(12)

    
    .url_link
      +prefix(1,12)
      +columns(10,12)
      +suffix(1,12)
      +omega(12)

    .group
      +prefix(1,12)
      +columns(10,12)
      +suffix(1,12)
      +omega(12)

      :padding-bottom .5em

      .message

        :text-indent -2em
        :padding-left 2em

      .status

        :font-style italic

    .services
      +prefix(1,12)
      +columns(10,12)
      +suffix(1,12)
      +omega(12)

      :font-size .9em

      .label

        :display inline
        :font-weight bold

      .service

        :display inline
        :padding-left 2em
