/******************************************
 * CLIO 'last loaded' styles.
 * er2576 - LDPD
 ******************************************/

@font-face {
  font-family: trajanprobold;
  src: url('TrajanPro-Bold.otf');
}
@font-face {
  font-family: 'TrajanProRegular';
  src: asset-url('trajanpro-regular-webfont.eot');
  src: asset-url('trajanpro-regular-webfont.eot?#iefix') format('embedded-opentype'), asset-url('trajanpro-regular-webfont.woff') format('woff'), asset-url('trajanpro-regular-webfont.ttf') format('truetype'), asset-url('trajanpro-regular-webfont.svg#TrajanProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #eeeeff !important;
}
/* on blank_layout, UNDO the 60px top navbar padding inserted by ldpd toolkit */
body.blank_layout {
  padding-top: 0px;
}

#outer-container {
  margin-left: 10px;
  margin-right: 20px;
  border: 1px solid #aaa;
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.85098);
}

//#crowndown a.menu,
//#crowndown-nosearch a.menu {
//  background: transparent url(ldpd-toolkit/crown-bts-24x24.png) no-repeat 4px 22% !important;
//}

//#topnavbar .container {
//  padding: 0!important;
//}


.container {
  /* Our body is bluish, all content lives within containers - make them whitish */
   background-color: #f9f9f9; 
/*
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
*/
}
.navbar .topbarlogo #topbarslash {
  padding-left: .2em;
  padding-right: .2em;
}

/*
  * Maybe we don't need any of this crazyness, 
  * if we're not using LDPD styles?

@media screen and (max-width: 979px) {
  #outer-container {
    margin-top: -18px;
    border-top: 0;
  }
}
*/

/* MARGIN goes to zero when in extra-small mode (phone, tablet),
   rely on padding for white-space along left/right edges.
*/
@media screen and (max-width: 767px) {
  #outer-container {
    margin-left: 0px;
    margin-right: 0px;
  }

/*  body {
    padding-top: 0; 
  }
*/
}




// http://stackoverflow.com/questions/19576175/how-do-you-decrease-navbar-height
.navbar-nav > li > a {padding-top:7px !important; padding-bottom:7px !important;}
#crowndown-nosearch.navbar-nav > li > a {padding-top:5px !important; padding-bottom:3px !important;}
.navbar {min-height:32px !important}
.navbar-text { margin-top: 7px !important; margin-bottom: 7px !important;}


/* Turn off LDPD Toolkit radius */
/*
#topnavbar {
  border-radius: 0;
}
*/

/* Try to make BS 3 menus like BS2 menus */
/*
.no-stack-menu.navbar-nav > li {
  float: left;
}

*/

/*  Not sure why we'd added this - try taking it out*/
/*body {
  min-height: 2000px;
}
*/
.navbar-static-top {
  margin-bottom: 0px;
}

