/******************************************
 * CLIO 'last loaded' styles.
 * er2576 - LDPD
 ******************************************/
@font-face {
  font-family: trajanprobold;
  src: url('TrajanPro-Bold.otf');
}
@font-face {
  font-family: 'TrajanProRegular';
  src: url('trajanpro-regular-webfont.eot');
  src: url('trajanpro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('trajanpro-regular-webfont.woff') format('woff'), url('trajanpro-regular-webfont.ttf') format('truetype'), url('trajanpro-regular-webfont.svg#TrajanProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #eeeeff !important;
}
/* on blank_layout, UNDO the 60px top navbar padding inserted by ldpd toolkit */
body.blank_layout {
  padding-top: 10px;
}

#outer-container {
  margin-left: 10px;
  margin-right: 20px;
}

#crowndown a.menu,
#crowndown-nosearch a.menu {
  background: transparent url(ldpd-toolkit/crown-bts-24x24.png) no-repeat 4px 22% !important;
}
#topnavbar .container {
  padding: 0!important;
}
.container {
  /* reinstate the Bootstrap white navbar, that LDPD had made shaddowy blue */
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.navbar .topbarlogo #topbarslash {
  padding-left: .2em;
  padding-right: .2em;
}
@media screen and (max-width: 979px) {
  #outer-container {
    margin-top: -18px;
    border-top: 0;
  }
  /* reinstate the narrow-screen Bootstrap padding-top=0 that LDPD took away */
  body {
    padding-top: 0;	
  }
}
@media screen and (max-width: 767px) {
  #outer-container {
    margin-left: -10px;
    margin-right: -10px;
  }
}



