@import "susy"
@import "local_mixes"

.landing_page

  :display none

  &.selected
    :display block

.landing_pages
  :font-size 1.3em
  +clearfix

  .landing_across
    +columns(18,18)
    +omega(18)
  .landing_main
    +columns(13,18)

  .landing_side
    +columns(5,18)
    +omega(18)

  .landing_side_inner 
    :background #fffcf0
    :font-size 0.9em
    :padding 0em 0 1em .5em 
    :border 1px solid gold
    :padding-left 0.4em

    h3
      :color #777
      :margin 0
      :text-transform lowercase
      :font-size 120%
      :font-variant small-caps

    .item
      :font-size 0.9em 
      :margin .5em .5em .5em .5em
      :font-weight bold
      :min-height 3em

    .note
      :padding-left .25em
      :font-weight normal
      :color #8e8e8e

  .title
    font-family: "Trajan Pro Bold", "TrajanProBold", "TrajanPro-Bold", serif
    font-weight: bold
    font-size: 135%
    :padding 0.25em 0 0.5em 

#datasources
  :margin .4em 0em 2em 0
  margin-right: 0
  li
    :list-style none
    background: inherit
    color: #111
    :font-size 1.1em
    :padding .5em 0 .5em .75em
    :margin-right 1em

    &.datasource_link:hover

    a
      color: #111
      display: inline-block
      width: 100%
      :border-bottom none

    &.title
      font-weight: bold
      font-size: 1.4em
      text-transform: lowercase
      font-variant: small-caps
      color: #888

    &.hover
      :background #f6f6f6 asset_url("ds_pointer.png",image) no-repeat center right

    &.selected, &.selected.hover
      background: #e3e8f1 asset_url("ds_pointer.png",image) no-repeat center right
      border-left: 5px solid gold
      a
        margin-left: -3px 
        font-weight: bold





ul#expanded_datasources
  :margin 0
  :display none
