.donor_info_icon{
  padding: 3px 4px 3px 28px;
  margin-right: 3px;
  background-image: url('/assets/ldpd-toolkit/crown-bts-24x24.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: #779bc3;
  border-radius: 1px;
  border: 1px solid #779bc3;
  background-position: 0;
  color: white;
  height: 2.2em;
  font-size: 104%;
  font-style: normal;
  line-height: 1.3;
}
.donor_info{
  display: inline-block;
}
.area { 
  position: relative;
  background-color: #F5F5F5;
}

.bubble {
  height: 2.2em;
  display: table;
}

.bubble p{
  display: table-cell;
  vertical-align: middle;
  margin: 0 0 0;
}
