/* @import "local_mixes"
 */

form.range_limit
  :padding-left 0.5em

.range_limit
  .current
    :padding-left 0.5em
  .profile
    :padding-left 0.5em

.constraint-box
  :display inline-block
  :margin 3px 5px 3px 5px
  :width auto
  :background-color #f0f3ff
  //:padding 9px 4px 9px 4px
  //+border-radius(3px)
  :border-radius 3px
  :border 1px solid #ccccff
  :color #2855a2
  :padding 4px 4px 4px 4px


  &.with-dropdown
    //:padding 10px 4px 4px 4px

  .dropdown
    span.caret
      :margin-left 0 

  // No more CSS-Dropdown, native bootstrap instead
  //ul.css-dropdown
  //  li
  //    :padding-left 2px
  //    :padding-right 2px
  //    ul
  //      :z-index 5000
  //
  //  li.hovering, li:hover
  //    ul
  //      :width 70px



  .inner-dropdown
    //+border-radius(2px)
    :border-radius 2px
    :padding 3px
    :border 1px solid #ccccff
    :margin-right 3px
    :margin-left 3px

  .chrome-fix
    :display inline-block
    :width 1px

.facet_action
  :cursor pointer

.facet_limit
  .panel-heading
    :padding 5px 10px
  .panel-body
    :padding 10px 15px

  li
    img

      :vertical-align middle
    .facet_label
      :padding-left 0em
      :vertical-align middle
    .facet_cancel
      :padding-bottom .25em
      :padding-left .25em
      :padding-right .25em

  li.facet_selected
    :padding-top .25em
    :padding-bottom .25em
    :background #f0fff0

  li.facet_negated
    :padding-top .25em
    :padding-bottom .25em
    :background #fff0f0


ul.facet_extended_list
  .facet_line
    +clearfix
    :vertical-align middle
    :padding_bottom 0.5em
    :clear both
  span.facet_select
    :padding-top 1em
  .actions
    :padding-left 1em
    :float right 


.refine_call_title
  :margin-top 1em
  :font-weight bold

#facets.facets.sidenav
  //:border 1px solid #D4D4D4
  padding-bottom: 0px

#facets .top-panel-heading
  //border: 0px solid white
  padding: 0px
  padding-left: 1em
  margin: 0px

.top-panel-heading h4
  //font-size: 110%
  //font-weight: bold
  
.facets_limit.panel
  :border-top 1px solid #D4D4D4

.facet_limit.panel, .facet_limit.panel-default .panel-heading
//  :background-image none
//  :border none


// Override styles from Blacklight Range Limit gem
.limit_content .subsection
  :margin-top 0em




/*
 *  OVERRIDE CORE BLACKLIGHT
 *
 *  The below code specifically overrides the use of 
 *  chevrons for facet open/close indicators.
 *
 *  Selected portions of _facets.css.scss from blacklight have
 *  been rewritten here in SASS to use plus/minus instead.
 *
 *  (Chevrons and Plus/Minus icons come from twitter bootstrap)
 */

// 6/2014 - Blacklight Facets rewritten to use Bootstrap,
//          the following no longer works at all.
//
//.facets-collapse
//
//  .icon-turnbuckle
//    :float right
//    :margin-top 2px
//    :margin-right -6px
//    :opacity .25
//
//  .icon-turnbuckle
//    @extend .icon-plus
//    :opacity .5
//
//  .twiddle-open .icon-turnbuckle
//    @extend .icon-minus
//    :opacity 1
//    :padding-right 2px
//
//  /* hide the turnbuckle when js isn't supported */
//  .no-js & .icon-turnbuckle
//    @extend .icon-minus
//    :padding-right 2px
//
//  h5:hover .icon-turnbuckle,
//  .twiddle-open .icon-turnbuckle
//    :opacity 1


// Override the following, from Blacklight 5.2.0, facets.css.scss

//// This is what BL used when the facet is OPEN
//.glyphicon-chevron-down:before {
//  content: "\e114";
//}
//// This is used when the facet is CLOSED
//.glyphicon-chevron-right:before {
//  content: "\e080";
//}
//// We want plus/minus instead...
//.glyphicon-plus:before {
//  content: "\2b";
//}
//
//.glyphicon-minus:before {
//  content: "\2212";
//}


.panel-heading.collapse-toggle .panel-title:after
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings'  /* essential for enabling glyphicon */
  content: "\2212"  /* adjust as needed, taken from bootstrap.css */
  float: right    /* adjust as needed */
  color: grey     /* adjust as needed */
  font-size: 0.8em
  line-height: normal

.panel-heading.collapse-toggle.collapsed .panel-title:after
  /* symbol for "collapsed" panels */
  content: "\2b"    /* adjust as needed, taken from bootstrap.css */

