/******************************************
 * CUL LWeb styles and Bootstrap overrides
 * er2576 - LDPD
 ******************************************/
#feedback_dialog
{
    border-radius:5px;
    border:3px solid #BBBBBB;
}


@font-face {
  font-family: trajanprobold;
  src: asset-url('TrajanPro-Bold.otf', font);
}
@font-face {
  font-family: 'TrajanProRegular';
  src: asset-url('trajanpro-regular-webfont.eot', font);
  src: asset-url('trajanpro-regular-webfont.eot?#iefix', font) format('embedded-opentype'), asset-url('trajanpro-regular-webfont.woff', font) format('woff'), asset-url('trajanpro-regular-webfont.ttf', font) format('truetype'), asset-url('trajanpro-regular-webfont.svg#TrajanProRegular', font) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* via lessify */
html {
  overflow-y: scroll;
}
body {
  color: #505050;
  background-color: #eeeeff;
}
h6 {
  color: #777777;
}
#outer-container {
  padding: 1.0em 10px 1em 10px;
  margin-top: -1em;
  margin-bottom: 20px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #aaaaaa;
  border-top-width: 2px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.navbar .fill {
  min-height: 44px;
  border-top: 5px solid #002b7f;
  border-bottom: 1px solid #222222;
  background-color: #779bc3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#779bc3), to(#75aadb));
  background-image: -moz-linear-gradient(top, #779bc3, #75aadb);
  background-image: -ms-linear-gradient(top, #779bc3, #75aadb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #779bc3), color-stop(100%, #75aadb));
  background-image: -webkit-linear-gradient(top, #779bc3, #75aadb);
  background-image: -o-linear-gradient(top, #779bc3, #75aadb);
  background-image: linear-gradient(top, #779bc3, #75aadb);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#779bc3', endColorstr='#75aadb', GradientType=0);
}
.navbar ul.menu-dropdown {
  background-color: #002baa;
  border: 1px solid #222222;
  margin-top: -3px;
}
.navbar a.brand:hover {
  background: rgba(255, 255, 255, 0.09);
}
.navbar a.brand {
  color: #ffffff;
  font-size: 22px;
  font-family: TrajanProRegular, trajan, georgia, serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #222222;
}
.navbar ul.nav {
  margin-top: 1px;
}
#topnavbar.navbar ul.nav > li > a {
  color: #dddddd;
  text-shadow: none;
}
.navbar #topbarformdiv {
  margin-top: 6px;
}
.navbar #topbarformdiv .add-on {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #521d1f;
  white-space: nowrap !important;
}
.navbar #topbarformdiv .add-on.success {
  background-color: #468847;
}
.navbar #topbarformdiv label {
  margin-bottom: 0;
}
.navbar #top_q_wrapper {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #521d1f;
  height: 26px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.navbar #top_q_wrapper.focused {
  background-color: #ffffff;
  text-shadow: none;
}
.navbar #top_q_wrapper.disabled {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  background-repeat: repeat-x;
  background-position: 50% 50%;
}
.navbar input#q::-webkit-input-placeholder {
  color: #777777;
}
.navbar input#q:-moz-placeholder {
  color: #777777;
}
.navbar input[type="radio"] {
  background-color: transparent;
  border: 0;
}
.navbar .topbarlogo {
  margin: 0;
}
.navbar .topbarlogo a {
  color: #ffffff;
  letter-spacing: 1px;
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 2px;
}
.navbar .add-on a {
  text-decoration: none;
}
.navbar .add-on a:hover {
  color: #ffffff;
}
.navbar #top_form_submit {
  padding-left: 13px;
  padding-right: 13px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #2a2aa5;
  color: #ffffff !important;
}
a.thumbnail:hover {
  border-color: transparent;
}
#cul_top {
  background: #002b7f;
  background-color: #002b7f;
  background-image: -moz-linear-gradient(top, #002b7f, #002baa);
  background-image: -ms-linear-gradient(top, #002b7f, #002baa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002b7f), to(#002baa));
  background-image: -webkit-linear-gradient(top, #002b7f, #002baa);
  background-image: -o-linear-gradient(top, #002b7f, #002baa);
  background-image: linear-gradient(top, #002b7f, #002baa);
  background-repeat: repeat-x;
  margin-left: 0px;
  margin-right: 18px;
  height: 38px;
  -moz-transform: skewx(-25deg);
  -webkit-transform: skewx(-25deg);
  transform: skewx(-25deg);
}
#cul_top .dropdown-menu {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
#cul_top-nosearch {
  background: #002b7f;
  background-color: #002b7f;
  background-image: -moz-linear-gradient(top, #002b7f, #002baa);
  background-image: -ms-linear-gradient(top, #002b7f, #002baa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002b7f), to(#002baa));
  background-image: -webkit-linear-gradient(top, #002b7f, #002baa);
  background-image: -o-linear-gradient(top, #002b7f, #002baa);
  background-image: linear-gradient(top, #002b7f, #002baa);
  background-repeat: repeat-x;
  margin-left: 0px;
  margin-right: 18px;
  height: 38px;
  -moz-transform: skewx(-25deg);
  -moz-transform: skewx(0);
  -webkit-transform: skewx(-25deg);
  -webkit-transform: skewx(0);
  transform: skewx(-25deg);
  transform: skewx(0);
  padding-right: 10px;
}
#cul_top-nosearch #user_profile {
  margin: -4px 9px 0 0;
}
#cul_top-nosearch #user_profile a.dropdown-toggle {
  margin-bottom: 4px;
}
#cul_inner {
  margin-right: auto;
  margin-left: auto;
  background: transparent image-url('ldpd-toolkit/crown-bts-24x24.png') no-repeat left top;
  color: #aaaaaa;
  font-size: 9px;
  padding: 4px 5px 1px 28px;
}
#cul_right {
  float: right;
  color: #cccccc;
}
#cul_top a,
#cul_top-nosearch a {
  color: #dddddd;
}
#crowndown {
  background: #002b7f;
  background-color: #002b7f;
  background-image: -moz-linear-gradient(top, #002b7f, #002baa);
  background-image: -ms-linear-gradient(top, #002b7f, #002baa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002b7f), to(#002baa));
  background-image: -webkit-linear-gradient(top, #002b7f, #002baa);
  background-image: -o-linear-gradient(top, #002b7f, #002baa);
  background-image: linear-gradient(top, #002b7f, #002baa);
  background-repeat: repeat-x;
  float: left;
  margin-left: -10px;
  margin-top: -1px;
  height: 39px;
  padding-left: 0px;
  -moz-transform: skewx(25deg);
  -webkit-transform: skewx(25deg);
  transform: skewx(25deg);
}
#crowndown-nosearch {
  background: #002b7f;
  background-color: #002b7f;
  background-image: -moz-linear-gradient(top, #002b7f, #002baa);
  background-image: -ms-linear-gradient(top, #002b7f, #002baa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002b7f), to(#002baa));
  background-image: -webkit-linear-gradient(top, #002b7f, #002baa);
  background-image: -o-linear-gradient(top, #002b7f, #002baa);
  background-image: linear-gradient(top, #002b7f, #002baa);
  background-repeat: repeat-x;
  float: left;
  margin-left: -10px;
  margin-top: -1px;
  height: 39px;
  padding-left: 0px;
  -moz-transform: skewx(25deg);
  -moz-transform: skewx(0);
  -webkit-transform: skewx(25deg);
  -webkit-transform: skewx(0);
  transform: skewx(25deg);
  transform: skewx(0);
}
#crowndown li.menu,
#crowndown-nosearch li.menu {
  padding-right: 0;
  padding-left: 0;
}
#crowndown a.menu,
#crowndown-nosearch a.menu {
  background: transparent image-url('ldpd-toolkit/crown-bts-24x24.png') no-repeat 22%;
  background-position: 4px 4px;
  padding-right: 4px;
  padding-left: 34px;
  font-size: 110%;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: normal;
  font-family: TrajanProRegular, trajan, serif;
  margin-top: 2px;
}
#crowndown img,
#crowndown-nosearch img {
  margin-top: -7px;
  margin-right: 6px;
  padding-right: 0;
  display: none;
}
#crowndown .menu-dropdown li,
#crowndown-nosearch .menu-dropdown li {
  line-height: 1.0em;
  margin-bottom: 0.2em;
}
#crowndown b.caret,
#crowndown-nosearch b.caret {
  margin-top: 6px;
  border-top-width: 6px;
  border-right-width: 6px;
  border-left-width: 6px;
}
.navbar .dropdown-menu li a,
#cul_top-nosearch #user_profile .dropdown-menu li a {
  color: #777777;
}
#topnavbar.navbar-fixed-top ul.nav li.active a,
#topnavbar.navbar-fixed-top ul.nav li.active a:hover {
  color: #ffffff;
  background-color: #222222;
  background-color: rgba(255, 255, 255, 0.2);
}
.dropdown-menu li > a {
  line-height: 12px;
  margin: 2px 2px;
}
#topnavbar li.dropdown ul li,
#culnav li.dropdown ul li {
  list-style: none;
  margin: 2px 1px;
}
#culnav {
  border-color: #bbbbbb;
  margin-bottom: 1em;
  margin-left: -10px;
  margin-right: -10px;
  border-right: 0;
  border-left: 0;
  padding-left: 0;
  padding-right: 0;
}
#culnav .navbar-inner {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
#culnav .divider-vertical {
  background: #ffffff;
  border-color: #dddddd;
  margin: 0 1px;
  border-left: 0;
  width: 1px;
}
#culnav-right {
  display: none;
  float: right !important;
  text-align: center;
  font-size: 11px;
  color: #888888;
  margin-right: -10px;
  line-height: 30px;
  height: 28px;
}
ul#culnav-main > li {
  height: 28px;
}
ul#culnav-main > li > a {
  font-weight: normal;
  font-size: 85%;
  font-family: arial, helvetica, sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  line-height: 26px;
  padding-top: .2em;
  padding-bottom: 0;
  color: #777777;
  text-shadow: none;
}
ul#culnav-main > li > a i {
  margin-top: -2px;
}
ul#culnav-main > li > a b {
  line-height: 1em;
  margin-top: 11px;
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-inner {
  padding-left: 10px;
  min-height: 28px;
  background: #eeeeff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#culnav.navbar .nav .active > .dropdown-toggle,
#culnav.navbar .nav .open.active > .dropdown-toggle {
  background-color: rgba(0, 0, 0, 0.2);
}
#home_q_wrapper {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #521d1f;
  border-color: #aaaaaa;
  margin-bottom: 0;
}
#topbarformdiv #q_home,
#topbarformdiv button[type="submit"],
#topbarformdiv a.submitss {
  font-size: 12px;
  height: 16px;
  line-height: 18px;
  float: left;
}
#topbarformdiv #home_q_wrapper {
  border-color: #222222;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#topbarformdiv #source_add {
  background-color: #eeeeee;
  border-width: 0 1px 0 0;
  border-color: #aaaaaa;
}
#topbarformdiv #clio_search_help_blurb {
  display: none;
}
#topbarformdiv #clio_home_search {
  margin-bottom: 0;
}
#topbarformdiv #clio_home_search .input-append,
#topbarformdiv #clio_home_search .input-prepend {
  font-size: 11px;
  line-height: 14px;
}
#topbarformdiv #clio_home_search .add-on {
  line-height: 18px;
  height: 18px;
}
#topbarformdiv #home_form_submit_label:hover {
  background-color: #0044cc !important;
}
#topbarformdiv #home_advo_link {
  height: 18px;
  line-height: 18px;
}
#topbarformdiv #clio_source_button {
  height: 18px;
  line-height: 18px;
  line-height: 18px;
  font-size: 11px;
  text-decoration: none;
  box-shadow: none;
  margin-top: 0px;
}
#topbarformdiv #clio_source_button b.caret {
  margin-top: 7px;
}
#topbarformdiv #clio_field_button {
  overflow: hidden;
  height: 20px;
  margin: 2px 1px 0 0;
  padding-top: 2px;
  padding-left: 0;
}
#topbarformdiv #clio_field_button b.caret {
  margin-top: 8px;
  margin-right: 2px;
}
#topbarformdiv #clio_searchfield {
  width: 180%;
  background: transparent !important;
  border: 0;
  color: #ffffff;
  font-size: 11px;
  padding-left: 2px;
  margin-left: -3px;
  margin-top: -3px;
  padding-top: 5px;
}
#topbarformdiv #home_form_submit_label {
  border-color: #222222;
  line-height: 18px;
  height: 18px;
}
#top_q_wrapper .dropdown-menu,
#home_q_wrapper .dropdown-menu {
  padding: 3px;
  margin-top: 6px;
}
#top_q_wrapper .dropdown-menu h4,
#home_q_wrapper .dropdown-menu h4 {
  margin-left: 1em;
  color: #666666;
}
#top_datasource {
  margin: 0 0 0 1em;
}
#top_datasource li:not(.divider) {
  padding-top: 4px;
  border-bottom: 1px solid #eeeeee;
}
#top_datasource p a#cliobeta_exit i.icon-arrow-right {
  margin-top: 4px;
}
.add-on {
  white-space: nowrap;
  vertical-align: middle;
}
.add-on input[type="radio"] {
  margin-right: 3px;
}
.navbar #topbarformdiv input[type=radio],
.navbar form label.donothing,
.hero-unit form label.donothing {
  padding-left: 0.5em;
  width: auto;
}
.navbar #q,
#home_q_wrapper #q_home {
  background: none;
  border: none;
  line-height: 14px;
  padding-top: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#home_form_submit_label {
  border-radius: 0 5px 5px 0;
  padding-left: 14px;
  padding-right: 14px;
}
#advo_link {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-right: 2px;
  margin-top: 3px;
  opacity: 0.6;
  padding: 0;
  float: right;
  overflow: hidden;
  height: 18px;
}
#advo_link b.caret {
  margin-top: 7px;
}
#home_advo_link {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-right: 2px;
  margin-top: 3px;
  opacity: 0.6;
  padding: 0;
  float: right;
  overflow: hidden;
  height: 18px;
  height: 24px;
  line-height: 24px;
}
#home_advo_link b.caret {
  margin-top: 10px;
}
#clio_source_button {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-right: 2px;
  margin-top: 3px;
  opacity: 0.6;
  padding: 0;
  float: right;
  overflow: hidden;
  height: 18px;
  height: 24px;
  line-height: 24px;
  line-height: 20px;
  font-size: 13px;
  text-decoration: none;
  box-shadow: none;
}
#clio_source_button b.caret {
  margin-top: 7px;
}
#clio_source_button #source_title {
  margin-right: 1px;
}
#clio_source_button:hover {
  color: #002b7f;
}
#clio_home_search .input-append,
#clio_home_search .input-prepend {
  font-size: 13px;
}
#clio_home_search .dropdown-menu {
  padding: 4px 9px;
}
#clio_home_search .add-on {
  line-height: 24px;
  height: 24px;
}
#clio_home_search #home_form_submit_label {
  line-height: 25px;
  height: 25px;
  border-color: #999999;
}
#source_add {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  margin-left: 1px;
}
#source_add .navbar {
  border-color: transparent !important;
}
#clio_logo {
  margin-left: 0;
  margin-top: 6px;
  color: #888888;
}
#clio_logo label {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
}
#clio_search_help_blurb {
  clear: both;
  margin: 2px 0;
  font-size: 80%;
  line-height: 110%;
  color: #999999;
}
#clio_field_button {
  overflow: hidden;
  height: 26px;
  margin: 2px 1px 0 0;
  padding-top: 2px;
  padding-left: 0;
}
#clio_field_button b.caret {
  margin-top: 10px;
  margin-right: 2px;
}
#clio_searchfield {
  width: 180%;
  background: transparent !important;
  border: 0;
  color: #ffffff;
  font-size: 11px;
  padding-left: 2px;
  margin-left: -3px;
  margin-top: -1px;
  padding-top: 5px;
}
#user_profile {
  margin: 0 0 0 4px;
  padding: 0;
}
#user_profile a.dropdown-toggle {
  margin-top: 8px;
  margin-right: -10px;
}
#cul_top-right {
  margin-top: -2px;
}
#cul_top-right > li > a {
  margin-top: 1px;
  color: #eeeeee;
  text-shadow: 1px 1px 2px #002b7f;
}
#topnav-collapse #cul_top-right > li > ul.menu-dropdown {
  background-color: #eee;
}
#user_profile_tablet a.dropdown-toggle {
  padding: 4px 6px;
}
.hero-search {
  background: #f5f5f5 !important;
  padding: 14px 8px;
  border-color: #bbbbbb;
}
.hero-search button[type="submit"],
.hero-search a.submitss {
  font-size: 110%;
}
.hero-search .form-search {
  margin: 0;
  padding: 0;
}
#q_home {
  height: 24px;
  line-height: 24px;
  float: left;
  font-size: 110%;
}
a.submitss {
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
}
a.submitss i {
  margin-top: 2px;
}
#banner_outer {
  padding: 0 10px 0;
  border-top: 0 solid #222222;
  margin-bottom: 1px;
  margin-top: -13px;
  margin-left: -10px;
  margin-right: -10px;
}
#inner-headline {
  overflow: hidden;
  margin: 0 0 10px 0;
  margin: 0 -10px;
  padding-top: .4em !important;
  border-top: 10px solid #eeeeff;
  padding: 0 10px;
  background: #ffffff;
}
#spotlight {
  margin-right: -20px;
}
#spotlight img.spotlight {
  width: 100%;
}
#main .well {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.well {
  border-color: #bbbbbb;
}
.well-mini {
  border: 1px solid #bbbbbb;
  padding: 3px;
}
.hero-unit {
  padding: 30px;
}
.hero-unit h2 {
  color: #444444;
}
.hero-unit h2.trajanpro {
  border-bottom: 1px solid #dddddd;
  margin-bottom: .5em;
}
.hero-small {
  padding: 13px;
}
#primary h3.trajanpro {
  line-height: 1;
  margin-bottom: .25em;
}
#primary h3.trajanpro span.paren {
  font-size: 80%;
}
#primary .hero-unit img.thumbnail {
  max-width: 99%;
}
#primary .hero-unit img.thumbnail-full {
  width: 99%;
}
#primary .hero-unit img.thumbnail-med {
  width: 33%;
}
#primary .hero-unit p {
  font-size: 110%;
  line-height: 120%;
  margin-bottom: 0;
  margin-top: 6px;
}
.hero-splash {
  padding: 2px;
  border-color: #cccccc;
}
.hero-splash img {
  width: 100%;
}
.cul-carousel {
  border: 1px solid #bbbbbb;
  padding: 5px;
}
.cul-carousel .carousel-inner .item img {
  width: 100%;
}
.hero-carousel {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
}
.hero-carousel h2 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  display: none;
}
.hero-carousel p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 3px;
}
.hero-carousel p a {
  color: #ffffff;
}
.carousel-caption {
  padding: 3px 10px;
}
.carousel-control {
  opacity: 0.3;
}
.well-primary {
  padding: 0 10px;
  border: 0;
  font-size: 110%;
}
.well-primary p,
.well-primary dd {
  line-height: 120%;
}
.well-primary li {
  line-height: 120%;
  margin-bottom: .5em;
}
.thumb-and-text {
  padding: 10px;
  border-color: #dddddd;
}
.thumb-and-text h2 {
  font-size: 14px;
  line-height: 18px;
}
.thumb-and-text img {
  margin-right: 5px;
  background: #ffffff;
  margin-left: 0;
}
.sidebar-nav {
  padding: 8px 0;
  border-color: #bbbbbb;
}
.sidebar-nav strong {
  color: #888888;
}
.sidebar-nav .nav > li > a {
  display: block;
}
.sidebar-title {
  padding-bottom: 4px;
  margin-bottom: .5em;
  border-bottom: 1px solid #e5e5e5;
}
#site_footer {
  border-top: 4px double #dddddd;
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: .25em;
  color: #555555;
  font-size: 11px;
  line-height: 11px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
#site_footer section p {
  padding-left: 1em;
}
#site_footer section p a {
  color: #777777;
}
#site_footer a.thumbnail {
  display: inline-block;
}
#site_footer a.thumbnail img {
  height: 20px;
  border: 1px;
}
.strong {
  font-weight: bold;
}
.center {
  text-align: center;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.nomar {
  margin: 0 !important;
}
.nopad {
  padding: 0 !important;
}
.noborder {
  border: 0 !important;
}
.fullbleed {
  margin-left: -10px;
  margin-right: -10px;
}
.trajanpro {
  font-weight: normal;
  font-family: trajanproregular, "trajan pro regular", trajan, serif;
}
.trajanprobold {
  font-weight: bold;
  font-family: trajanprobold, "trajan pro bold", trajan, serif;
}
.cul_blue_light {
  color: #779bc3;
}
.bg_cul_blue_light {
  background-color: #779bc3;
}
.bg_trans {
  background-color: transparent !important;
}
.bg_smoke {
  background-color: rgba(0, 0, 0, 0.01);
}
.cul_blue_dark {
  color: #002b7f;
}
.bg_cul_blue_dark {
  background-color: #002b7f;
}
.white {
  color: #ffffff;
}
.lightgray {
  color: #eeeeee;
}
.ccc {
  color: #cccccc;
}
.bbb {
  color: #bbbbbb;
}
.aaa {
  color: #aaaaaa;
}
.sc {
  font-variant: small-caps;
}
.lc {
  text-transform: lowercase;
}
.uc {
  text-transform: uppercase;
}
a.nodec {
  text-decoration: none;
}
.round-all {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.square-all {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* end lessify */
/*
 * LWeb RESPONSIVE styles and Bootstrap overrides
 */
  body {
    padding-top: 60px;
    /* to deal with fixed navbar */
  
  }
  #top_q_wrapper .btn-group,
  #home_q_wrapper .btn-group {
    float: right;
  }
  #home_form_submit_label a.submitss:before {
    content: 'Go ';
  }
  #culnav {
    /*
        .open > .dropdown-menu > li {
          -webkit-column-break-inside:avoid;
          -moz-column-break-inside:avoid;
          -o-column-break-inside:avoid;
          -ms-column-break-inside:avoid;
          column-break-inside:avoid;
      }
  */
  
  }
  #culnav .navbar-inner {
    position: relative;
  }
  #culnav #culnav-main {
    position: static;
  }
  #culnav #culnav-main .open > .dropdown-menu:before,
  #culnav #culnav-main .open > .dropdown-menu:after {
    display: none;
    visibility: hidden;
  }
  #culnav #culnav-main ul.dropdown-menu > li ul > li > a {
    line-height: 1.2em;
    padding-left: 0;
    margin-left: 0;
    white-space: normal;
  }
  #culnav .dropdown {
    position: static;
  }
  #culnav .open > a.dropdown-toggle {
    color: #002b7f;
  }
  #culnav .open > .dropdown-menu {
    background-color: #f6f9fb;
    position: absolute;
    top: 30px;
    left: -11px;
    padding-right: 30px;
    display: block;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
  #top_form_submit {
    color: #fff;
  }
  #top_form_submit:before,
  #home_form_submit_label a.submitss:before {
    content: 'Go ';
  }
  .navbar a.brand {
    font-size: 155%;
    letter-spacing: 4px;
  }
  .topbarlogo {
    letter-spacing: 0px;
    font-size: 100%;
  }
  #crowndown img,
  #crowndown-nosearch img {
    margin-top: -11px;
  }
  #culnav-right {
    display: block;
  }
