/* CLIObeta styles via er2576 */
@font-face { font-family: 'Trajan Pro'; src: asset_url('TrajanPro-Regular.otf', images); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Trajan Pro Bold'; src: asset_url('TrajanPro-Bold.otf', images); font-weight: bold; font-style: normal; }
#cu_top { background:#174785;height:30px; color:#ddd; font-size:10px; line-height:30px; }
#cu_inner { width:920px!important; margin:0 auto!important; background: asset_url("crown-24x24.png", image) no-repeat left 1px!important; padding-left:28px!important; min-height:24px!important; }
#cu_inner_right { float:right!important; padding-right:9px!important; }
#cu_top a { color:#fff; text-decoration:none!important; border:0; }
#cu_top a:hover { text-decoration:underline!important; border:0; }
#page { min-width:1000px; }
.site_title a { width: auto!important; }
#quicksearch { }
#quicksearch .main_results { width:65%; padding:0!important; }
#quicksearch .side_results { width:33%; padding:0!important; }
#top_search_box { width:auto!important; }
#top_search_box button.submit { height:34px!important; padding:3px; margin-left:6px; font-size:14px; line-height:14px; color:#fff; background:#1f5b97;  border:1px solid #111; box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 2px 0px inset, rgba(255, 255, 255, 0.246094) 0px 1px 0px 0px; font-family: "Trajan Pro", "TrajanPro", "TrajanPro-Regular", serif; }
#top_search_box button.submit:hover { background:#222; }
#top_search_box button.submit:active { background:gold; color:#222; }
#top_search_box select#search_field { background: white asset_url("select-arrow.png", image) no-repeat 95% center; overflow:hidden; width: 94px; padding: 5px; font-size: 13px; line-height:14px; border: 1px solid #111!important; border-left:0!important; -webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important; -webkit-appearance: none; -moz-appearance: none; height: 34px; float:left; }
input.q, #quicksearch_q { background-color: rgba(255, 255, 255, 0.398438)!important; background-image: asset_url("search.png",image)!important; background-position: 100% 50%!important; background-repeat: no-repeat!important; border:1px solid #111!important; box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 2px 0px inset, rgba(255, 255, 255, 0.246094) 0px 1px 0px 0px!important; color: rgba(0, 0, 0, 0.746094)!important; float: left!important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important; font-size: 13px!important; height: 24px!important; line-height: 13px!important; margin: 0px!important; padding: 4px 9px!important; vertical-align: baseline!important; width: 404px!important; word-spacing: 0px!important; }
#sources { background:#759ac4; width:155px!important; height:100%; margin-right:20px!important; }
#logo_small { width:155px!important; margin-right:20px!important; }
#main_with_sources { float:left!important; border:1px solid #111; width:762px!important; padding:4px!important; }
#main_with_sources .landing_page .title { padding-top:0.4em!important; font-family: "Trajan Pro Bold", "TrajanProBold", "TrajanPro-Bold", serif; font-weight:bold; font-size:130%; }
.two_lopsided { padding:0 10px; float:none; }
.results_header { background:#e3e8f1; padding:15px 4px 6px 4px; line-height:1; border:1px solid #ccc; }
.result { float:none!important; }
.result_title { padding-left: 3px!important; }
.results_header .category_title { font-family: "Trajan Pro Bold", "TrajanProBold", "TrajanPro-Bold", serif; font-weight:bold; display:block; margin-bottom:6px; }
.result .row { line-height:1!important; }
#datasources { margin-right:0!important; }
#datasources li { background:inherit!important; color:#fff!important; padding-left:4px!important; }
#datasources li.datasource_link:hover { background:rgba(255,255,255,0.3)!important; }
#datasources li a { color:#fff!important; display:inline-block;width:100%; }
#datasources li.title { font-weight:normal!important; }
#datasources li.selected { background:rgba(255,255,255,0.2)!important; }
#sources #facets { padding:2px 4px; }
#sources #facets h2 { padding-left:2px!important; margin-bottom:4px; background: rgba(255, 255, 255, 0.8); }
#sources #facets > .facet_limit { padding:2px 4px 0 4px!important; margin-bottom: 4px!important; background: rgba(255, 255, 255, 0.8); }
#sources .facet_limit > .facet_limit { margin:0!important; padding:0!important; }
#cul_footer { clear:both;width:960px; margin:0 auto; border-top:1px solid #ddd; padding-top:14px 4px; color:#555; }
#cul_footer p { padding:1em 0; }
