

%form.item_select_form
  %label{ :for => "item_select_#{item_id}" }
    %input{ :type => "checkbox", :id => "item_select_#{item_id}", :class => 'item_select_checkbox' }
    -# NEXT-930 - Number results in Index page
    %small.muted= "#{counter}." if counter
  
