

.row-fluid
- if menu_list == current_list
  %b= menu_list.display_name
- else
  = link_to menu_list.display_name, menu_list.url

.row-fluid
  .span4
    #{menu_list.size} items
  .span4.text-right
    #{get_permissions_label(menu_list.permissions)}

