-# %h2 Saved Lists
-# %hr

-# General information about Saved Lists
-# List items can be emailed, printed, and exported.
-# Logged-in users can copy items to their own lists.
-# List owners can delete items from their own lists.
-# %hr



-# If authenticated, show a menu of all the current user's lists
- if current_user

%h4 Saved Lists for:
%p.lead #{current_user.name} (#{current_user.login})

%br
= render :partial => "menu_list", :collection => @all_current_user_lists, :locals => { current_list: @list }

- end  # if current_user (that is, if the user has authenticated)





