
-# If authenticated, show a menu of all the current user's lists
- if current_user

  %h4 Saved Lists for:
  %p.lead #{current_user.name} (#{current_user.login})

  -# %br
  .container
    = render partial: 'menu_list', collection: @all_current_user_lists, locals: { current_list: @list }





