- active ||= ""
- sources = [ {:title => "Quicksearch", :url => {:controller => "search"}}, {:title => "Catalog", :url => {:controller => "catalog"}}, {:title => "Articles", :url => {:controller => "articles"}}]
- sidebar_items << capture do

  %ul#datasources
    %li.title Sources
    - sources.each do |item_hash|
      %li.source

        - if active == item_hash[:title]
          - url = "#"
          - options = {:class => "selected"}
        - else
          - url = item_hash[:url]
          - options = {:q => params[:q]}
        = link_to item_hash[:title], url , options
