- active ||= ""
- sources = [ {:title => "Quicksearch", :url => {:controller => "search"}}, {:title => "Catalog", :url => {:controller => "catalog"}}, {:title => "Articles", :url => {:controller => "articles"}}]
- sidebar_items << capture do

  %ul#datasources
    - sources.each do |item_hash|
      - selected_class = (active == item_hash[:title] ? "selected" : "") 
      %li.source

        = link_to item_hash[:title], item_hash[:url] , :class => selected_class

