
.facet_limit
  %h3.twiddle= facet.label
  - no_selected_items = facet.items(:selected, :negated).empty?
  - style = no_selected_items ? "display: none;" : nil
  %ul{:style => style}
    %span.selected
    - unless no_selected_items
      .activated_facets
        = display_facet_items(facet, :selected)
        = display_facet_items(facet, :negated)
    = display_facet_items(facet, :not_selected)
