.pageEntriesInfo.non_catalog
  = results.entries_info
.pagination
  %h2 Results navigation
  %nav.pagination-container
    =previous_page(results)
    =next_page(results)
    .page_links
      = page_links(results)
      
