---
http_interactions:
- request:
    method: get
    uri: http://machete.cul.columbia.edu:8983/solr-4.2.1/spectrum_prod/select?id=1234&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'1234','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'shelfkey'=>['loc+pn-+0045+00000000+r5870000+1234'],'location_call_number_id_display'=>['Milstein <Barnard Library Collection>, Butler 406A, 406, 409 >> PN45 .R587|DELIM|1936'],'lccn_display'=>['78016335'],'item_display'=>['PN45 .R587 | loc+pn-+0045+00000000+r5870000+1234 | ebn~ac~~zzvu~zzzzzzzz~8urszzzz~yxwv~~~~~~~~~~~~~~~'],'title_display'=>['The reader, the text, the poem : the transactional theory of the literary work'],'clio_id_display'=>'1234','subject_topic_facet'=>['Literature','Criticism','Reading','Philosophy'],'pub_place_display'=>['Carbondale'],'format'=>['Book'],'oclc_display'=>['4056043','ocm04056043'],'title_first_facet'=>['R'],'full_publisher_display'=>['Carbondale : Southern Illinois University Press, c1978.'],'pub_date_sort'=>1978,'isbn_display'=>['0809308835'],'pub_year_display'=>['c1978'],'id'=>'1234','reverse_shelfkey'=>['ebn~ac~~zzvu~zzzzzzzz~8urszzzz~yxwv~~~~~~~~~~~~~~~'],'call_number_display'=>['PN45 .R587'],'marc_display'=>'<?xml version="1.0" encoding="UTF-8"?><collection xmlns="http://www.loc.gov/MARC21/slim"><record><leader>01131cam a2200349 i 4500</leader><controlfield tag="001">1234</controlfield><controlfield tag="005">20140424164936.0</controlfield><controlfield tag="008">790426s1978    ilu      b    001 0 eng  </controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">   78016335 </subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">0809308835</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)4056043</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)ocm04056043</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCG10505040-B</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="9">AAA1293CU[...]
[...]
