
.alert.alert-info.well-sm.eds-referral
  For advanced search visit:
  %a{href: 'https://resolver.library.columbia.edu/articlesplus', class: 'alert-link'}
    https://resolver.library.columbia.edu/articlesplus
