#ft
  = @footer
  #footnotes_holder

  .clio_toolbar
    .right_toolbar
      = link_to "Ask Us", "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0031", :title => "Questions about this service?"
      |
      = link_to "FAQ", "http://library.columbia.edu/services/faq/clio.html", :title => "FAQ"
    = link_to "© Columbia University Libraries", "http://library.columbia.edu/help/libraryweb/copyright.html", :title => "View our copyright statement"
