
#hd.with_search
  #logo_small
    %h1.site_title
      = link_to application_name, root_url

      = (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : ""
  #top_search_box
    = render :partial => "/top_search_box"

  #user_util_links
    = render :partial => "/user_util_links"
