
#hd.with_search.row-fluid
  .logo.span3
    clio beta
    -#= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : ""
  #top_search_box.span6
    = render :partial => "/top_search_box"

  #user_util_links.span2
    = render :partial => "/header_help"

  .clear-both
