
#hd
  #logo
    %h1.site_title
      = link_to application_name, root_url

      = (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : ""
  #user_util_links
    = render :partial => "/user_util_links"
  .clear-both
