#cu_top
  #cu_inner_right
  #cu_inner
    = link_to "CU Home", "http://columbia.edu" 
    >
    = link_to "Libraries Home", "http://library.columbia.edu"
    >
    = link_to "CLIO", "http://columbia.edu/clio"
