#cu_top
  #cu_inner_right
    = link_to 'Course Reserves', 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0182'
  #cu_inner
    = link_to "CU Home", "http://columbia.edu" 
    >
    = link_to "Libraries Home", "http://library.columbia.edu"
    >
    CLIO Beta
    = link_to "(Return to CLIO)", "http://www.columbia.edu/cgi-bin/cul/resolve?clio"
