	<header>
		<h1 class="hide">CUL - Header</h1>
		<div id="topnavbar" class="navbar navbar-fixed-top">
			<div class="navbar-inner fill">
				<div id="navbar-container" class="container">
					<a data-target="#topnav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<nav>
						<div class="span12" id="cul_top-nosearch"> 
							<div class="row-fluid">
							<div class="span4">
							<ul class="nav pull-left" id="crowndown-nosearch">
								<li class="dropdown menu">
									<a href="#" class="dropdown-toggle menu" data-toggle="dropdown" title="Links @ Columbia"><img alt="CU" src="../img/crown-bts-24x24.png"><span class="topbarlogo">Columbia University Libraries</span> <b class="caret"></b></a>
									<ul class="dropdown-menu menu-dropdown">
										<li><a href="http://columbia.edu">Columbia University - Home</a></li>
										<li><a href="http://library.columbia.edu">Libraries - Home</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-time icon-white"></i> Library Hours</a></li>
										<li><a href="#"><i class="icon-question-sign icon-white"></i> Ask a Librarian</a></li>
										<li><a href="#"><i class="icon-heart icon-white"></i> Alumni &amp; Friends</a></li>
										<li><a href="#"><i class="icon-briefcase icon-white"></i> Job Seekers</a></li>
										<li><a href="#"><i class="icon-plane icon-white"></i> Visitors</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-info-sign icon-white"></i> FAQ</a></li>
										<li><a href="#"><i class="icon-flag icon-white"></i> Help</a></li>
										<li class="divider"></li>
										<li><a title="" href="#">About Us</a></li>
										<li><a title="" href="#">News &amp; Events</a></li>
										<li><a title="" href="#">Suggestions/Feedback</a></li>
									</ul>
								</li>
							</ul>
							</div><!--/span4-->
							<div class="span8">
<ul id="cul_top-right" class="nav pull-right"> 
            <li class="dropdown menu"><a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087">My Library Account</a></li>
            <li class="dropdown menu"><a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
	    	<ul class="dropdown-menu menu-dropdown">
<li><a href="#">Clio Help</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Libraries Website Help</a></li>
<li><a href="#">Research Help</a></li>
<li><a href="#">Report A Problem </a>
<ul>
<li><a href="#">E-Resource Problem Report</a></li>
<li><a href="#">Suggestions & Comments</a></li>
</ul>
</li>
<li><a href="#">Site Index</a></li>
		</ul>
	  </li>
          </ul>

							</div><!--/span8-->
							</div><!--/row-->
						</div><!-- /cul_top -->
					<h1 class="topbarlogo">
						<a data-original-title="Columbia University Libraries" class="brand visible-tablet" href="/">Columbia University Libraries</a>
						<a data-original-title="Columbia University Libraries" class="brand visible-phone" href="/">LibraryWeb</a>
					</h1>
					</nav>


					<div id="topnav-collapse" class="nav-collapse collapse">
						<!-- TODO: Clean up unnecessary classes.-->
						<div class="hidden-desktop navbar-search pull-right" id="topbarformdiv">
							<form action="#" method="get" id="topsearchform" class="searchform" accept-charset="UTF-8">
								<input type="hidden" value="true" name="search">
								<div class="input-append">
									<div id="top_q_wrapper" class="pull-left">
										<div class="pull-right span1 btn-group nomar nopad">
											<a data-original-title="Search Sources" title="Select Your Search Source" data-rel="tooltip" class="span1 pull-right btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" id="advo_link" href="#"><span>Everything</span> <b class="caret"></b></a>
											<div class="dropdown-menu">
												<strong>Search:</strong>
												<ul id="top_datasource" class="unstyled">
													<li><label class="radio"><input checked="checked" name="datasource" type="radio"><span>Everything</span></label></li>
													<li><label class="radio"><input name="datasource" type="radio"><span>Databases</span></label></li>
													<li><label class="radio"><input name="datasource" type="radio"><span>E-Journals</span></label></li>
													<li><label class="radio"><input name="datasource" type="radio"><span>Articles</span></label></li>
													<li class="noborder"><label class="radio"><input name="datasource" type="radio"><span>LibraryWeb</span></label></li>
													<li class="divider"></li>
												</ul>
											</div>
										</div>
										<input type="text" class="span4 pull-left" data-content="Enter your search terms." data-original-title="Search the Libraries" id="q" name="q" placeholder="Start a new search&hellip;" value="">
									</div>
									<label data-original-title="Submit Your Search" data-rel="tooltip" id="top_form_submit_label" class="pull-left add-on btn-primary">
										<a class="submitss white" id="top_form_submit" href="#"><i class="icon-search icon-white"></i></a>
										<input type="submit" class="hidden invisible">
									</label>
								</div>
								<input type="hidden" value="✓" name="utf8">
								<input type="hidden" value="true" name="search">
							</form>
						</div>
					</div> <!-- //.nav-collapse collapse -->
				</div>
			</div>
		</div> <!-- /#topnavbar.navbar-fixed-top -->
	</header>

