%header
  %h1.hide CUL - Header
  #topnavbar.navbar.navbar-fixed-top
    .navbar-inner.fill
      #navbar-container.container-fluid
        .row-fluid
          %nav
            #cul_top-nosearch.span12
              .row-fluid
                .span4
                  %ul#crowndown-nosearch.nav.pull-left
                    %li.dropdown.menu
                      %a.dropdown-toggle.menu{"data-toggle" => "dropdown", :href => "#", :title => "Links @ Columbia"}
                        %img{:alt => "CU", :src => "../img/crown-bts-24x24.png"}
                          %span.topbarlogo
                            Columbia University Libraries
                            %b.caret
                      %ul.dropdown-menu.menu-dropdown
                        %li
                          %a{:href => "http://columbia.edu"} Columbia University - Home
                        %li
                          %a{:href => "http://library.columbia.edu"} Libraries - Home
                        %li.divider
                        %li
                          %a{:href => "#"}
                            %i.icon-time.icon-white
                            Library Hours
                        %li
                          %a{:href => "#"}
                            %i.icon-question-sign.icon-white
                            Ask a Librarian
                        %li
                          %a{:href => "#"}
                            %i.icon-heart.icon-white
                            Alumni & Friends
                        %li
                          %a{:href => "#"}
                            %i.icon-briefcase.icon-white
                            Job Seekers
                        %li
                          %a{:href => "#"}
                            %i.icon-plane.icon-white
                            Visitors
                        %li.divider
                        %li
                          %a{:href => "#"}
                            %i.icon-info-sign.icon-white
                            FAQ
                        %li
                          %a{:href => "#"}
                            %i.icon-flag.icon-white
                            Help
                        %li.divider
                        %li
                          %a{:href => "#", :title => ""} About Us
                        %li
                          %a{:href => "#", :title => ""} News & Events
                        %li
                          %a{:href => "#", :title => ""} Suggestions/Feedback


                .span8
                  %ul#cul_top-right.nav.pull-right
                    %li.dropdown.menu
                      %a{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087"} My Library Account
                    %li.dropdown.menu
                      %a{:href => "http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087"} Feedback 
                    %li.dropdown.menu
                      %a.dropdown-toggle.menu{"data-toggle" => "dropdown", :href => "#"}
                        Help
                        %b.caret
                      %ul.dropdown-menu.menu-dropdown
                        %li
                          %a{:href => "#"} Clio Help
                        %li
                          %a{:href => "#"} FAQ
                        %li
                          %a{:href => "#"} Libraries Website Help
                        %li
                          %a{:href => "#"} Research Help
                        %li
                          %a{:href => "#"} Report A Problem
                          %ul
                            %li
                              %a{:href => "#"} E-Resource Problem Report
                            %li
                              %a{:href => "#"} Suggestions & Comments
                        %li
                          %a{:href => "#"} Site Index
