- cache("top_navigation_bar_#{current_user}") do
  .header{:data => {'ga-action' => 'Top NavBar Click'} }
    %h1.hide CUL - Header
    #topnavbar.navbar.navbar-fixed-top
      .container.fill
        #navbar-container.container
          .row
            %nav
              #cul_top-nosearch.col-sm-12
                .row
                  .col-sm-12
                    %ul#crowndown-nosearch.nav.navbar-left
                      = render :partial => "/top_nav/crown_menu"

                    %ul.nav.navbar-nav.navbar-right
                      = render :partial => "/top_nav/login_menu"
                      = render :partial => "/top_nav/help_menu"
