.row
  - @search_layout['columns'].each do |column|
    %div{:class => "result_column col-sm-6"}
      - column['searches'].each do |search|

        - result = @results[search['source']]
        - if result
          - source = DATASOURCES_CONFIG['datasources'][search['source']]
          - warning = source ? source['warning'] : nil;

          - if search['source'] == 'lweb'
            = render partial: '/spectrum/lweb/quicksearch_panel.html.haml', locals: {source: source, warning: warning}
          - else
            .result_set.async_result_set{:"data-result-set" => spectrum_searchjson_path(Blacklight::Parameters.sanitize(params.to_unsafe_h).to_hash.merge(:datasource => search['source'] )), :"data-source" => search['source']}
              = render partial: "/spectrum/aggregate/result_header_async", locals: {source: search['source'], result: result, title: source['title'], description: source['description']}
              = render partial: '/datasource_warning', locals: {warning: warning}

              .loading_block
                Loading...
                =image_tag('ajax-indicator.gif')

