
<% cs_id  = APP_CONFIG['google']['custom_search_id'] || '' %>
 
<script async src="https://cse.google.com/cse.js?cx=<%=cs_id%>"></script>
<div class="gcse-searchresults-only"></div>

<div class='result'>
  <!-- dummy empty div to pass test suite -->
</div>

