
- if @results.empty?
  -# Caching at this level yields incorrect datasource landing pages
  -# - cache('all_landing_pages_no_results') do

  -# Switch from load-all/javascript-select to
  -# load-active-only.  
  -# = add_all_datasource_landing_pages
  = datasource_landing_page(@active_source)

- else
  = render :partial => "/spectrum/#{@search_layout['style']}"
