

// best_bets.html.haml - empty div, to be filled with Best Bets results

#best_bets{ data: { url: APP_CONFIG['best_bets_url'], datasource: active_source } }

-# The Best Bets modal is to support Firefox keyboard redirection
#best-bets-modal.modal.fade
