

// best_bets.html.haml - empty div, to be filled with Best Bets results

-# NEXT-1499 - "drop down, no panel" - only provide enough for the drop-down
-# #best_bets{ data: { query: params['q'], url: APP_CONFIG['best_bets_url'] } }
-#   #best_bets_hits
-#     -# %b
-#     -#   Best Bets
#best_bets{ data: { url: APP_CONFIG['best_bets_url'] } }

