
-# Map Rails Flash types to Bootstrap 3 style colors
- flash_map = {success: 'success', notice: 'info', alert: 'warning', error: 'danger'}.with_indifferent_access

#main-flashes
  .flash_messages
    - flash.each do |type, message|
      - next if type.to_s == 'timedout'
      - display_class = flash_map[type] || type
      .alert{ class: "alert-#{display_class}"}
        = message
        %a.close{:"data-dismiss" => "alert", :href => "#"} x

