
-# Map Rails Flash types to Bootstrap 3 style colors
- flash_map = {success: 'success', :notice => 'info', alert: 'warning', error: 'danger'}

#main-flashes
  .flash_messages
    - flash.each do |type, message|
      - display_class = flash_map[type] || type
      .alert{ class: "alert-#{display_class}"}
        = message
        %a.close{:"data-dismiss" => "alert", :href => "#"} x

