#main-flashes
  .flash_messages
    - [:success, :notice, :error, :alert].each do |type| 
      - alert_class = type == :notice ? 'info' : type 
      - if flash[type] 
        .alert{ :class => "alert-#{alert_class}"}
          = flash[type]
          %a.close{:"data-dismiss" => "alert", :href => "#"} x
